<div class="events page">
  <h1>WAVE FARM RADIO APP</h1>
  <p>The Wave Farm Radio App Is Here. 
  </p>
  <h2>Listen live; explore the archives; transmit your own audio.</h2>
  <p>
   <a href="https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8" target="_new">https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8</a>
  </p><p>
The Wave Farm app allows users to listen to live audio from any of the Wave Farm webstreams including WGXC 90.7-FM, Standing Wave Radio (formerly known as Wave Farm Radio), Quintron's "Weather Warlock," Zach Poff's "Ponds Station," and other partner streams. Users may also create custom playlists from thousands of archived audio files. Wave Farm transmit partners and WGXC broadcast partners may now stream their own audio feeds from their iPhones and iPads. An Andriod version of the App will be developed as soon as funding allows.</p>
</div>
