<div class="events page">
  <h1>TRANSMISSION ART ARCHIVE: ARTISTS + WORKS</h1>
<p>Wave Farm's Transmission Art Archive is a specialized online resource of artists' experiments with broadcast media and the airwaves. The resource contains primary materials from early microradio broadcast collaborations among Brooklyn-based artists in the mid-nineties, transmission works created by the over 100 artists who have been awarded Wave Farm residencies since 2005, as well as historical and contemporary projects that comprise the canon of the genre. Click <a href="/ta/artists">Artists</a> or <a href="/ta/works">Works</a> to explore the Archive.
</p>

<h2>ABOUT TRANSMISSION ART</h2>  
<p>
Transmission art encompasses works in which the act of transmitting or receiving is not only significant, but the fulcrum for the artist’s intention. The genre is more loosely defined as a multiplicity of practices that engage aural and visual broadcast media, where in some instances works for traditional broadcast are created, and at other times artists harness preexisting broadcast signals as source material manipulated in live performance; installation; and public interactive networks and tools.
</p><p>
Wave Farm’s major publication, “Transmission Arts: Artists & Airwaves” (PAJ Publications: 2011), identifies a genealogy for the genre. The book cites 150 artists and works from 1921 to 2010, and has been incorporated into media art and intermedia studies curricula, as well as several recent international conferences specific to transmission art and radio as art.
</p><p>
The book's earliest citation, Khlebnikov’s manifesto, “The Radio of the Future” (1921), prophesied an evolution of the medium where text, images, scents, and even flavors could be communicated through broadcast. In what is perhaps the first conception of transmission art, Khlebnikov envisioned a future where radio would emit ethereal art exhibitions.
</p><p>
Similarly interested in the synaesthetic possibilities of radio, much of contemporary transmission art is influenced by Hörspiel, translated literally as radio play, and simultaneously informed by new wireless technologies. These works often challenge conventional relationships of transmitter (or artist) and receiver (or audience) and celebrate a Brechtian utopia of interactive two-way media.
</p><p>
In February 2011, Wave Farm launched WGXC 90.7-FM. This uniquely creative community FM radio project dedicates an unprecedented number of hours (in the US) to transmission arts and experimental sound programming and has become a significant force in an international resurgence of creative radio practice and scholarship.
</p><p>
<i>Wave Farm's Transmission Art Archive is supported in part by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature.</i>
</p>
</div>
