<link href="/artists-works.css" rel="stylesheet" />

<div class="page ta artists-page">


	<div class="artists-container">
	
	 <h1>ARTISTS</h1>
	 <p>Some descriptive copy.<br />Maybe some more</p>
	 <p>browse artists alphabetically below</p>
	 <p>or search the archive in upper right by keyword, artist name, or project name</p>
	 <p>Click on any artist below for details</p>
	 
	  <!-- Artists will be filled in client-side -->
	  <div class="artists">
	  	
				<div class="alpha" id="alpha">
          <div class="top arrow move" style="left: 2.01138187504871px; display: block;"><img src="/images/highlightarrow_top.gif" width="20" height="15"></div>
          <nav><a href="/ta/artists/a">A</a><a href="/ta/artists/b">B</a><a href="/ta/artists/c">C</a><a href="/ta/artists/d">D</a><a href="/ta/artists/e">E</a><a href="/ta/artists/f">F</a><a href="/ta/artists/g">G</a><a href="/ta/artists/h">H</a><a href="/ta/artists/i">I</a><a href="/ta/artists/j">J</a><a href="/ta/artists/k">K</a><a href="/ta/artists/l">L</a><a href="/ta/artists/m">M</a><a href="/ta/artists/n">N</a><a href="/ta/artists/o">O</a><a href="/ta/artists/p">P</a><a href="/ta/artists/q">Q</a><a href="/ta/artists/r">R</a><a href="/ta/artists/s">S</a><a href="/ta/artists/t">T</a><a href="/ta/artists/u">U</a><a href="/ta/artists/v">V</a><a href="/ta/artists/w">W</a><a href="/ta/artists/x">X</a><a href="/ta/artists/y">Y</a><a href="/ta/artists/z">Z</a><a href="/ta/artists/0">0-9</a></nav>
          <div class="bottom arrow" style="left: 2.01138187504871px; display: block;"><img src="/images/highlightarrow_bottom.gif" alt="" width="20" height="15"></div>
        </div>	  		  
        
        <form method="get" action="/ta/artists">
        	<input id="search-input" name="q" placeholder="SEARCH BY ARTIST NAME" size="40"/>
        	<input type="submit" style="display:none;" />
        </form>
        
        
	  </div>

		<h2 class="letter-title"></h2>

		<div class="artists-list">		
      <div class="artist-info">
        <h3 class="artist-name"><span></span></h3>
        <div class="artist-description">
          <p></p>
          <div class="actions"><a class="more" href="">more details</a></div>
        </div>
      </div>		
		</div>
	</div>

</div>
