<nav class="primary ta">
  <a href="/ta/residencies" id="residencies-nav">RESIDENCY</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/research" id="archive-nav">STUDY CENTER</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/archive" id="archive-nav">ARTISTS + WORKS</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/schedule" id="schedule-nav">WAVE FARM RADIO</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/newsroom" id="newsroom-nav">NEWSROOM</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/calendar" id="calendar-nav">EVENTS</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/support" id="support-nav">SUPPORT</a>
</nav>
<nav id="nav-secondary-ta" class="secondary ta">
  <a href="/ta/artists" id="artists-nav">ARTISTS</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/works" id="works-nav">WORKS</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/ta/app" id="app-nav">APP</a>

</nav>
<script src="/scripts/ta-nav.js"></script>
