<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page ta calendar-page news">

	<div class="datepicker-container">{{>datepicker}}</div>
		
	<div class="calendar-container">
										
		<h1>Wave Farm Newsroom</h1>
		  <p>Transmission Art news, radio news, open calls, media news, radio theatre, and more, from Wave Farm.</p>
		  <p>Additional radio news sources: <a href="http://americanbandscan.blogspot.com/" target="_new">	American Bandscan	 | 
<a href="http://blog.commarts.wisc.edu/" target="_new">	Antenna	 | 
<a href="http://www.arrl.org/news" target="_new">	ARRL News	 | 
<a href="http://arstechnica.com/" target="_new">	Ars Technica	 | 
<a href="http://www.broadcastlawblog.com/" target="_new">	Broadcast Law Blog	 | 
<a href="http://monitor-post.blogspot.com/" target="_new">	Btown Monitoring Post	 | 
<a href="http://www.commlawblog.com/" target="_new">	Communications Law Blog	 | 
<a href="http://diymedia.net/" target="_new">	DIYmedia.net	 | 
<a href="http://www.engineeringradio.us/blog/" target="_new">	Engineering Radio	 | 
<a href="http://mt-fedfiles.blogspot.com/" target="_new">	Fed Files Blog	 | 
<a href="https://www.fcc.gov/encyclopedia/fcc-updates-and-releases" target="_new">	Federal Communications Commission	 | 
<a href="http://www.freepress.net/press-releases" target="_new">	Free Press	 | 
<a href="http://www.fmqb.com/home.asp" target="_new">	Friday Morning Quarterback	 | 
<a href="http://www.kimandrewelliott.com/" target="_new">	Kim Andrew Elliott	 | 
<a href="http://rbr.com/" target="_new">	Radio and Television Business Report	 | 
<a href="http://www.radioink.com/" target="_new">	Radio Ink	 | 
<a href="http://www.radiosurvivor.com/" target="_new">	Radio Survivor	 | 
<a href="http://www.radioworld.com/index" target="_new">	Radio World	 | 
<a href="http://home.recnet.com/" target="_new">	REC Networks	 | 
<a href="http://mt-shortwave.blogspot.com/" target="_new">	Shortwave Central	 | 
<a href="https://www.techdirt.com/" target="_new">	TechDirt	 | 
<a href="http://swling.com/blog/" target="_new">	The SWLing Post	 | </p>
		<h2>CLICK ON A NEWS TITLE BELOW FOR MORE INFO</h2>
				  
		<!-- Calendar HTML will be filled in server-side -->
		<!-- Calendar data will be filled in client-side -->
		<div class="calendar-div">{{>calendar}}</div>

	</div>
</div>
