<div class="side ta">
  <ul> 
    <li><a href="#residency"><h3>Wave Farm Residency Program (June - October)</h3></a></li>
    <li><a href="#apply">Online Application</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#fee">Artist Fee</a></li>
    <li><a href="#accommodations">Accommodations</a></li>
    <li><a href="#transportation">Transportation + Meals</a></li>
    <li><a href="#eligibility">Eligibility</a></li>
    <li><a href="#review">Review + Notification Process</a></li>
    <li><a href="#past"><h3>Past Residents</h3></a></li>
    <li><a href="#visiting"><h3>Visiting Artist Opportunites<br> (Year-round)</h3></a></li>
    <li><a href="#broadcast">Year-round broadcast opportunities</a></li>
  </ul>
</div>
<div class="ta page split">
  <h1><a id="introduction"></a>WAVE FARM RESIDENCY PROGRAM</h1> 
  <p>The Wave Farm Residency program provides artists with a valuable opportunity to concentrate on new transmission works and conduct research about the genre using the Wave Farm Study Center resource library. In conjunction with their residencies, artists perform, are interviewed, and create playlists for broadcast on Wave Farm's WGXC 90.7-FM, a creative community radio station serving over 78,000 potential listeners in New York's Upper Hudson Valley, and international listeners online.</p>
 
    <p>WGXC 90.7-FM is a program division of Wave Farm. Visit the <a href="/programs">Program</a> link in the footer at the bottom of this page for more information about WGXC and other Wave Farm programs.</p>


  <h2><a id="apply"></a>ONLINE APPLICATION</h2>
  
  <p>APPLICATIONS MUST BE SUBMITTED ONLINE

  <p>IMPORTANT NOTE: Wave Farm is now using Submittable in conjunction with our application-based programs. Applicants are strongly encourage to carefully and comprehensively read the information below before submitting an application. Please contact info@wavefarm.org with questions.</p>
  <!-- Link to the Wave Farm submission manager. --->
<a href="http://wavefarm.submittable.com/submit"><img src="//manager.submittable.com/Public/Images/submittable-submit-button.png" alt="submit" border="0" /></a>
<!-- End link to submission manager --></p>             
  
  
  
  <h2><a id="schedule"></a>SCHEDULE</h2>
  
  <p>Residencies (taking place June - October) span 10 days, with a Friday arrival, and Sunday departure.</p>
    
  <h2><a id="fee"></a>ARTIST FEE</h2>
    
  <p>A $700 artist fee is be made available for each residency.</p>
    
  <h2><a id="accommodations"></a>ACCOMMODATIONS</h2>
    
  <p>The Residency Program hosts one artist at a time. Artists, which may include collaborative teams, are housed in the Wave Farm Study Center. Accommodations in the Study Center include two bedrooms (one full-sized bed each), studio workspace, kitchenette, lavatory, shower, as well as the Study Center library, WGXC 90.7-FM Acra broadcast studio, and Wave Farm offices. The Study Center is located on 29 acres, in the northern foothills of the Catskill Mountain Park. The property features meadows, two small ponds, and a pine forest with large walking paths. WiFi, electrical and audio hook-ups are available throughout the bulk of the property. Please note: day visitors are welcome. Overnight guests (including family members), and pets, are not permitted.</p>
    
  <h2><a id="transportation"></a>TRANSPORTATION + MEALS</h2>
    
  <p>Artists must pay for their own travel expenses as well as expenses related to meals during their stay. Transportation from the Hudson Amtrak station, the Kingston bus station, or the Albany airport is available, as well as local transportation for groceries and supplies.</p>
    
  <h2><a id="eligibility"></a>ELIGIBILITY</h2>
    
  <p>This is an international open call for proposals. Artists should either possess a significant body of past transmission-based work, or a compelling argument in support of their future work within the transmission art genre. Full-time students are ineligible; however, exceptions may be made on a case-by-case basis for career artists who may have returned to school for post-graduate work.</p>
    
  <h2><a id="review"></a>REVIEW + NOTIFICATION PROCESS</h2>
    
  <p>Applications will be evaluated in a peer review panel comprised of transmission artists, past residents, and Wave Farm staff. Finalists will be contacted for phone interviews, and notification will be made in March.</p>
    

<h1><a id="past"></a>PAST WAVE FARM RESIDENTS + FELLOWS</h1>

<p>
2015 <br>
Sarah Washington and Knut Aufermann (Uerzig, Germany)<br>
August Black (Oakland, CA)<br>
Collectif Radiophonique Oboro Radio Collective (Montreal, Canada)<br>
Ed Bear (Brooklyn, NY)<br>
Linda Aubry Bullock and Mike Bullock (Philadelphia, PA)<br>
Damian Catera and Patricia Kositzky (Jersey City, NJ)<br>
Simon Ripoll-Hurier (Patin, France)<br>
Gambletron (Montreal, Canada) <br>
Bernd Klug (Brooklyn, NY)<br>
Amanda Dawn Christie (Moncton, Canada)<br>
<br>
2014 <br>
Steve Bull (New York, NY)<br>
Bob Bellerue with Wanda Gala (Brooklyn, NY)<br>
Joe Milutis (Seattle, WA)<br>
Heidi Neilson (Long Island City, NY)<br>
Anna Ialeggio (Los Angeles, CA)<br>
Damon Baker (Brooklyn, NY)<br>
Patrick Quinn (Brooklyn, NY)<br>
Daniel Steffey (Oakland, CA)<br>
Mark Vernon (Glasgow, UK)<br>
Rimas Simaitis (Los Angeles, CA) <br>
<br>
2013<br>
Laura Hadden and Tennessee Watson (Brooklyn, NY)<br>
Zach Poff + N.B.Aldrich (Brooklyn, NY)<br>
Redux (Mark Cetilia and Joe Cantrell) (Providence, RI)<br>
Brian House (Providence, RI)<br>
SPEKTR collective (Aljosa Abrahamsberg, Matthew Biederman, Marko Peljhan, and Brian Springer) (Montreal, Canada) <br>
Cammisa Buerhaus (New York, NY)<br>
Hethre Contant (Brooklyn, NY) <br>
Sam Sebren (Athens, NY)<br>
Aliza Simons (Brooklyn, NY) <br>
<br>
2012<br>
Phillip Stearns, Philip White, Pete Edwards (Brooklyn, NY and Troy, NY)<br>
Jeff Kolar (Chicago, IL)<br>
Japanther (Brooklyn, NY)<br>
Anna Friz and Emmanuel Madan (Chicago, IL and Montreal, Canada)<br>
Andrea-Jane Cornell (Montreal, Canada)<br>
David Galbraith (Brooklyn, NY)<br>
Jonathan Wright (United Kingdom)<br>
<br>
2010/2011 Fellowship Program<br>
Lea Bertucci and Ed Bear (Brooklyn, New York)<br>
Zach Layton (Brooklyn, New York)<br>
Phillip Stearns (Brooklyn, New York)<br>
<br>
2009/2010 Fellowship Program<br>
Brett Ian Balogh (Chicago, IL)<br>
Sabine Gruffat & Bill Brown (Madison, WI)<br>
Zach Poff (Brooklyn, NY)<br>
<br>
2008<br>
Justin Downs (Brooklyn, New York)<br>
Marie Evelyn (New York, New York)<br>
Todd Merrell (Hartford, Connecticut)<br>
Ian Page (Brooklyn, New York)<br>
Ann Hepperman (Long Island City, New York), Jason Cady (Brooklyn, New York), Kara Oehler (Somerville, Massachusetts)<br>
Ralf Homann (Munich, Germany)<br>
Brett Ian Balogh (Chicago, IL)<br>
<br>
2007<br>
31 Down (Benjamin Brown, Ryan Holsopple, Shannon Sindelar, Mirit Tal) (Brooklyn, New York)<br>
Cross Current Resonance Transducer (LoVid: Tali Hinkis & Kyle Lapidus; Douglas Repetto) (New York, New York)<br>
Evidence (Stephan Moore, Scott Smallwood) (Troy, New York)<br>
Sarah Kanouse (Murphysboro, Illinois)<br>
Raphael Lyon (Providence, Rhode Island)<br>
Kenta Nagai (Brooklyn, New York)<br>
neuroTransmitter (Angel Nevarez, Valerie Tevere) (Brooklyn, New York)<br>
Marisa Olson (Brooklyn, New York)<br>
Shawn Onsgard (Brooklyn, New York)<br>
John Roach & James Rouvelle (Brooklyn, New York)<br>
<br>
2006<br>
31 Down (Brooklyn, New York)<br>
Stephanie Rothenberg (Buffalo, New York)<br>
Sophea Lerner (Helsinki, Finland)<br>
Karin Bolender (Weyers Cave, Virginia)<br>
Scanner (London, England)<br>
Jeff Fedderson (Brooklyn, New York)<br>
Joe Milutis(Providence, Rhode Island)<br>
Bart Woodstrup (Troy, New York)<br>
LoVid, Cross Current Resonance Transducer (New York, New York)<br>
Jesse Pearlman Karlsberg (Troy, New York)<br>
Matthew Ostrowski (Brooklyn, New York)<br>
<br>
2005<br>
Joshua Fried (Brooklyn, New York)<br>
Damian Catera (Jersey City, New Jersey)<br>
Tianna Kennedy (Brooklyn, New York)<br>
Michelle Nagai with NYSAE Members (Brooklyn, New York)<br>
neuroTransmitter (Angel Nevarez, Valerie Tevere) (Brooklyn, New York)<br>
Ben Owen (Brooklyn, New York)<br>
Radio Ruido (Brooklyn, New York)<br>
</p>

<h1><a id="visiting"></a>VISITING ARTISTS OPPORTUNITIES</h1>
<p>Year-round artists are invited to propose special projects for Saturday and late night broadcast on Wave Farm's WGXC 90.7-FM. Please send a detailed inquiry to info [at] wavefarm.org.</p>


  

    
</div>




