<div class="side ta">
  <ul> 
    <li><a href="#residency"><h3>Wave Farm Residency Program (June - October)</h3></a></li>
    <li><a href="#apply">Online Application</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#fee">Artist Fee</a></li>
    <li><a href="#accommodations">Accommodations</a></li>
    <li><a href="#transportation">Transportation + Meals</a></li>
    <li><a href="#eligibility">Eligibility</a></li>
    <li><a href="#review">Review + Notification Process</a></li>
    <li><a href="#visiting"><h3>Visiting Artist Opportunites<br> (Year-round)</h3></a></li>
    <li><a href="#past"><h3>Past Residents</h3></a></li>
    <li><a href="#broadcast">Year-round broadcast opportunities</a></li>
  </ul>
</div>
<div class="ta page split">
  <h1><a id="introduction"></a>WAVE FARM RESIDENCY PROGRAM</h1> 
  <p>The Wave Farm Residency program provides artists with a valuable opportunity to concentrate on new transmission works and conduct research about the genre using the Wave Farm Study Center resource library. In conjunction with their residencies, artists perform, are interviewed, and create playlists for broadcast on Wave Farm's WGXC 90.7-FM, a creative community radio station serving over 78,000 potential listeners in New York's Upper Hudson Valley, and international listeners online.</p>
 
    <p>WGXC 90.7-FM is a Program Division of Wave Farm. Essential information about how WGXC relates to Wave Farm's programs and activities-at-large is available via the <a href="/about">About</a> link in the footer at the bottom of this page.</p>


  <h2><a id="apply"></a>ONLINE APPLICATION</h2>
  
  <p>APPLICATIONS MUST BE SUBMITTED ONLINE

  <p>IMPORTANT NOTE: Wave Farm is now using Submittable in conjunction with our application-based programs. Applicants are strongly encourage to carefully and comprehensively read the information below before submitting an application. Please contact info@wavefarm.org with questions.</p>
  <!-- Link to the Wave Farm submission manager. --->
<a href="http://wavefarm.submittable.com/submit"><img src="//manager.submittable.com/Public/Images/submittable-submit-button.png" alt="submit" border="0" /></a>
<!-- End link to submission manager --></p>             
  
  
  
  <h2><a id="schedule"></a>SCHEDULE</h2>
  
  <p></p>
    
  <h2><a id="fee"></a>ARTIST FEE</h2>
    
  <p></p>
    
  <h2><a id="accommodations"></a>ACCOMMODATIONS</h2>
    
  <p></p>
    
  <h2><a id="transportation"></a>TRANSPORTATION + MEALS</h2>
    
  <p></p>
    
  <h2><a id="eligibility"></a>ELIGIBILITY</h2>
    
  <p></p>
    
  <h2><a id="review"></a>REVIEW + NOTIFICATION PROCESS</h2>
    
  <p></p>
    

<h1><a id="past"></a>PAST RESIDENTS</h1>

<h1><a id="visiting"></a>VISITING ARTISTS OPPORTUNITIES</h1>



  

    
</div>




