<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page ta schedule-page">

	<div class="datepicker-container"></div>

	<div class="calendar-container">
	
	 <h1>WAVE FARM RADIO SCHEDULE</h1>
	 <p>Wave Farm Radio (1620-AM and streaming on <a href="https://wavefarm.org/listen/wgxc" target="_new">wavefarm.org</a>) features Transmission Arts and Experimental Sound programming around the clock. Overnights from midnight to 6 a.m. and all-day Saturday, Wave Farm Radio programming is broadcast on Wave Farm's WGXC 90.7-FM in New York's Upper Hudson Valley.
	<h2>CLICK ON A BROADCAST BELOW FOR MORE INFO</h2>
	 <!-- 
	 <br /> <a href="https://docs.google.com/spreadsheets/d/1G0ODCSHPvsOByxx6rYnbpF3I1TmzZPLcSSdt46JPV_Y/edit?usp=sharing" target="_new">View Full Schedule Grid</a>
	 <br /><a href="/wgxc/volunteer#application">Submit a Program Application</a>
	 <br /><a href="mailto:lynn@wgxc.org">Request a Live Broadcast</a></p>
	  -->
	 
	  <!-- Schedule will be filled in client-side -->
	  <div class="schedule">
	    <div class="day">
	      <div class="calendar-card">
	        <div class="calendar-card-topbar"></div>
	        <div class="weekday">TODAY</div>
	        <div class="month"></div>
	        <div class="monthday"></div>
	      </div>
	      <div class="broadcast-list">
	        <div class="broadcast">
	          <div class="broadcast-time"></div>
	          <div class="broadcast-info">
	            <h3 class="broadcast-name"><span></span></h3>
	            <div class="broadcast-description">
	              <p></p>
	              <div class="actions"><a class="more" href="">more details</a></div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <form>
	    <div class="more">
	      <input id="more" name="more" type="button" value="View Another Week">
	    </div>
	  </form>
	</div>

</div>
