<style>	
	.main {
	  margin: 0 0;
	  max-width: 100%;
	}
</style>

<div class="schedule-grid page">

	 <h1>WAVE FARM RADIO SCHEDULE GRID</h1>
	 <p>Wave Farm Radio (1620-AM and streaming on <a href="https://wavefarm.org/listen/wgxc" target="_new">wavefarm.org</a>) features Transmission Arts and Experimental Sound programming around the clock. Overnights from midnight to 6 a.m. and Saturdays, Wave Farm Radio programming is also broadcast on Wave Farm's <a href="/wgxc">WGXC 90.7-FM</a> in New York's Upper Hudson Valley.
	
	<p><a href="https://docs.google.com/forms/d/162BpUzPDwevw5EhKgGgi9fxdcXfHrO2FoLGFnJP1oQk/viewform" target="_new">Click here to submit an application for a show on Wave Farm Radio</a></p>
	
	<h2>CLICK ON A BROADCAST BELOW FOR MORE INFO</h2>
 
 	<table class="schedule-grid">
 		<tr>
 			<th style="width:5%;">&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wednesday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
	</table>
		
	<div id="loading">Loading...</div>
		
		
</div>
