<div class="side ta">
  <ul>
    <li><a href="#donate"><h3>Donate</h3></a></li>
    <li><a href="#donate">Make a tax-deductible contribution.</a></li>
    <li><a href="#volunteer"><h3>Volunteer</h3></a></li>
    <li><a href="#volunteer">Volunteer + Internship Opportunities</a></li>
    <li><a href="#dispatch"><h3>Dispatch Series</h3></a></li>
    <li><a href="#dispatch">CDs, LPs, CSs, Catalogues, Artists' Multiples, and Downloads</a></li>
    <li><a href="#merchandise"><h3>Merchandise</h3></a></li>
    <li><a href="#merchandise">Wave Farm T-shirts, stickers, and more.</a></li>

  </ul>
</div>
<div class="ta page split">


<a id="donate"></a><h1>DONATE</h1>
<p> Wave Farm is a 501(c)3 non-profit organization. Contributions from individuals, which are tax-deductible to the full-extent of the law, provide a critical means of program support.  </p>

<h2>DONATE ONLINE</h2>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="DUGA23M9QP2RC">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: Wave Farm<br />
Mail to: 5662 Route 23, Acra, NY 12405.</p>

<h2>STOCK / SECURITIES DONATION</h2>
<p>Wave Farm is now able to accept donations of stock.<br /><br />
With a charitable gift of appreciated shares held long-term, the donation you make and the deduction you get are greater than they would be if you were to instead sell the shares and donate the cash proceeds. This is because when you donate shares, you avoid paying the capital gains tax.
For more information about making this type of donation to Wave Farm’s WGXC, please contact Galen Joseph-Hunter galen [at] wavefarm.org or (518) 622-2598.</p>

<h1><a id="volunteer"></a>VOLUNTEER</h1>
<p>Volunteers assist with the Wave Farm Artists Residency Program, Transmission Arts + Experimental Sounds Radio Programming on WGXC 90.7-FM, and the Wave Farm Study Center Library + Archives. Applicants should be prepared to commit one to two days a week (including Saturdays.) Applicants should posses enthusiasm for transmission arts and be interested in an immersive experience including hands-on work with artists and the inner workings of a non-profit arts organization. To apply, submit a letter of interest, specifying your availability, and resume for consideration to info@wavefarm.org.
<p></p>
Past Wave Farm interns have gained valuable experience while contributing to Wave Farm programs and projects. Past interns include Maria Papadomanolaki, Penny Duff, Lily Gottlieb-McHale, Mara Barenbaum, Greg Fox, Victoria Estok, Goro Ikeda-Iyeki, Nina Bar-Giora, and Kira DeCoudres among others.</p>

<h1><a id="dispatch"></a>DISPATCH SERIES</h1>
<p>
Wave Farm Dispatches Series Releases take the form of CDs, LPs, CSs, Catalogues,  Artists' 
    Multiples, and Downloads, and feature commissioned transmission artworks, recordings  from previous Wave Farm (aka free103point9) events, and special 
	artists projects. Click on a title below for more information about the Dispatch Release.</p>

<p>
<a href="/archive/na24r8"><em>Ringtones</em></a> Jeff Kolar (AD040)
<br />
<a href="/archive/sq1fm4"><em>Tinderbox: v1.01</em></a> Brett Ian Balogh (AD039)
 <br /><a href="/work/hq9yp7"><em>Corpse of Discovery with Bryan Zimmerman</em></a> 
    
	(AD038)<br /><a href="/archive/"><em>The Worst Hour of the Year</em></a>  
    Tom Roe
	(AD037)<br /><a href="/archive/bs4tvv"><em>Giant Ear))) webradio: Inside/Out NYC</em></a> 
   NYSAE
	(AD036)<br /><a href="/archive/67jpdm"><em>Receiver</em></a> 
    Evidence
	(AD035) <br /><a href="/archive/vpk1nc"><em>Radio Action III</em></a> 
    free103point9 Transmission Artists
	(AD034)<br /><a href="/archive/casy2c"><em>Free for La Superette 2007</em></a> 
    Various artists
	(AD033)<br /><a href="/archive/tykwcc"><em>False Rosetta</em></a> 
    Radio Ruido
	(AD032) <br /><a href="/archive/kdnyqq"><em>Solar Filters/Mother Evening</em></a> 
    Latitude/Longitude
	(AD031) <br /><a href="/archive/2vjdsb"><em>QSL Serial</em></a> 
    Max Goldfarb
	(AD030)<br /><a href="/archive/psqysd"><em>Tens of Thousands</em></a> 
      The Dust Dive Flash
    (AD029) <br /><a href="/archive/19j35v"><em>Wave Guide</em></a> 
  (AD028)
<br /><a href="/archive/gxsvd5"><em>Crossed Circuits</em></a> 
      Various artists
 (AD027) <br /><a href="/archive/7thnt0"><em>Tune(In))) The Kitchen</em></a> 
Various	artists  (AD026)
  <br /><a href="/archive/3nznag"><em>Radio 4x4 at 'Rock's Role (After Ryoanji)'</em></a> 
      Gabriel Burian-Mohr + David Galbraith + David Matorin + Andrew Neumann
	  (AD025)
   <br /><a href="/archive/7zp27e"><em>Private Sectors</em></a> 
      Skyline
	  (AD024)
 <br /><a href="/archive/z4resf"><em>N.R.A. Recorded Live at OfficeOps</em></a> 
      Nakatani + Rawlings + Arias
    (AD023)  <br /><a href="/archive/ndn0n4"><em>Asleep or Awake Walk</em></a> 
      The Dust Dive
    (AD022)  <br /><a href="/archive/yx7gzn"><em>New Jack Swing</em></a> 
     Seth Price 
    (AD021)  <br /><a href="/archive/1ry4th"><em>Radio Action II</em></a> 
  Various artists
    (AD020) <br /><a href="/archive/knetpy"><em>Scape 2</em></a> 
     Various artists
    (AD019)  <br /><a href="/archive/wpc88z"><em>Interactive Audio Response Kit</em></a> 
      Matt Mikas
    (AD018)
  <br /><a href="/archive/gtmz8b"><em>Graduation</em></a> 
       Cline + Corsano + Giffoni
    (AD017) <br /><a href="/archive/368"><em>Noise Noir</em></a> 
      31 Down
    (AD016) 
  <br /><a href="/archive/antc9f"><em>Seed and surgery</em></a> 
      Sapat and The SB
    (AD015) 
  <br /><a href="/archive/sds2jp"><em>flipbook</em></a> 
      Eli Joseph-Hunter
    (AD014)<br /><a href="/archive/kej2s9"><em>Industrial Fist</em></a> 
      Seth Price
    (AD013)<br /><a href="/archive/e6mdd5"><em>Dado Blade</em></a> 
       Davidson, Dubbin, Onsgard
            
            
    (AD012) <br /><a href="/archive/jdrd0a"><em>Tune(In)))</em></a> 
     Various artists
    (AD011)
  <br /><a href="/archive/82kgqj"><em>Tune (In)))</em> Catalogue</em></a> 
      Various writers, designers
    (AD010)  <br /><a href="/archive/neyy6t"><em>Breakdown</em></a> 
      Tom Roe and A Forma Foma
    (AD009) <br /><a href="/archive/v1per1"><em>Radio Action I</em></a> 
Various artists
    (AD008) <br /><a href="/archive/kydttn"><em>The Archivist</em></a> 
      Various artists
    (AD007)<br /><a href="/archive/d24scg"><em>Sightings</em></a> 
      Sightings
    (AD006)<br /><a href="/archive/dm5t3e"><em>Of The Bridge</em></a> 
      Matt Bua + Matt Mikas + Tom Roe
    (AD005) <br /><a href="/archive/kyshq1"><em>From Pieces...</em></a> 
      various artists
    (AD004) 
       <br /><a href="/archive/gnbvsj"><em>Sprung</em></a> 
      Various artists (AD003) 
      <br /><a href="/archive/jz72y7"><em>Constructive Engagement</em></a> 
      Various artists
    
     (AD002) 
  
    <br /><a href="/archive/tbbm54"><em>Audio Dispatch 01</em></a> 
      Various artists
    (AD001) <br />
    <a href="/archive/55bnv1"><em>Early Dialogues</em></a> 
      Various artists
    (AD000) <br />
 </p>  
</p>

<h1><a id="merch"></a>MERCHANDISE</h1>
<p>Coming Soon!</p>


</div>
