<div class="side ta">
  <ul>
    <li><a href="#donate"><h3>Donate</h3></a></li>
    <li><a href="#donate">Make a tax-deductible contribution.</a></li>
    <li><a href="#volunteer"><h3>Volunteer</h3></a></li>
    <li><a href="#volunteer">Volunteer + Internship Opportunities</a></li>
    <li><a href="#dispatch"><h3>Dispatch Series</h3></a></li>
    <li><a href="#dispatch">CDs, LPs, CSs, Catalogues, Artists' Multiples, and Downloads</a></li>
    <li><a href="#merchandise"><h3>Merchandise</h3></a></li>
    <li><a href="#merchandise">Wave Farm T-shirts, stickers, and more.</a></li>

  </ul>
</div>
<div class="ta page split">


<a id="donate"></a><h1>DONATE</h1>
<p> Wave Farm is a 501(c)3 non-profit organization. Contributions from individuals, which are tax-deductible to the full-extent of the law, provide a critical means of program support.  </p>

<h2>DONATE ONLINE</h2>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="DUGA23M9QP2RC">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: Wave Farm<br />
Mail to: 5662 Route 23, Acra, NY 12405.</p>

<h2>STOCK / SECURITIES DONATION</h2>
<p>Wave Farm is now able to accept donations of stock.<br /><br />
With a charitable gift of appreciated shares held long-term, the donation you make and the deduction you get are greater than they would be if you were to instead sell the shares and donate the cash proceeds. This is because when you donate shares, you avoid paying the capital gains tax.
For more information about making this type of donation to Wave Farm’s WGXC, please contact Galen Joseph-Hunter galen [at] wavefarm.org or (518) 622-2598.</p>

<h1><a id="volunteer"></a>VOLUNTEER</h1>
<p>Volunteers assist with the Wave Farm Artists Residency Program, Transmission Arts + Experimental Sounds Radio Programming on WGXC 90.7-FM, and the Wave Farm Study Center Library + Archives. Applicants should be prepared to commit one to two days a week (including Saturdays.) Applicants should posses enthusiasm for transmission arts and be interested in an immersive experience including hands-on work with artists and the inner workings of a non-profit arts organization. To apply, submit a letter of interest, specifying your availability, and resume for consideration to info@wavefarm.org.
<p></p>
Past Wave Farm interns have gained valuable experience while contributing to Wave Farm programs and projects. Past interns include Maria Papadomanolaki, Penny Duff, Lily Gottlieb-McHale, Mara Barenbaum, Greg Fox, Victoria Estok, Goro Ikeda-Iyeki, Nina Bar-Giora, and Kira DeCoudres among others.</p>

<h1><a id="dispatch"></a>DISPATCH SERIES</h1>
<p></p>

<h1><a id="merch"></a>MERCHANDISE</h1>
<p></p>


</div>
