<div class="side ta">
  <ul>
    <li><a href="#donate"><h3>Donate</h3></a></li>
    <li><a href="#donate">Make a tax-deductible contribution.</a></li>
    <li><a href="#volunteer"><h3>Volunteer</h3></a></li>
    <li><a href="#volunteer">Volunteer + Internship Opportunities</a></li>
    <li><a href="#dispatch"><h3>Dispatch Series</h3></a></li>
    <li><a href="#dispatch">CDs, LPs, CSs, Catalogues, Artists' Multiples, and Downloads</a></li>
    <li><a href="#merchandise"><h3>Merchandise</h3></a></li>
    <li><a href="#merchandise">Wave Farm T-shirts, stickers, and more.</a></li>

  </ul>
</div>
<div class="ta page split">

  <h1>SUPPORT</h1>
Financial support through donations, underwriting, and merchandise sales, allows WGXC to meet the most basic operating costs, and keeps WGXC on your FM dial! Thank you!</a>
  <p> </p>

<a id="donate"></a><h1>DONATE</h1>
<p>WGXC is a program division of the 501(c)3 non-profit arts organization Wave Farm, and contributions to WGXC are tax-deductible to the full extent of the law.</p>

<h2>DONATE ONLINE</h2>
<p>Make a one-time donation or, better yet, become a sustaining supporter by investing in community radio every month. Choose to donate in any amount, and you can stop (or adjust your contribution) at any time. 
<a href="https://donatenow.networkforgood.org/wgxc" target="_new">Click Here to Donate Now!</a></p>

<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: WGXC<br />
Mail to: 5662 Route 23, Acra, NY 12405.</p>

<h2>STOCK / SECURITIES DONATION</h2>
<p>WGXC is now able to accept donations of stock.<br /><br />
With a charitable gift of appreciated shares held long-term, the donation you make and the deduction you get are greater than they would be if you were to instead sell the shares and donate the cash proceeds. This is because when you donate shares, you avoid paying the capital gains tax.
For more information about making this type of donation to Wave Farm’s WGXC, please contact Galen Joseph-Hunter galen [at] wavefarm.org or (518) 622-2598.</p>

<h1><a id="volunteer"></a>VOLUNTEER</h1>
<p></p>

<h1><a id="dispatch"></a>DISPATCH SERIES</h1>
<p></p>

<h1><a id="merch"></a>MERCHANDISE</h1>
<p></p>


</div>
