<div class="archive page">
  <h1>SEARCH</h1>
  <div class="item" id="{{item.id}}">
    <h2>
      <span class="item-main">{{item.main}}</span> <span class="item-type">({{item.type}})</span>
    </h2>
    <div class="bio">{{&item.bio}}</div>
    {{#item.hasWorks}}
    <div class="works">
      <h3>Works</h3>
      <ul>
        {{#item.works}}
        <li><a href="/ta/works/{{id}}">{{main}}</a></li>
        {{/item.works}}
      </ul>
    </div>
    {{/item.hasWorks}}
    {{#item.hasShows}}
    <div class="shows">
      <h3>Shows</h3>
      <ul>
        {{#item.shows}}
        <li><a href="/wgxc/schedule/{{id}}">{{main}}</a></li>
        {{/item.shows}}
      </ul>
    </div>
    {{/item.hasShows}}
    {{#item.hasAudio}}
    <div class="audio">
      <h3>Audio</h3>
      <ul>
        {{#item.audio}}
        <li><a href="/archive/{{id}}">{{main}}</a></li>
        {{/item.audio}}
      </ul>
    </div>
    {{/item.hasAudio}}
    {{#item.hasVideo}}
    <div class="video">
      <h3>Video</h3>
      <ul>
        {{#item.video}}
        <li><a href="/archive/{{id}}">{{main}}</a></li>
        {{/item.video}}
      </ul>
    </div>
    {{/item.hasVideo}}
    {{#item.hasImage}}
    <div class="image">
      <h3>Image</h3>
      <ul>
        {{#item.image}}
        <li><a href="/archive/{{id}}">{{main}}</a></li>
        {{/item.image}}
      </ul>
    </div>
    {{/item.hasImage}}
    {{#item.hasText}}
    <div class="text">
      <h3>Text</h3>
      <ul>
        {{#item.text}}
        <li><a href="/archive/{{id}}">{{main}}</a></li>
        {{/item.text}}
      </ul>
    </div>
    {{/item.hasText}}
    {{#item.hasBroadcasts}}
    <div class="broadcasts">
      <h3>Broadcasts</h3>
      <ul>
        {{#item.broadcasts}}
        <li><a href="/wgxc/schedule/{{id}}">{{main}}</a></li>
        {{/item.broadcasts}}
      </ul>
    </div>
    {{/item.hasBroadcasts}}
    {{#item.hasEvents}}
    <div class="events">
      <h3>Events</h3>
      <ul>
        {{#item.events}}
        <li><a href="/ta/calendar/{{id}}">{{main}}</a></li>
        {{/item.events}}
      </ul>
    </div>
    {{/item.hasEvents}}
  </div>
</div>
