<div class="archive page">
  <h1>SEARCH</h1>
  <div class="item" id="{{item.id}}">
    <h2>
      <span class="item-main">{{item.main}}</span> <span class="item-type">({{item.type}})</span>
    </h2>
    <div class="date">{{item.dateFormatted}}</div>
    <div class="credit">{{item.credit}}</div>
    <div class="description">{{&item.description}}</div>
    {{#item.hasVideoDownload}}
    <div class="download">
      <a href="{{item.url}}" download>Download ({{item.mimetype}})</a>
    </div>
    {{/item.hasVideoDownload}}
    {{#item.hasVideoLink}}
    <div class="download">
      <a href="{{item.url}}" target="_blank">View ({{item.mimetype}})</a>
    </div>
    {{/item.hasVideoLink}}    
	  <div class="related-items-container">{{> relatedItems}}</div>        
  </div>
</div>
