<div class="side">
  <p>Fall pledge drive image</p>
  <h3>Ongoing</h3>
  <div class="event">
    <h4>Event Title</h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <h3>Upcoming</h3>
  <div class="event">
    <h4>Event title </h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <div class="event">...</div>
  <div class="event">...</div>
</div>
<div class="page wgxc">
  <h1>WGXC (90.7-FM) HANDS-ON RADIO</h1> 
  <p>WGXC: Hands-on Radio is a creative community radio station based in New York’s Greene and Columbia counties. A program division of <a href="http://wavefarm.org">Wave Farm</a>, WGXC works to make radio (90.7-FM) that is a transformative platform for information, experimentation, and public engagement. </p>
 <h1>WGXC STAFF</h1> 
  <p>
    <a href="mailto:katy@wgxc.org">Katy Donnelly</a>, Program Director<br />
    <a href="mailto:jess@wgxc.org">Jessica Puglisi</a>, Outreach Coordinator<br />
    <a href="mailto:lynn@wgxc.org">Lynn Sloneker</a>, Station Manager / Managing News Editor<br />
  </p>
  
  
  <h1>CONSULTANTS</h1>
  <p>
    <a href="http://www.discount-legal.com/about-us.html" target="_blank">Michael Couzens and Alan Korn</a>, Broadcast Legal Counsel<br />
    <a href="//grrawr.com" target="_blank">Gabriel Farrell</a>, Site Developer<br />
    <a href="http://empirecpa.com/" target="_blank">Tom Fucito</a>, CPA<br />
</p>

  
  <h1>WGXC COMMUNITY COUNCIL</h1>
  <p>
  A group appointed by the Wave Farm Board of Directors, the WGXC Community Council serves in a significant advisory capacity to WGXC station management. The Council represents and reflects both the diversity of potential listeners served within the WGXC 90.7-FM coverage map, as well as the station’s active local constituents. In addition to representation, the Council provides fundraising leadership and support to enable the station's sustainability and growth. Members serve on at least one (and no more than two) of the following committees: Fundraising, Outreach, Programming, and Policy and Internal Affairs. 
</p><p>
Current Council members, towns, (term expiration) include: <br />
 
  Pamela Badila<font color="#999999">, Hudson (2014)</font><br />
  Chris Bishop<font color="#999999">, Ghent (2014)</font><br />
  Max Goldfarb<font color="#999999">, Hudson (2015)</font><br />
  Debra Kamecke<font color="#999999">, Catskill (2013)</font><br />
  Matt Bua<font color="#999999">, Catskill (2014)</font><br />
  Sam Sebren<font color="#999999">, Athens (2014)</font><br />
  Hudson Talbott<font color="#999999">, Cairo (2014)</font><br />
  Rebecca Wolff<font color="#999999">, Hudson (2014)</font>
  </p>
  </div>
