<!--<div class="side">
  <p>Discuss this left hand column. Is it necessary?</p>
  <h3>Ongoing</h3>
  <div class="event">
    <h4>Event Title</h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <h3>Upcoming</h3>
  <div class="event">
    <h4>Event title </h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <div class="event">...</div>
  <div class="event">...</div>
</div>-->
<div class="about page">
  <h1>WGXC HANDS-ON RADIO 90.7-FM</h1> 
  <p>Wave Farm's WGXC 90.7-FM is a creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement. WGXC serves more than 78,000 potential listeners on 90.7-FM and international listeners at wgxc.org.

</p>
  <p>WGXC is a Program Division of <a href="http://wavefarm.org">Wave Farm</a>. Click any of the links in the footer at the bottom of this page or the Wave Farm logo above for comprehensive organizational information.</p>
 
  <h2>A MANIFESTO FOR PARTICIPATORY RADIO</h2> 
<img src="https://data.wavefarm.org/20160602053822/WGXC_Manifesto_Graphic_Web_20160601.png" width="500">
<p>
<h2>WGXC believes in: Community</h2>
We are a hands-on participatory radio station, and serve many communities. WGXC’s volunteer programmers range in age from nine to 84, and come from all walks of life; what they produce is as varied as the communities we serve. WGXC is an unbiased source for local news and cultural affairs information. Programming made by and for youth airs daily, and our celebrated music programming is unique, diverse, and eclectic.
</p><p>
<h2>WGXC believes in: Creative use of the airwaves</h2>
WGXC is a program division of the non-profit arts organization Wave Farm based in Acra, NY. We are the only station in the country to dedicate significant airtime to radio as an artistic medium. Tune into transmission art and experimental sound programming overnight and on Saturdays, and hear artists from all over the world who sculpt and compose with the airwaves.
</p><p>
<h2>WGXC believes in: Hands-on, two-way radio/h2>
We provide public access to the airwaves, giving individuals and organizations the means to tell their own stories. WGXC listeners make radio, participate in on-air conversations, record public meetings for broadcast, contribute content, host their own shows, and more. The G and the C stand for Greene and Columbia counties in New York. WGXC is listener-supported, and we serve 78,000 potential local listeners in the Upper Hudson Valley, in addition to listeners from across the globe online. Our programs can be surprising, while wholesome; are very often experimental, and almost always entertaining. Program applications are accepted year-round, and no prior radio experience is required.</p>
</p>
<h2>FM COVERAGE MAP</h2> 
<img src="http://data.free103point9.org/r/hb/be/27/wgxc_coveragemap.jpg">
 <h2>STATION STAFF</h2> 
  <p>
    <a href="mailto:max@wgxc.org">Max Goldfarb</a>, WGXC Mobile Studio Manager<br />
    <a href="mailto:alanna@wgxc.org">Alanna Medlock</a>, Community Program Schedule Coordinator<br />
    <a href="mailto:jack@wgxc.org">Jack Schoonover</a>, Studio Technician<br />
    <a href="mailto:lynn@wgxc.org">Lynn Sloneker</a>, Station Manager / Managing News Editor<br />
    <a href="mailto:neva@wgxc.org">Neva Wartell</a>, Community Program Schedule Coordinator, Catskill
  </p>
  <p> WGXC is also supported by Wave Farm organization-wide staff including:</p>
  <p>
    <a href="mailto:galen@wavefarm.org">Galen Joseph-Hunter</a>, Executive Director<br />
    <a href="mailto:jess@wavefarm.org">Jessica Puglisi</a>, Programs Coordinator (incl. Special Events and Design)<br />
    <a href="mailto:tom@wavefarm.org">Tom Roe</a>, Artistic Director<br />
      </p>
  
   <h2>WGXC VOLUNTEER PROGRAMMERS</h2>
  <p>
An extraordinarily diverse group of volunteer programmers are behind the over 100 shows that air regularly on WGXC 90.7-FM. Information about each show including descriptions and host biographies are available by clicking the name of the show either from a broadcast page or from the alphabetical list, which appears <a href="https://wavefarm.org/archive?q=type%3Ashow%20_exists_%3Aairtime%20sites%3Awgxc&date=&date2=&size=120&sort=sort">HERE</a>. Information about becoming a WGXC Volunteer Programmer is available <a href="https://wavefarm.org/wgxc/volunteer">HERE</a>.  </p>
  <h2>WGXC COMMUNITY ADVISORY COUNCIL</h2>
  <p>
The WGXC Community Advisory Council is comprised of volunteers that serve on the various WGXC Volunteer Advisory Committees. Members of the Community Advisory Council support station management by offering a representative voice of the community and active participation on at least one and no more than two of the Volunteer Advisory Committees of Fundraising, Outreach, Programming, and Policy. The collective body of these committees is known as the WGXC Community Advisory Council. The Advisory Council serves solely at the pleasure of management; therefore, the Council, and its constituent committees, are not committees of the Board or committees of the corporation. Full descriptions of each committee, as well as their regular meeting schedules can be found <a href="/wgxc/volunteer#committees">here</a></a>.</p><p>

  </p>
  
  <h2>STATION HISTORY</h2>
  <p>
  Wave Farm (aka free103point9 Inc.) submitted an application to the FCC in October 2007 during a rare filing window for full-power non-commercial educational FM radio stations. A year later, on October 17, 2008, free103point9 received a construction permit to build a new FM station. The FM station was planned to serve both sides of the organization's roots: radio art and community access on the airwaves.
  </p><p>
  In June 2008, an Advisory Council was established to guide the development of the station with regards to serving Greene and Columbia counties’ local community. Council members provided critical input in naming the station, establishing the program schedule, and getting 90.7-FM off the ground and on the airwaves. 
  </p><p>
  WGXC Online Radio began streaming at wgxc.org on May 9, 2009, live from the Catskill Community Center, with M.A. Tarpinian, Dharma Dailey, Tom Roe, and others; and from Germantown Community Farm with Kaya Weidman and others.
 </p><p>
 In September 2009, WGXC received a commitment of $71,485 from the US Department of Commerce. This award secured 50 percent of the funding needed for the intial equipment (transmitter, antenna, etc.) to launch WGXC’s FM signal. On December 31, 2009, WGXC furthered its capital-campaign with a New Year's Eve celebration that featured 60 local performers, and by September 2010, succeeded in raising matching funds.
 </p><p>
  In September 2010, WGXC partnered with the national radio advocacy organization <a href="http://www.prometheusradio.org/" target="_blank">Prometheus Radio Project</a> to host a first full-power FM barnraising in Hudson. The conference included three days of hands-on workshops, presentations, and performances, during which participants collaborated to build WGXC’s Hudson studio and help prepare the station for its FM signal launch. 
  </p><p>
  In December 2010, WGXC programmers began broadcasting live shows on WGXC’s webstream from the Hudson studio.
 </p><p>
  On February 26, 2011, WGXC went live on air at 90.7 FM. WGXC celebrated this momentous occasion with a live broadcast event at the <a href="http://www.catskillcommunitycenter.org/" target="_blank">Catskill Community Center</a>, which featured many of the station’s first on-air programmers.
  </p><p>
WGXC currently broadcasts out of two full-time studios located in Hudson and Acra, NY. WGXC's Satellite studio is located within the Catskill Public Library. This mobile broadcasting unit facilitates live remote broadcasts throughout the station's listening area.
   </p>
  </div>
