<!--<div class="side">
  <p>Discuss this left hand column. Is it necessary?</p>
  <h3>Ongoing</h3>
  <div class="event">
    <h4>Event Title</h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <h3>Upcoming</h3>
  <div class="event">
    <h4>Event title </h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <div class="event">...</div>
  <div class="event">...</div>
</div>-->
<div class="about page">
  <h1>WGXC HANDS-ON RADIO</h1> 
  <p>WGXC (90.7-FM) is a creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement.

</p>
  <p>WGXC is a Program Division of <a href="http://wavefarm.org">Wave Farm</a>, click any of the links in the footer at the bottom of this page or the Wave Farm logo above for comprehensive organizational information.</p>
 <h1>WGXC PROGRAM DIVISION STAFF</h1> 
  <p>
    <a href="mailto:katy@wgxc.org">Katy Donnelly</a>, Program Director<br />
    <a href="mailto:jess@wgxc.org">Jessica Puglisi</a>, Outreach Coordinator<br />
    <a href="mailto:lynn@wgxc.org">Lynn Sloneker</a>, Station Manager / Managing News Editor<br />
  </p>
  
  <h1>CONSULTANTS</h1>
  <p>
    <a href="http://www.discount-legal.com/about-us.html" target="_blank">Michael Couzens and Alan Korn</a>, Broadcast Legal Counsel<br />
    <a href="//grrawr.com" target="_blank">Gabriel Farrell</a>, Site Developer<br />
    <a href="http://empirecpa.com/" target="_blank">Tom Fucito</a>, CPA<br />
</p>

  
  <h1>WGXC COMMUNITY COUNCIL</h1>
  <p>
  A group appointed by the Wave Farm Board of Directors, the WGXC Community Council serves in a significant advisory capacity to WGXC station management. The Council represents and reflects both the diversity of potential listeners served within the WGXC 90.7-FM coverage map, as well as the station’s active local constituents. In addition to representation, the Council provides fundraising leadership and support to enable the station's sustainability and growth. Members serve on at least one (and no more than two) of the following committees: Fundraising, Outreach, Programming, and Policy and Internal Affairs. 
</p><p>
Current Council members, towns, (term expiration) include: <br />
 
  Pamela Badila<font color="#999999">, Hudson (2014)</font><br />
  Chris Bishop<font color="#999999">, Ghent (2014)</font><br />
  Max Goldfarb<font color="#999999">, Hudson (2015)</font><br />
  Debra Kamecke<font color="#999999">, Catskill (2013)</font><br />
  Matt Bua<font color="#999999">, Catskill (2014)</font><br />
  Sam Sebren<font color="#999999">, Athens (2014)</font><br />
  Hudson Talbott<font color="#999999">, Cairo (2014)</font><br />
  Rebecca Wolff<font color="#999999">, Hudson (2014)</font>
  </p>
  
  <h1>History</h1>
  <p>
  free103point9 Inc. (aka Wave Farm) submitted an application to the FCC in October 2007 during a rare filing window for full-power non-commercial educational FM radio stations. A year later, on October 17, 2008, free103point9 received a construction permit to build a new FM station. The FM station was planned to serve both sides of the organization's roots: radio art and activism on the airwaves.
  </p><p>
  In June 2008, a Council of local advisors was established to guide the development of the station with regards to serving Greene and Columbia counties’ local community. Council members provided critical input in naming the station, identifying its guiding mission, and getting 90.7-FM off the ground and on the airwaves. 
  </p><p>
  WGXC Online Radio began broadcasting at wgxc.org on May 9, 2009, live from the Catskill Community Center, with M.A. Tarpinian, Dharma Dailey, Tom Roe, and others; and from Germantown Community Farm with Kaya Weidman and others.
 </p><p>
 In September 2009, WGXC received a commitment of $71,485 from the US Department of Commerce. This award secured 50 percent of the funding needed for the equipment (transmitter, antenna, etc.) to launch WGXC’s FM signal. On December 31, 2009, WGXC launched its capital-campaign with a New Year''s Eve celebration that featured 60 local performers, and by September 2010, succeeded in raising matching funds.
 </p><p>
  In September 2010, WGXC partnered with the national radio advocacy organization <a href="http://www.prometheusradio.org/" target="_blank">Prometheus Radio Project</a> to host its first full-power FM barnraising in Hudson. The conference included three days of hands-on workshops, presentations, and performances, during which participants collaborated to build WGXC’s Hudson studio and help prepare the station for its FM signal launch. 
  </p><p>
  In December 2010, WGXC programmers began broadcasting live shows on WGXC’s webstream from the Hudson studio.
 </p><p>
  On February 26, 2011, WGXC went live on air at 90.7 FM. WGXC celebrated this momentous occasion with a live broadcast event at the <a href="http://www.catskillcommunitycenter.org/" target="_blank">Catskill Community Center</a>, which featured many of the station’s first on-air programmers. The WGXC Catskill studio began broadcasting in September 2011. 
  </p><p>
WGXC currently broadcasts out of three studios located in Hudson, Acra, and Catskill, NY.
   </p>
  </div>
