<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/wgxc.css" rel="stylesheet" />






<div class="datepicker-container datepicker-calendar">
	<form>
	  <div class="add-event">
	    <input id="add-event-button" name="add-event" type="button" value="Add An Event">
	  </div>
	</form>

	<div class="datepicker-controls-h">
		<div id="datepicker"></div>
	</div>
	<div class="datepicker-controls">
		<a class="datepicker-prev" href="javascript:$('.ui-datepicker-prev').click();">&lt;</a>
		<a class="datepicker-today" href="javascript:$('.ui-datepicker-current').click();;">TODAY</a>
		<a class="datepicker-next" href="javascript:$('.ui-datepicker-next').click();">&gt;</a>
	</div>
</div>

<div class="calendar-container">

	<div class="page wgxc wgxc-calendar">
	
	<div class="add-event-div">
	
		<h2>Add a WGXC Community Calendar Event</h2>
	
		<div id="error_message"></div>
		
    <form method="post" id="add-event-form" class="cmxform">
			
			<!-- 
			<div style='display:none'>
	    	<input type='hidden' name='csrfmiddlewaretoken' value='4287214a2a15fb8535423ac87df26737' />
	    </div>
	     -->
	    
	    <label for="id_email">Email:</label> <input type="email" name="email" id="id_email" required /><p class="help_text">For internal use only. Your email will not be published.</p>
			<label for="id_event_name">Event name:</label> <input type="text" name="name" id="id_event_name" required />
			<label for="id_description">Location &amp; Description (150 words or less):</label> <textarea id="id_description" rows="10" cols="40" name="briefDescription"></textarea>
			<label for="id_admission">Admission:</label> <input type="text" name="admission" id="id_admission" />
			<label for="id_url">URL:</label> <input type="url" name="url" id="id_url" />
			<label for="id_start_date">Start date:</label> <input type="text" name="startDate" id="id_start_date" placeholder="mm/dd/yyyy" required/>
			<label for="id_end_date">End date:</label> <input type="text" name="endDate" id="id_end_date" placeholder="mm/dd/yyyy" /><p class="help_text">Leave blank if same as start date.</p>
			<label for="id_start_time">Start time:</label> <input type="time" name="startTime" id="id_start_time" /><p class="help_text">"8:30am", for example, or "10:01pm". Leave this blank if it's an all-day event.</p>
			<label for="id_end_time">End time:</label> <input type="time" name="endTime" id="id_end_time" /><p class="help_text">Same format as start time.</p>
	    
		  <div class="add-event">
	    	<input id="add-event-submit" name="add-event" type="button" value="Add An Event" />
			</div>    
    </form>	
	
	</div>
	
	<div id="add-event-success" style="display:none;">
		<h2>Thank you for your submission</h2>
		<p>WGXC staff will review and and post your event soon.</p>
	</div>
	
	
	<h1>WGXC Community Calendar</h1>
	  <p>The WGXC Community Events Calendar features events taking place in and around the WGXC-FM listening area. Add your own event by clicking on the "Add an Event" button above and share your event details online and on-air. </p>
	 <!-- 
	 <h2>CLICK ON ANY SHOW BELOW FOR DETAILS</h2>
	  -->
	 
	  
	  <!-- Schedule will be filled in client-side -->
	  <div class="calendar">
	  
	    <div class="event">
	    
	      <div class="calendar-card">
	        <div class="calendar-card-topbar"></div>
	        <div class="tag"></div>
	        <div class="weekday"></div>
	        <div class="month"></div>
	        <div class="monthday"></div>
	        <div class="time"></div>
	      </div>  
	      <!-- 
	      <div class="event-icons">
	      	<ul>
	      		<li><img src="" alt="" /></li>
	      	</ul>
	      </div>
	       -->
          <div class="event-info">
            <h3 class="event-name">
            	<a></a>
            	<!--  icons will be appended here as <img /> -->
            </h3>
           	<div class="event-dates"><strong></strong></div>
           	<div class="event-location">
           		<strong></strong>
           		<p></p>
           	</div>
            <div class="event-description">
            	<div class="event-description-short">
              		<p></p>
            	</div>
            	<div class="event-description-long">
              		<p></p>
              		<img >
		            <div class="actions"><a class="more" href="">more details</a></div>            		
               	</div>
            </div>
          </div>
	    </div>
	    
	    
	    <!--  slightly different structure for ongoing events as they contain 
	    one calendar card but multiple abbreviated events -->
	    
	    <div class="ongoing-events">
	      <div class="calendar-card">
	        <div class="calendar-card-topbar"></div>
	        <div class="tag">ONGOING</div>
	        <div class="weekday"></div>
	        <div class="month"></div>
	        <div class="monthday"></div>
	      </div>
	      <h4>ONGOING EVENTS</h4>
	      <div class="ongoing-events-list">
	      
	      	<div class="ongoing-event">
	      	  <!-- 	      	
		      <div class="event-icons">
		      	<ul>
		      		<li><img src="" alt="" /></li>
		      	</ul>
		      </div>
		       -->
	          <div class="event-info event-info-ongoing">
	            <h3 class="event-name">
	            	<a></a>
	            </h3>
	           	<div class="event-dates"><strong></strong></div>
	           	<div class="event-location">
	           		<strong></strong>
	           		<p></p>
	           	</div>
	            <div class="event-description">
	            	<div class="event-description-short">
	              		<p></p>
	            	</div>
	            	<div class="event-description-long">
	              		<p></p>
	              		<img >
			            <div class="actions"><a class="more" href="">more details</a></div>            		
	               	</div>
	            </div>
	          </div>          	      	
	      	</div>	      	      
	      </div>	        
	    </div>	    	    
	  </div>
	  
	  <form>
	    <div class="more">
	      <input id="more" name="more" type="button" value="View Another Week">
	    </div>
	  </form>
	  
	</div>
</div>
