<div class="side">
  <ul>
    <li><a href="#donate">Donate</a></li>
    <li><a href="#underwriting">Underwriting</a></li>
    <li><a href="#volunteer">Volunteer</a></li>
    <li><a href="#merchandise">Merchandise</a></li>
  </ul>
</div>
<div class="wgxc page">
  <h1>CONTRIBUTE TO WGXC</h1> 
  <p>There are many ways to contribute to WGXC...</p>
 
  <h1><a id="donate"></a>DONATE</h1>
  <a href=""><h2>Give Now to Support Hands-on Creative Community Radio</h2></a>
  <p> Your contribution will help sustain local media in Greene and Columbia counties. As a program division of the 501(c)3 non-profit organization Wave Farm, contributions to WGXC are tax-deductible to the full extent of the law.</p>

<h2>DONATE ONLINE</h2>
<p>Make a one-time donation or, better yet, become a Sustaining Supporter by donating something every month. Choose to donate in any amount, and you can stop (or adjust your contribution) at any time.
CLICK HERE TO DONATE NOW!</p>

<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: WGXC<br />
Mail to: 5662 Route 23, Acra, NY 12405.</p>

<h1><a id="underwriting"></a>WGXC UNDERWRITING</h1>
<p>
Why underwrite with WGXC? Underwriting is a unique opportunity to reach WGXC’s 78,000 potential listeners on 90.7-FM, and thousands more who regularly visit wgxc.org. WGXC’s listeners believe in the importance of local media, and support the local businesses and organizations that support us. Our listeners are engaged and informed consumers; they value and recognize the investment made by local and regional businesses and organizations in support of community media.
</p><p>
What is underwriting? Underwriting is a specialized and non-commercial form of advertising. These on-air announcements are broadcast at the beginning of every WGXC program, free from commercial clutter. The content and broadcast schedule of these announcements must comply with FCC regulations, and are drafted cooperatively by WGXC and each underwriter.
</p><p>
WGXC underwriting rates are offered in the following packages. Rates are outlined below, and explained in detail in the WGXC Underwriting Kit.
</p><p>
<h2>Total Underwriting Plan</h2>
This plan includes 10 announcements per week / $5 each.<br />
3-month package is $650<br />
6-month package is $1300 / $1235*<br />
*discounted rate if paid at contract (5%)<br />
12-month package is $2600 / $2210*<br />
*discounted rate if paid at contract (15%)<br />
</p><p>
<h2>Basic Underwriting Plan</h2> 
This plan includes 4 announcements per week / $5 each.<br />
3-month package is $260<br />
6-month package is $520 / $495*<br />
*discounted rate if paid at contract (5%)<br />
12-month package is $1040/ $885*<br />
*discounted rate if paid at contract (15%)<br />
</p><p>
<h2>Event Burst</h2>
Broadcast an on-air burst in the days leading up to your event. 10 announcements a week.<br />
Book of 10: $100, for one week ($10/spot)<br />
Book of 20: $180, for two weeks ($9/spot)<br />
Larger books: e.g. 40, 80 etc. are $8/spot   
</p>
<h1><a id="volunteer"></a>BECOME A WGXC VOLUNTEER</h1>
<p>WGXC is made possible by hard-working volunteers. Everything you hear on 90.7-FM is the result of volunteer effort. From mending our broken headphone cables, shoveling snow to provide access to the studios, recording town meetings and events, and being on the air sharing music and words, our volunteers keep this station going. You don't have to know anything about radio or audio production to make a difference - we need you just as you are! Volunteering for WGXC can be a free and fun way to learn new skills and meet your neighbors, people you may see every day, but still don't know. Our volunteer meetings are friendly and open to the public - come by, hear what we're planning for the next month, and get a sense of what it takes to keep the radio station alive. Before you know it, you'll be participating in this hands-on media project!
</p><p>
How can your skills help WGXC? Can you answer a phone and say "Good morning, WGXC!"? Or sit at a table during a town-wide event and tell people about community radio? Put up a flier at your workplace, or favorite local hang? Bring a Zoom recorder to your next town or school board meeting? All of this (and more) helps keep WGXC on the air, and working at its best for our communities. If you'd like to get involved, get in touch!
</p><p>
WGXC Volunteer Meetings
WGXC volunteer gatherings occur about monthly, and are a way to meet and touch base with other members of the WGXC family. If you'd like to volunteer and can't attend these meetings, please contact Outreach Coordinator Jess Puglisi at Jess [at] wgxc.org. 
Winter Volunteer Meeting Schedule
</p><p>
Outreach Volunteers help the staff and station get the word out about WGXC to more people in our communities. This includes planning and implementing events and fundraisers, and helping to represent WGXC at community events such as parades, fairs, and expos. You can also help bring new people onto WGXC by bring a Zoom recorder to the events you already attend, or organize. Outreach Volunteers can also help to support WGXC's bi-annual pledge drives, usually in spring and the fall. To get involved, contact Jess [at] wgxc.org.
</p><p>
This is the WGXC Outreach Calendar, which includes all upcoming WGXC events, and public meetings. Scroll through for our latest happenings!
</p><p>
Cleaning &amp; Maintenance
Are you handy with a hammer? Proudly obsessive compulsive, with a tendency to make every surface sparkle? Have a truck that makes frequent dump runs? Operating a radio station can get messy, and we sometimes break things. Add your name to the list of handy-people we can call next time we break a window, or join forces with others to rotate cleaning tasks in the Hudson or Catskill studios. Get in touch!
</p><p>
Archive &amp; Technical
If you are savvy with data management, we can train you to become a specialized archive assistant. Or, if you feel better with a soldering iron and a circuit board, or have radio engineer experience (or want to get some), get in touch with Jess [at] wgxc.org or Technical Director Al Davis at al [at] wgxc.org to get involved.
</p><p>
Office Staffing
Spend some time during the week helping out around the Hudson studio. We get phone calls throughout the week, many of which are just curious individuals who want to learn more about WGXC. You can help us answer these questions, and also help out with other tasks as they come along. Drop a line to Jess [at] wgxc.org to find out when you can help out.
</p><p>
Event Documentation
Are you a photographer, or video maker? WGXC needs talented and trainable people to document the events we are co-presenting throughout Greene and Columbia counties. Contribute and reach thousands of viewers/listeners through the WGXC website, where visual documentation will be featured. If you are interested in documenting WGXC events, please contact jess@wgxc.org.
</p><p>
Town Recorders
WGXC volunteers can record town meetings, candidate forums, performances, workshops, lectures, and other events throughout Greene and Columbia counties to air on WGXC FM. WGXC will also train volunteers interested in producing other kinds of content and lend out equipment. Interviews, text stories, feature reports, audio and video news stories, oral histories, and other forms will be created by trained volunteers. This will allow community members to share more information about their local government, their neighbors, and issues and stories of interest. Contact Jess Puglisi at Jess [at] wgxc.org for more information about becoming a WGXC Town Reporter or Recorder.
</p>
<h1><a id="merchandise"></a>WGXC MERCHANDISE</h1>
</p>
Show off your support for WGXC 90.7-FM by sporting stylish merchandise! Created by artists exclusively for WGXC. Check back for upcoming new merchandise, including bumper stickers and more!
</p><p>
Limited Edition 2012 Tee Shirts

Designed by Brian Dewan
</p><p>

Unveiled during the Open Air Pledge Drive in September of 2012, WGXC now offers stylish tee shirts in "teal" and "grass". Exclusively designed by Catskill-based artist Brian Dewan, we have only limited quantities of these handsome shirts. Soft, one-hundred percent cotton, made in the USA by American Apparel, with sizes ranging from XS to 2XL. Tee shirts are all unisex. To purchase, stop by the Hudson Studio during business hours, call (518) 697-7400. Or order online via Click &amp; Pledge. Please specify your preferred color and size in the "Comments" box at checkout, and a WGXC representative will contact you shortly to arrange shipping or pick-up. Tee shirts are $25 for sizes XS to XL, and $27 for 2XL.</p>
</div>
