<div class="side wgxc">
	<div class="wgxc-donate-form-container">
		
		<h2>Donate now!</h2>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="wgxc-donate-form">
			<input type="text" name="first_name" value="" placeholder="First Name" size="20"><br />
			<input type="text" name="last_name" value="" placeholder="Last Name" size="28"><br />
			<input type="text" name="email" value="" placeholder="Email" size="28"><br /><br /><br />
			<label for="amount">Today I'd like to donate: </label><input type="text" name="amount" value="" size="12" placeholder="$0.00"><br />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="business" value="info@wavefarm.org">
			<input type="hidden" name="item_name" value="WGXC 90.7-FM Support">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="tax" value="0">
		</form>		
				<p>Your tax-deductible donation keeps creative community radio on your FM dial.</p>

	
	</div>

</div>

	







<div class="wgxc page split">

  <h1>SUPPORT</h1>
<p>
Financial support through donations, underwriting, and merchandise sales, allows Wave Farm to meet the most basic WGXC operating costs, and keeps creative community radio on your FM dial!</a>

WGXC is a program division of the 501(c)3 non-profit arts organization Wave Farm, and your contributions are tax-deductible to the full extent of the law.</p>

<h2>DONATE ONLINE</h2>
<p>Make a one-time donation using the fields to the left.</p>
	
	<h2>DONATE MONTHLY</h2>
<p>Become a sustaining supporter by investing in community radio every month. You can stop (or adjust your contribution) at any time. 

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="EBVLZSZXMNPEU">
<table>
<tr><td><input type="hidden" name="on0" value="Specify Amount">Choose your monthly donation amount:</td></tr><tr><td><select name="os0">
	<option value="Donate $5 Monthly">Donate $5 Monthly</option>
	<option value="Donate $10 Monthly">Donate $10 Monthly</option>
	<option value="Donate $15 Monthly">Donate $15 Monthly</option>
	<option value="Donate $20 Monthly">Donate $20 Monthly</option>
	<option value="Donate $25 Monthly">Donate $25 Monthly</option>
	<option value="Donate $30 Monthly">Donate $30 Monthly</option>
	<option value="Donate $40 Monthly">Donate $40 Monthly</option>
	<option value="Donate $50 Monthly">Donate $50 Monthly</option>
	<option value="Donate $75 Monthly">Donate $75 Monthly</option>
	<option value="Donate $100 Monthly">Donate $100 Monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: WGXC<br />
Mail to: 5662 Route 23, Acra, NY 12405.</p>


<h2>STOCK / SECURITIES DONATION</h2>
<p>WGXC is now able to accept donations of stock.<br /><br />
With a charitable gift of appreciated shares held long-term, the donation you make and the deduction you get are greater than they would be if you were to instead sell the shares and donate the cash proceeds. This is because when you donate shares, you avoid paying the capital gains tax.
For more information about making this type of donation to Wave Farm’s WGXC, please contact Galen Joseph-Hunter galen [at] wavefarm.org or (518) 622-2598.</p>

<h1><a id="underwriting"></a>WGXC UNDERWRITING</h1>
<p>
To become an underwriter or for more information, contact WGXC Station Manager Lynn Sloneker lynn [at] wgxc.org or phone 518-697-7400.
</p>
<p>
<a href="https://data.wavefarm.org/r/p1/0g/sr/WGXCUnderwritingKit2014.pdf">Click here to download an Underwriting Kit.</a>
</p>
<p>
Why underwrite with WGXC? Underwriting is a unique opportunity to reach WGXC’s 78,000 potential listeners on 90.7-FM, and thousands more who regularly visit wgxc.org. WGXC’s listeners believe in the importance of local media, and support the local businesses and organizations that support us. Our listeners are engaged and informed consumers. They value and recognize the investment made by local and regional businesses and organizations in support of community media.
</p><p>
What is underwriting? Underwriting is a specialized and non-commercial form of advertising. These on-air announcements are broadcast at the top of every hour, 24 hours a day. The content and broadcast schedule of these announcements must comply with FCC regulations, and are drafted cooperatively by WGXC and each underwriter.
</p><p>
WGXC underwriting rates are offered in the following packages. Rates are outlined below, and explained in detail in the WGXC Underwriting Kit.
</p><p>
<h2>Total Underwriting Plan</h2>
This plan includes 10 announcements per week / $5 each.<br />
3-month package is $650<br />
6-month package is $1300 / $1235*<br />
*discounted rate if paid at contract (5%)<br />
12-month package is $2600 / $2210*<br />
*discounted rate if paid at contract (15%)<br />
</p><p>
<h2>Basic Underwriting Plan</h2> 
This plan includes 4 announcements per week / $5 each.<br />
3-month package is $260<br />
6-month package is $520 / $495*<br />
*discounted rate if paid at contract (5%)<br />
12-month package is $1040/ $885*<br />
*discounted rate if paid at contract (15%)<br />
</p><p>
<h2>Event Burst</h2>
Broadcast an on-air burst in the days leading up to your event. 10 announcements a week.<br />
Book of 10: $100, for one week ($10/spot)<br />
Book of 20: $180, for two weeks ($9/spot)<br />
Larger books: e.g. 40, 80 etc. are $8/spot   
</p>
<h1><a id="merchandise"></a>WGXC MERCHANDISE</h1>
<iframe height="1800" width="680" src="https://wavefarm.spreadshirt.com/" name="Spreadshop" id="Spreadshop" frameborder="0" onload="window.scrollTo(0, 0);"></iframe>

<h1><a id="friends"></a>FRIENDS OF WGXC</h1>
<p>
Wave Farm's WGXC-FM is made possible, in part, by support from generous individuals and businesses who are Friends of WGXC. We hope you will join us.</p>
<p>Thank you to our recent donors: Peter	Aaron	(Hudson),
Christianna	Abel	(Rhinebeck),
Justin	Ark	(Elizaville), 
Pamela	Badilla	(Hudson), 
Martin	Baumgold	(Copake),
Kam	Bellamy	(Hudson),
Janine	Bennett	(Athens),
Jonathan	Bernauer	(Hudson), 
Bianca	Biberaj	(Hudson), 
Peter W.	Bohn	(Gilboa),
David	Bolevice	(Philmont), 
David and Sheri	Bolevice	(Philmont), 
Ray	Bradshaw	(Ravena), 
Crossroads	Brewery	(Athens), 
Matt	Bua	(Catskill),
Ellen J.	Burcroff	(Sharon), 
Daniel	Carillo	(Mountainville), 
	Catskill Community Acupuncture	(Catskill),
Catherine	Censor	(Athens),
Emily	Chameides	(Hudson), 
Concra Appraisals (Hudson), 
Michael	Chameides	(Hudson),
John	Cleater	(Brooklyn),
Ann Forbes	Cooper	(Catskill), 
Bryce	Courbois	(Hudson),
Ogden	Courbois	(Hudson),
Steve	Daley	(Earlton),
Donna	Davey	(New York), 
Beachwood	Davis	(E. Chatham), 
Richard	Desir	(Westerlo), 
Ellen	Donovan	(Medusa),
	Drop Forge Tool	(Hudson),
Peter	Duda	(New York),
Wendy	Dwyer	(Canaan), 
William K	Ebel	(Hudson), 
George	Elmendorf	(Malden Bridge),
Candi	Ennis	(Pittsfield), 
John	Esposito	(Stuyvesant), 
	Fahrenheit 451 House	(Catskill),
Anthony	Filanowski	(Hudson), 
	First Hudson Mortgage Co.	(Hudson),
Cory	Fischer-Hoffman	(Philadelphia),
Natalie	Fores	(Stuyvesant),
Elizabeth	Fout	(Greenport), 
Bryan	Fox	(New York), 
David	Fried	(Cornwallville), 
Randall	Fried	(Earlton), 
Chris	Funkhouser	(Rhinebeck), 
Enid	Futterman	(Craryville), 
Patrick	Gable	(Copake),
Bill	Gillim	(Hudson),
	Gold's Gym, 	
Leonne	Gould	(Hudson), 
Marie	Greco	(Catskill),
Fayal	Greene	(Hudson),
Henry	Haddad	(Hudson),
	Half Moon	(Hudson),
Ashley	Hartka	(Hudson),
Harvest Spirits	(Valatie), 
Carter	Hodgkin	(New York), 
Jennifer	Houston	(Catskill), 
Dean	Hurley	(Old Chatham), 
Bob	Irwin	(Coxsackie),
Dennis(Rooftopper)	Jenkins	(Hudson),
John	Jermano	(El Granada),
Jack	Jett	(Brooklyn), 
Jane	Jones	(Tulsa),
Dan	Joseph	(Brooklyn), 
Peter	Jung	(Hudson),
Rafael	Karpowitz	(Hudson),
Sara	Kendall	(Hudson),
Nicholas	Kokonis	(Cairo),
Bob	Krisniski	(Hudson),
Martha	Lane	(Hudson),
Paige	Lawlor	(Kerhonkson), 
Jennifer	Lawrence	(Old Chatham),
Helene	Lesterlin	(Saugerties),
Pete	Lievense	(Catskill), 
Henry	Lowengard	(Kingston),
Sylvia B.	Macheski	(Hudson), 
The Magic Stranger (Columbia County),
Torah	Mahman	(Ghent),
William	Mancini	(Kinderhook),
Elizabeth	Martin	(Kinderhook),
Debby	Mayer	(Hudson),
David	McCabe	(Aiken),
Jim	McCabe	(New York), 
Nathan	McLaughlin	(Hudson), 
Cameron	Melville	(Hilldale), 
Frank	Migliorelli	(Croton-on-Hudson), 
John	Millard	(Roundtop),
Donna	Miller	(Preston Hollow), 
Robert Miller	(Preston Hollow), 
Rich	Mirabella	(Albany), 
Jeff	Moore	(Copake),
Vincent	Mulford	(Hudson),
Andrew	Mullen	(Danvers), 
Portia	Munson	(Roundtop),
Iphigene	Murphy	(Chappaqua), 
Mike	Murray	(Cairo), 
Bernard	Natalino	(Sherman Oaks),
A New York Restaurant (Catskill),
Clarke	Olsen	(Spencertown),
	Omi International Arts Center	(Ghent),
Mark	Orton	(Hudson),
Cymon	Pagnani	(Stottville),
Nick	Papas	(Valatie),
Dennis	Peduzzi	(Kinderhook), 
Buddha	Pesto	(Cornwallville),
Mark	Polach	(Climax), 
Jess	Puglisi	(Hudson),
Ron	Puhalski	(Athens), 
Brin	Quell	(Chatham),
William	Rannenberg	(Harlemville),
Paul	Rehm	(Greenville),
David	Reynolds	(Jersey City),
Gunnel	Reznikoff	(Chatham), 
Mindi Lyn	Ribar	(Hudson),
Erica	Riley	(Paulsboro),
Kieran	Riley	(Rhinebeck), 
Echo	Roe	(Acra),
Angela	Rolon	(Hudson), 
Daniel	Ronsani	(Hudson), 
Mary	Ronsani	(Hudson),
Steven	Rosenzweig	(Copake), 
Jeff	Rundy	(Hudson),
Debora	Ryan	(Craryville),
Mary	Salerno	(Hudson), 
David	Salzberg	(Kinderhook),
Debra	Samuels	(Catskill),
Carol	Sancarlos	(Hudson), 
Jane	Scarpellino	(New Haven), 
Daniel	Schmeder	(New York),
Karen	Schoemer	(Kinderhook), 
Charles D.	Schoonover	(Valatie),  
John G.	Schoonover	(Valatie), 
Sam	Sebren	(Athens),
Vincent	Seeley	(Catskill),
Tom	Skarimbas	(Cairo),
Alan	Skerrett	(Philmont), 
Bridget	Smith	(Hudson),
	Spotty Dog Books & Ale	(Hudson),
Jeff	Starr	(Hudson),
Thomas	Steinberg	(Hudson),
Sarah	Sterling	(Hudson),
Christian	Sweningsen	(Stuyvesant), 
Sara	Sweningsen	(Staatsburg),
Thomas	Swope	(Hudson), 
	T. Backer Fund	(Chatham),
Sam	Taffel	(Brooklyn),
Ellen	Thurston	(Hudson), 
Raymond	Tillman	(Chatham), 
Cecilia	Tkaczyk	(Delanson), 
Seth	Travins	(Hudson),
Emily	Truitt	(Catskill),
Kurt	Trumble	(Babylon),
Gerda	Veneman	(Elizaville),
Harry	Vincent	(Catskill),
Michael	Waldholz	(Hudson),
Kaya	Weidman	(Germantown),
	White Whale	(Hudson),
Bernice	Widjeskog	(Stuyvesant),
Glen	Widjeskog	(Kingston),
Jared	Widjeskog	(Stuyvesant), 
Paul	Widjeskog	(St. Albans),
Ben	Wilson	(Hudson), 
Terrance	Wiltshire	(Morgantown), 
Ken	Ytuarte	(Catskill),
Claire		(Hudson),
Frances		(Hudson),
Louis		(South Cairo),
Maggie		(Hudson),
	Anonymous	(Acra),
	Anonymous	(Acra),
	Anonymous	(Acra),
	Anonymous	(Acra), 
	Anonymous	(Albany),
	Anonymous	(Albany),
	Anonymous	(Albany), 
	Anonymous	(Asheville), 
	Anonymous	(Astoria), 
	Anonymous	(Boynton Beach),
	Anonymous	(Brooklyn),
	Anonymous	(Brooklyn), 
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo), 
	Anonymous	(Cairo), 
	Anonymous	(Cairo), 
	Anonymous	(Catskill),
	Anonymous	(Catskill), 
	Anonymous	(Catskill), 
	Anonymous	(Catskill), 
	Anonymous	(Chatham),
	Anonymous	(Chatham),
	Anonymous	(Chatham),
	Anonymous	(Chatham),
	Anonymous	(Chatham), 
	Anonymous	(Chatham), 
	Anonymous	(Cold Spring),
	Anonymous	(Columbia County),
	Anonymous	(Craryville), 
	Anonymous	(Delmar),
	Anonymous	(E. Chatham),
	Anonymous	(E. Nassau), 
	Anonymous	(Earlton),
	Anonymous	(East Durham), 
	Anonymous	(East Durham), 
	Anonymous	(Fort Lee), 
	Anonymous	(Freehold),
	Anonymous	(Ghent),
	Anonymous	(Hillsdale), 
	Anonymous	(Houston), 
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson).
	Anonymous	(Jaimaica),
	Anonymous	(Kinderhook), 
	Anonymous	(Kinderhook), 
	Anonymous	(Lenox),
	Anonymous	(London),
	Anonymous	(Lutherville),
	Anonymous	(Montclair),
	Anonymous	(Nassau),
	Anonymous	(Naugatuck), 
	Anonymous	(New York),
	Anonymous	(New York),
	Anonymous	(New York),
	Anonymous	(New York), 
	Anonymous	(Old Chatham),
	Anonymous	(Old Chatham),
	Anonymous	(Palenville),
	Anonymous	(Palenville), 
	Anonymous	(Paris),
	Anonymous	(Poughkeepsie), 
	Anonymous	(Preston Hollow), 
	Anonymous	(Ravena), 
	Anonymous	(River Vale),
	Anonymous	(Roundtop),
	Anonymous	(Spencertown), 
	Anonymous	(Tivoli),
	Anonymous	(Tivoli),
	Anonymous	(Tivoli), 
	Anonymous	(TK), 
	Anonymous	(Valatie),
	Anonymous	(Washington),
	Anonymous	(Washington), 
	Anonymous	(West Stockbridge),
	Anonymous	(Westerlo), and
	Anonymous	(Williamstown).
</p>
</div>

