<div class="wgxc page split-right">
	<img src="/images/wgxc-donate.png" width="600" alt="wgxc donate" />

	<h2>Other Ways To Support WGXC 90.7-FM</h2>
	<p>
  <a href="/wgxc/about" id="about-nav">SUSTAINING SUPPORT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/schedule" id="schedule-nav">UNDERWRITING</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/newsroom" id="newsroom-nav">MERCHANDISE</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/volunteer" id="volunteer-nav">FRIENDS OF WGXC</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</p>
	<p>Become a sustaining supporter by investing in community radio every month.
	Choose to donate in any amount, and you can stop (or adjust your contribution) at any time.
	<a href="">Learn more.</a></p>
	
</div>


<div class="split-right-side">
	
	<div class="wgxc-donate-form-container">
		
		<h2>Donate now!</h2>
		<p>Your tax-deductible donation to Wave Farm's WGXC helps to meet the station's most basic operating costs, and keeps creative community radio on your FM dial.</p>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="wgxc-donate-form">
			<input type="text" name="first_name" value="" placeholder="First Name" size="40"><br />
			<input type="text" name="last_name" value="" placeholder="Last Name" size="40"><br />
			<input type="text" name="email" value="" placeholder="Email" size="40"><br />
			<label for="amount">Today I'd like to donate: </label><input type="text" name="amount" value="" size="12" placeholder="$0.00"><br />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="business" value="info@wavefarm.org">
			<input type="hidden" name="item_name" value="WGXC 90.7-FM Support">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="tax" value="0">
		</form>		
		
	
	</div>


</div>

