<div class="side wgxc">
  <ul>
    <li><a href="https://donatenow.networkforgood.org/wgxc" target="_new">Click Here to <img src="https://data.wavefarm.org/20160210124226/DonateNow.png"></a></li>
    <li><a href="#donate"><h3>Donate</h3></a></li>
    <li><a href="#donate">Make a tax-deductible contribution.</a></li>
    <li><a href="#underwriting"><h3>Underwriting</h3></a></li>
    <li><a href="#underwriting">Promote your business or event to WGXC listeners.</a></li>
    <li><a href="#merchandise"><h3>Merchandise</h3></a></li>
    <li><a href="#merchandise">WGXC T-shirts, stickers, and more.</a></li>
    <li><a href="#friends"><h3>Friends of WGXC</h3></a></li>
    <li><a href="#friends">WGXC is made possible by supporters like you!</a></li>
  </ul>
</div>
<div class="wgxc page split">

  <h1>SUPPORT</h1>
  <img src="https://data.wavefarm.org/r/80/8h/6h/Screen%20Shot%202015-06-02%20at%2011.01.25%20AM.png">

Financial support through donations, underwriting, and merchandise sales, allows WGXC to meet the most basic operating costs, and keeps WGXC on your FM dial!</a>

<a id="donate"></a><h1>DONATE</h1>
<p>WGXC is a program division of the 501(c)3 non-profit arts organization Wave Farm, and contributions to WGXC are tax-deductible to the full extent of the law.</p>

<h2>DONATE ONLINE</h2>
<p>Make a one-time donation or, better yet, become a sustaining supporter by investing in community radio every month. Choose to donate in any amount, and you can stop (or adjust your contribution) at any time. <br />
</p><p><a href="https://donatenow.networkforgood.org/wgxc" target="_new">Click Here to Donate Online.</a></p>

<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: WGXC<br />
Mail to: 5662 Route 23, Acra, NY 12405.</p>


<h2>STOCK / SECURITIES DONATION</h2>
<p>WGXC is now able to accept donations of stock.<br /><br />
With a charitable gift of appreciated shares held long-term, the donation you make and the deduction you get are greater than they would be if you were to instead sell the shares and donate the cash proceeds. This is because when you donate shares, you avoid paying the capital gains tax.
For more information about making this type of donation to Wave Farm’s WGXC, please contact Galen Joseph-Hunter galen [at] wavefarm.org or (518) 622-2598.</p>

<h1><a id="underwriting"></a>UNDERWRITING ON WGXC</h1>
<p>
Underwriting is a specialized and non-commercial form of advertising. These on-air announcements are broadcast at the top of every hour, 24 hours a day. 
</p>
<p>
Why underwrite with WGXC? Underwriting is a unique opportunity to reach WGXC’s 78,000 potential listeners on 90.7-FM, and thousands more who regularly visit wgxc.org. WGXC’s listeners believe in the importance of local media, and support the local businesses and organizations that support us. Our listeners are engaged and informed consumers. They value and recognize the investment made by local and regional businesses and organizations in support of community media.
</p>
<p>
To become an underwriter or for more information, contact <a href="mailto:underwriting@wgxc.org">underwriting@wgxc.org</a> or phone the Hudson Studio at 518-697-7400, or Mat Tombers at 917-880-2469.
</p>

<h1><a id="merchandise"></a>WGXC MERCHANDISE</h1>
<iframe height="1800" width="680" src="https://wavefarm.spreadshirt.com/" name="Spreadshop" id="Spreadshop" frameborder="0" onload="window.scrollTo(0, 0);"></iframe>

<h1><a id="friends"></a>FRIENDS OF WGXC</h1>
<p>
Wave Farm's WGXC-FM is made possible, in part, by support from generous individuals and businesses who are Friends of WGXC. We hope you will join us.</p>
<p>Thank you to our recent donors: Peter	Aaron	(Hudson),
Christianna	Abel	(Rhinebeck),
Justin	Ark	(Elizaville), 
Pamela	Badilla	(Hudson), 
Martin	Baumgold	(Copake),
Kam	Bellamy	(Hudson),
Janine	Bennett	(Athens),
Jonathan	Bernauer	(Hudson), 
Bianca	Biberaj	(Hudson), 
Peter W.	Bohn	(Gilboa),
David	Bolevice	(Philmont), 
David and Sheri	Bolevice	(Philmont), 
Ray	Bradshaw	(Ravena), 
Crossroads	Brewery	(Athens), 
Matt	Bua	(Catskill),
Ellen J.	Burcroff	(Sharon), 
Daniel	Carillo	(Mountainville), 
	Catskill Community Acupuncture	(Catskill),
Catherine	Censor	(Athens),
Emily	Chameides	(Hudson), 
Concra Appraisals (Hudson), 
Michael	Chameides	(Hudson),
John	Cleater	(Brooklyn),
Ann Forbes	Cooper	(Catskill), 
Bryce	Courbois	(Hudson),
Ogden	Courbois	(Hudson),
Steve	Daley	(Earlton),
Donna	Davey	(New York), 
Beachwood	Davis	(E. Chatham), 
Richard	Desir	(Westerlo), 
Ellen	Donovan	(Medusa),
	Drop Forge Tool	(Hudson),
Peter	Duda	(New York),
Wendy	Dwyer	(Canaan), 
William K	Ebel	(Hudson), 
George	Elmendorf	(Malden Bridge),
Candi	Ennis	(Pittsfield), 
John	Esposito	(Stuyvesant), 
	Fahrenheit 451 House	(Catskill),
Anthony	Filanowski	(Hudson), 
	First Hudson Mortgage Co.	(Hudson),
Cory	Fischer-Hoffman	(Philadelphia),
Natalie	Fores	(Stuyvesant),
Elizabeth	Fout	(Greenport), 
Bryan	Fox	(New York), 
David	Fried	(Cornwallville), 
Randall	Fried	(Earlton), 
Chris	Funkhouser	(Rhinebeck), 
Enid	Futterman	(Craryville), 
Patrick	Gable	(Copake),
Bill	Gillim	(Hudson),
	Gold's Gym, 	
Leonne	Gould	(Hudson), 
Marie	Greco	(Catskill),
Fayal	Greene	(Hudson),
Henry	Haddad	(Hudson),
	Half Moon	(Hudson),
Ashley	Hartka	(Hudson),
Harvest Spirits	(Valatie), 
Carter	Hodgkin	(New York), 
Jennifer	Houston	(Catskill), 
Dean	Hurley	(Old Chatham), 
Bob	Irwin	(Coxsackie),
Dennis(Rooftopper)	Jenkins	(Hudson),
John	Jermano	(El Granada),
Jack	Jett	(Brooklyn), 
Jane	Jones	(Tulsa),
Dan	Joseph	(Brooklyn), 
Peter	Jung	(Hudson),
Rafael	Karpowitz	(Hudson),
Sara	Kendall	(Hudson),
Nicholas	Kokonis	(Cairo),
Bob	Krisniski	(Hudson),
Martha	Lane	(Hudson),
Paige	Lawlor	(Kerhonkson), 
Jennifer	Lawrence	(Old Chatham),
Helene	Lesterlin	(Saugerties),
Pete	Lievense	(Catskill), 
Henry	Lowengard	(Kingston),
Sylvia B.	Macheski	(Hudson), 
The Magic Stranger (Columbia County),
Torah	Mahman	(Ghent),
William	Mancini	(Kinderhook),
Elizabeth	Martin	(Kinderhook),
Debby	Mayer	(Hudson),
David	McCabe	(Aiken),
Jim	McCabe	(New York), 
Nathan	McLaughlin	(Hudson), 
Cameron	Melville	(Hilldale), 
Frank	Migliorelli	(Croton-on-Hudson), 
John	Millard	(Roundtop),
Donna	Miller	(Preston Hollow), 
Robert Miller	(Preston Hollow), 
Rich	Mirabella	(Albany), 
Jeff	Moore	(Copake),
Vincent	Mulford	(Hudson),
Andrew	Mullen	(Danvers), 
Portia	Munson	(Roundtop),
Iphigene	Murphy	(Chappaqua), 
Mike	Murray	(Cairo), 
Bernard	Natalino	(Sherman Oaks),
A New York Restaurant (Catskill),
Clarke	Olsen	(Spencertown),
	Omi International Arts Center	(Ghent),
Mark	Orton	(Hudson),
Cymon	Pagnani	(Stottville),
Nick	Papas	(Valatie),
Dennis	Peduzzi	(Kinderhook), 
Buddha	Pesto	(Cornwallville),
Mark	Polach	(Climax), 
Jess	Puglisi	(Hudson),
Ron	Puhalski	(Athens), 
Brin	Quell	(Chatham),
William	Rannenberg	(Harlemville),
Paul	Rehm	(Greenville),
David	Reynolds	(Jersey City),
Gunnel	Reznikoff	(Chatham), 
Mindi Lyn	Ribar	(Hudson),
Erica	Riley	(Paulsboro),
Kieran	Riley	(Rhinebeck), 
Echo	Roe	(Acra),
Angela	Rolon	(Hudson), 
Daniel	Ronsani	(Hudson), 
Mary	Ronsani	(Hudson),
Steven	Rosenzweig	(Copake), 
Jeff	Rundy	(Hudson),
Debora	Ryan	(Craryville),
Mary	Salerno	(Hudson), 
David	Salzberg	(Kinderhook),
Debra	Samuels	(Catskill),
Carol	Sancarlos	(Hudson), 
Jane	Scarpellino	(New Haven), 
Daniel	Schmeder	(New York),
Karen	Schoemer	(Kinderhook), 
Charles D.	Schoonover	(Valatie),  
John G.	Schoonover	(Valatie), 
Sam	Sebren	(Athens),
Vincent	Seeley	(Catskill),
Tom	Skarimbas	(Cairo),
Alan	Skerrett	(Philmont), 
Bridget	Smith	(Hudson),
	Spotty Dog Books & Ale	(Hudson),
Jeff	Starr	(Hudson),
Thomas	Steinberg	(Hudson),
Sarah	Sterling	(Hudson),
Christian	Sweningsen	(Stuyvesant), 
Sara	Sweningsen	(Staatsburg),
Thomas	Swope	(Hudson), 
	T. Backer Fund	(Chatham),
Sam	Taffel	(Brooklyn),
Ellen	Thurston	(Hudson), 
Raymond	Tillman	(Chatham), 
Cecilia	Tkaczyk	(Delanson), 
Seth	Travins	(Hudson),
Emily	Truitt	(Catskill),
Kurt	Trumble	(Babylon),
Gerda	Veneman	(Elizaville),
Harry	Vincent	(Catskill),
Michael	Waldholz	(Hudson),
Kaya	Weidman	(Germantown),
	White Whale	(Hudson),
Bernice	Widjeskog	(Stuyvesant),
Glen	Widjeskog	(Kingston),
Jared	Widjeskog	(Stuyvesant), 
Paul	Widjeskog	(St. Albans),
Ben	Wilson	(Hudson), 
Terrance	Wiltshire	(Morgantown), 
Ken	Ytuarte	(Catskill),
Claire		(Hudson),
Frances		(Hudson),
Louis		(South Cairo),
Maggie		(Hudson),
	Anonymous	(Acra),
	Anonymous	(Acra),
	Anonymous	(Acra),
	Anonymous	(Acra), 
	Anonymous	(Albany),
	Anonymous	(Albany),
	Anonymous	(Albany), 
	Anonymous	(Asheville), 
	Anonymous	(Astoria), 
	Anonymous	(Boynton Beach),
	Anonymous	(Brooklyn),
	Anonymous	(Brooklyn), 
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo),
	Anonymous	(Cairo), 
	Anonymous	(Cairo), 
	Anonymous	(Cairo), 
	Anonymous	(Catskill),
	Anonymous	(Catskill), 
	Anonymous	(Catskill), 
	Anonymous	(Catskill), 
	Anonymous	(Chatham),
	Anonymous	(Chatham),
	Anonymous	(Chatham),
	Anonymous	(Chatham),
	Anonymous	(Chatham), 
	Anonymous	(Chatham), 
	Anonymous	(Cold Spring),
	Anonymous	(Columbia County),
	Anonymous	(Craryville), 
	Anonymous	(Delmar),
	Anonymous	(E. Chatham),
	Anonymous	(E. Nassau), 
	Anonymous	(Earlton),
	Anonymous	(East Durham), 
	Anonymous	(East Durham), 
	Anonymous	(Fort Lee), 
	Anonymous	(Freehold),
	Anonymous	(Ghent),
	Anonymous	(Hillsdale), 
	Anonymous	(Houston), 
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson),
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson), 
	Anonymous	(Hudson).
	Anonymous	(Jaimaica),
	Anonymous	(Kinderhook), 
	Anonymous	(Kinderhook), 
	Anonymous	(Lenox),
	Anonymous	(London),
	Anonymous	(Lutherville),
	Anonymous	(Montclair),
	Anonymous	(Nassau),
	Anonymous	(Naugatuck), 
	Anonymous	(New York),
	Anonymous	(New York),
	Anonymous	(New York),
	Anonymous	(New York), 
	Anonymous	(Old Chatham),
	Anonymous	(Old Chatham),
	Anonymous	(Palenville),
	Anonymous	(Palenville), 
	Anonymous	(Paris),
	Anonymous	(Poughkeepsie), 
	Anonymous	(Preston Hollow), 
	Anonymous	(Ravena), 
	Anonymous	(River Vale),
	Anonymous	(Roundtop),
	Anonymous	(Spencertown), 
	Anonymous	(Tivoli),
	Anonymous	(Tivoli),
	Anonymous	(Tivoli), 
	Anonymous	(TK), 
	Anonymous	(Valatie),
	Anonymous	(Washington),
	Anonymous	(Washington), 
	Anonymous	(West Stockbridge),
	Anonymous	(Westerlo), and
	Anonymous	(Williamstown).
</p>
</div>
