<div class="side wgxc">
  <ul>
    <li><a href="#donate"><h3>Donate</h3></a></li>
    <li><a href="#donate">Make a tax-deductible contribution.</a></li>
    <li><a href="#underwriting"><h3>Underwriting</h3></a></li>
    <li><a href="#underwriting">Promote your business or event to WGXC listeners.</a></li>
    <li><a href="#merchandise"><h3>Merchandise</h3></a></li>
    <li><a href="#merchandise">WGXC T-shirts, stickers, and more.</a></li>
    <li><a href="#friends"><h3>Friends of WGXC</h3></a></li>
    <li><a href="#friends">WGXC is made possible by supporters like you!</a></li>
  </ul>
</div>
<div class="wgxc page split">

  <h1>SUPPORT</h1>
Finanical support through donations, underwriting, and merchandise sales, allows WGXC to meet the most basic operating costs, and keeps WGXC on your FM dial! Thank you!</a>
  <p> </p>

<a id="donate"></a><h1>DONATE</h1>
<p>WGXC is a program division of the 501(c)3 non-profit arts organization Wave Farm, contributions to WGXC are tax-deductible to the full extent of the law.</p>

<h2>DONATE ONLINE</h2>
<p>Make a one-time donation or, better yet, become a sustaining supporter by donating something every month. Choose to donate in any amount, and you can stop (or adjust your contribution) at any time. 
<a href="https://donatenow.networkforgood.org/wgxc" target="_new">Click Here to Donate Now!</a></p>

<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: WGXC<br />
Mail to: 5662 Route 23, Acra, NY 12405.</p>

<h1><a id="underwriting"></a>WGXC UNDERWRITING</h1>
<p>
To become an underwriter or for more information, contact Cheryl Symister-Masterson cheryl [at] wgxc.org or phone 518-697-7400.
</p>
<p>
<a href="http://data.free103point9.org/r/p1/0g/sr/WGXCUnderwritingKit2014.pdf">Click here to download an Underwriting Kit.</a>
</p>
<p>
Why underwrite with WGXC? Underwriting is a unique opportunity to reach WGXC’s 78,000 potential listeners on 90.7-FM, and thousands more who regularly visit wgxc.org. WGXC’s listeners believe in the importance of local media, and support the local businesses and organizations that support us. Our listeners are engaged and informed consumers; they value and recognize the investment made by local and regional businesses and organizations in support of community media.
</p><p>
What is underwriting? Underwriting is a specialized and non-commercial form of advertising. These on-air announcements are broadcast at the beginning of WGXC programs. The content and broadcast schedule of these announcements must comply with FCC regulations, and are drafted cooperatively by WGXC and each underwriter.
</p><p>
WGXC underwriting rates are offered in the following packages. Rates are outlined below, and explained in detail in the WGXC Underwriting Kit.
</p><p>
<h2>Total Underwriting Plan</h2>
This plan includes 10 announcements per week / $5 each.<br />
3-month package is $650<br />
6-month package is $1300 / $1235*<br />
*discounted rate if paid at contract (5%)<br />
12-month package is $2600 / $2210*<br />
*discounted rate if paid at contract (15%)<br />
</p><p>
<h2>Basic Underwriting Plan</h2> 
This plan includes 4 announcements per week / $5 each.<br />
3-month package is $260<br />
6-month package is $520 / $495*<br />
*discounted rate if paid at contract (5%)<br />
12-month package is $1040/ $885*<br />
*discounted rate if paid at contract (15%)<br />
</p><p>
<h2>Event Burst</h2>
Broadcast an on-air burst in the days leading up to your event. 10 announcements a week.<br />
Book of 10: $100, for one week ($10/spot)<br />
Book of 20: $180, for two weeks ($9/spot)<br />
Larger books: e.g. 40, 80 etc. are $8/spot   
</p>
<h1><a id="merchandise"></a>WGXC MERCHANDISE</h1>
<iframe height="1800" width="680" src="http://wavefarm.spreadshirt.com/" name="Spreadshop" id="Spreadshop" frameborder="0" onload="window.scrollTo(0, 0);"></iframe>
</p>

<h1><a id="friends"></a>FRIENDS OF WGXC</h1>
<p>
Wave Farm's WGXC-FM is made possible, in part, by support from generous individuals and businesses including:</p>

<em>Coming soon!</em>
</div>
