<link href="/wgxc.css" rel="stylesheet" />
<!-- 
<div class="ticker">
  Flood warning! Catskill Creek...
</div>
 -->
<div class="wgxc-slideshow">
  <!--
  	<img src="//data.free103point9.org/r/fj/e6/yt/reversemouth__062609.jpg">
  	<img src="//data.free103point9.org/r/jz/tk/cf/DeadTilDawn.jpg">
  -->
  
  	<div id="wgxc-slideshow-next"></div>
  	<div id="wgxc-slideshow-prev"></div>
  
	<a id="slide-0" href="" style="display: block;background: url('/images/QSL1.jpg') no-repeat; background-size: contain; background-position: center; ">
	  <div class="slide-credit">Designed by Jess Puglisi, Max Goldfarb, Sam Sebren and Cara Turett</div>
	  <div class="slide-info">Jul 17, 2012</div>
	</a>  
  
	<a id="slide-1" href="" style="background: url('/images/QSL2.jpg') no-repeat;background-size: contain; background-position: center; ">
	  <div class="slide-credit">Designed by Jess Puglisi and Cara Turett</div>
	  <div class="slide-info">January 30, 2013</div>
	</a>  
  
	<a id="slide-2" href=""  style="background: url('/images/QSL3.jpg') no-repeat; background-size: contain; background-position: center; ">
	  <div class="slide-credit">Designed by Brian Dewan and Jess Puglisi</div>
	  <div class="slide-info">Jan 29, 2014</div>
	</a>
	
	<a id="slide-3" href=""  style="background: url('/images/ForWGXCPledgeDrive.jpg') no-repeat;background-size: contain; background-position: center; background-color: rgba(0, 0, 0, .8);;">
	  <div class="slide-credit">[Photo Credit]</div>
	  <div class="slide-info">[Lorem ipsum dolor sit amet, consectetur adipiscing elit.]</div>
	</a>  
	  
	<a id="slide-4" href=""  style="background: url('/images/tinderbox.jpg') no-repeat;background-size: contain; background-position: center; background-color: rgba(0, 0, 0, .8);;">
	  <div class="slide-credit">[Photo Credit]</div>
	  <div class="slide-info">[Lorem ipsum dolor sit amet, consectetur adipiscing elit.]</div>
	</a>  
  
</div>

