<link href="/wgxc.css" rel="stylesheet" />
<!-- 
<div class="ticker">
  Flood warning! Catskill Creek...
</div>
 -->
<div class="wgxc-slideshow">
  <!--
  	<img src="//data.free103point9.org/r/fj/e6/yt/reversemouth__062609.jpg">
  	<img src="//data.free103point9.org/r/jz/tk/cf/DeadTilDawn.jpg">
  -->
  
	<a id="slide-0" class="" href style="display: block;background: url('/images/QSL1.jpg') no-repeat; background-size: 760px 557px">
	  <div class="slide-credit"></div>
	  <div class="slide-title"></div>
	</a>  
  
	<a id="slide-1" class="" href style="background: url('/images/QSL2.jpg') no-repeat; background-size: 760px 557px">
	  <div class="slide-credit"></div>
	  <div class="slide-title"></div>
	</a>  
  
	<a id="slide-2" class="" href style="background: url('/images/QSL3.jpg') no-repeat; background-size: 760px 557px">
	  <div class="slide-credit"></div>
	  <div class="slide-title"></div>
	</a>  
  
</div>

