<link href="/gallery.css" rel="stylesheet" />
<!-- 
<div class="ticker">
  Flood warning! Catskill Creek...
</div>
 -->
<div class="wf-slideshow">
  
 	<div id="wf-slideshow-next"></div>
 	<div id="wf-slideshow-prev"></div>
	
	<!--  
	These are the default slides but they will get replaced with 
	feauted events and broadcasts as available.
	The first slide is used as a template for others.  
	-->
  	
	<a class="slide" href="" style="background-image:url('/images/QSL1.jpg');">
	  <div class="slide-credit">Designed by Jess Puglisi, Max Goldfarb, Sam Sebren and Cara Turett</div>
	  <div class="slide-info">Jul 17, 2012</div>
	</a>  
  
	<a class="slide"  href="" style="background-image:url('/images/QSL2.jpg');">
	  <div class="slide-credit">Designed by Jess Puglisi and Cara Turett</div>
	  <div class="slide-info">January 30, 2013</div>
	</a>  
  
	<a class="slide"  href=""  style="background-image:url('/images/QSL3.jpg');">
	  <div class="slide-credit">Designed by Brian Dewan and Jess Puglisi</div>
	  <div class="slide-info">Jan 29, 2014</div>
	</a>
	   
</div>

