<nav class="primary wgxc">
  <a href="/wgxc/about">ABOUT</a> |
  <a href="/wgxc/schedule">90.7 SCHEDULE</a> |
  <a href="/wgxc/newsroom">NEWSROOM</a> |
  <a href="/wgxc/volunteer">VOLUNTEER</a> |
  <a href="/wgxc/calendar">CALENDAR</a> |
  <a href="/wgxc/donate">DONATE</a>
</nav>
<nav class="secondary wgxc">
  <span>&nbsp;</span>
  <a href="/wgxc/about">About WGXC, Staff, Community Advisory Council, History</a>
  <a href="/wgxc/schedule">Broadcast Schedule on 90.7-FM</a>
  <a href="/wgxc/newsroom">Stories impacting Greene and Columbia Counties</a>
  <a href="/wgxc/volunteer">Volunteer and Programmer Information, and WGXC Policies</a>
  <a href="/wgxc/calendar">Community Calendar, Workshops</a>
  <a href="/wgxc/donate">Make a tax-deductible donation, become an underwriter, WGXC merchandise</a>
</nav>
