<nav class="primary wgxc">
  <a href="/wgxc/about" id="about-nav">ABOUT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/schedule" id="schedule-nav">90.7-FM SCHEDULE</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/newsroom" id="newsroom-nav">NEWSROOM</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/volunteer" id="volunteer-nav">VOLUNTEER ON-AIR + OFF</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/calendar" id="calendar-nav">CALENDAR</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/archive?q=type%3Aaudio&types=&date=&date2=&sites=wgxc&sort=-date" id="calendar-nav">AUDIO ARCHIVE</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/wgxc/donate" id="support-nav">SUPPORT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a class="twitter" target="_blank" href="//twitter.com/free103point9"><span>T</span></a>
  <a class="facebook" target="_blank" href="//facebook.com/wavefarm.org"><span>F</span></a>              
  <a class="instagram" target="_blank" href="//instagram.com/wave_farm/"><span>I</span></a>
   
</nav>
<nav class="secondary wgxc">
  <span>&nbsp;</span>
  <a href="/wgxc/about">About WGXC, Staff, Community Advisory Council, and History</a>
  <a href="/wgxc/schedule">Broadcast Schedule on 90.7-FM</a>
  <a href="/wgxc/newsroom">Stories impacting Greene and Columbia Counties</a>
  <a href="/wgxc/volunteer">Volunteer and Programmer Resources</a>
  <a href="/wgxc/calendar">Community Calendar and Workshops</a>
  <a href="/wgxc/donate">Make a Tax-deductible Donation, Become an Underwriter, Buy WGXC Merchandise</a>
</nav>
<script src="/scripts/wgxc-nav.js"></script>
