<nav class="primary wgxc">
  <a href="/wgxc/about" id="about-nav">ABOUT</a> |
  <a href="/wgxc/schedule" id="schedule-nav">90.7 SCHEDULE</a> |
  <a href="/wgxc/newsroom" id="newsroom-nav">NEWSROOM</a> |
  <a href="/wgxc/volunteer" id="volunteer-nav">VOLUNTEER (ON-AIR + OFF)</a> |
  <a href="/wgxc/calendar" id="calendar-nav">CALENDAR</a> |
  <a href="/wgxc/donate" id="support-nav">SUPPORT</a>
</nav>
<nav class="secondary wgxc">
  <span>&nbsp;</span>
  <a href="/wgxc/about">About WGXC, Staff, Community Advisory Council, History</a>
  <a href="/wgxc/schedule">Broadcast Schedule on 90.7-FM</a>
  <a href="/wgxc/newsroom">Stories impacting Greene and Columbia Counties</a>
  <a href="/wgxc/volunteer">Volunteer and Programmer Resources</a>
  <a href="/wgxc/calendar">Community Calendar, Workshops</a>
  <a href="/wgxc/donate">Make a tax-deductible donation, become an underwriter, WGXC merchandise</a>
</nav>
<script src="/scripts/wgxc-nav.js"></script>