<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page wgxc calendar-page news">

	<div class="datepicker-container">{{>datepicker}}</div>
		
	<div class="calendar-container">
										
			<h1>WGXC Newsroom
			<span class="newsroom-icons">
				<span>Subscribe:</span><a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fwavefarm.org%2Fwgxc%2Fnewsroom%2Frss' target='blank'><img src="/images/feedly.png" width="38" height="39"></a><a href="/wgxc/newsroom/rss"><img src="/images/podcast_other.png" width="37" height="40"></a>
				
			</span>
		</h1>
					
		  
		  <p>Scripts and sounds for WGXC radio hosts to play on the WGXC Morning Show or WGXC Afternoon Show. Breaking news, features, local audio, video, analysis, music, links to events in Greene and Columbia counties, NY.</p>
		  <p>Additional local journalism resources: 
			 
<a href="https://altamontenterprise.com/" target="_new" title="The Altamont Enterprise.">The Altamont Enterprise</a> | 
<a href="http://www.berkshireeagle.com/" target="_new" title="Based in the Berkshires, with a little coverage of Columbia County.">The Berkshire Eagle</a> | 
<a href="http://albany.bizjournals.com/albany/" target="_new" title="Albany-based business journal.">The Business Review</a> | 
<a href="http://blog.timesunion.com/capitol/" target="_new">Capitol Confidential</a> |  
<a href="http://www.chronogram.com/" target="_new" title="Monthly Hudson Valley arts magazine.">Chronogram</a> | 
<a href="http://www.columbiapage.com/" target="_new" title="Volunteer fire fighters of Columbia County website with emergency news, photos.">ColumbiaPage</a> |
<a href="http://www.columbiapaper.com/" target="_new" title="Columbia County weekly newspaper.">The Columbia Paper</a> | 
<a href="http://www.dailyfreeman.com/" target="_new" title="Hudson Valley daily newspaper covers Greene County.">The Daily Freeman</a> | 
<a href="http://www.hudsonvalley360.com" target="_new">HudsonValley360</a> |  
<a href="http://www.midhudsonnews.com/" target="_new">Mid-Hudson News</a> | 
<a href="http://blogs.hudsonvalley.com/fray/" target="_new">The Fray</a> |  
<a href="http://www.capitalnewyork.com/" target="_new" title="Albany Times-Union blog of state politics.">Politico New York</a> | 
<a href="http://www.poughkeepsiejournal.com/" target="_new">Poughkeepsie Journal</a> |  
<a href="http://www.theschoharienews.com/" target="_new" title="The Schoharie News.">The Schoharie News</a> | 
<a href="http://www.timesunion.com/" target="_new">Times Union</a> |  
<a href="http://985thecat.iheart.com/featured/bill-williams/" target="_new">WCTW-FM</a> | 
<a href="https://wavefarm.org/wgxc/newsroom" target="_new" title="Radio news, media news, transmission art, radio art, and more.">WGXC-FM</a> | 
<a href="http://www.facebook.com/groups/66208818746/" target="_new" title="Windham-based commerical radio station.">WRIP-FM</a></p>
		<h2>CLICK ON A NEWS TITLE BELOW FOR MORE INFO</h2>
				  
		<!-- Calendar HTML will be filled in server-side -->
		<!-- Calendar data will be filled in client-side -->
		<div class="calendar-div">{{>calendar}}</div>

	</div>
</div>
