<div class="page wgxc">
  <h1>WGXC 90.7-FM NEWSROOM</h1>
  <p>
<a href="http://newsroom.wgxc.org/">WGXC's Newsroom (http://newsroom.wgxc.org)</a> includes local news summaries, breaking news, features, local audio, video, analysis, music, and links to events in Greene and Columbia counties, NY. The Newsroom contains scripts and sounds for WGXC radio hosts to play on the WGXC Morning Show or WGXC Afternoon Show. 
  </p>
  <p>
WGXC News airs at 5 a.m., 7 a.m., 9 a.m., 12 p.m. (noon), 4 p.m., 5 p.m., 12 a.m. (midnight) on 90.7-FM and wgxc.org.
  </p>Local journalism resources:
<a href="http://www.capitalnewyork.com/" title="Reports from Albany and Manhattan about New York politics.">Capital New York</a> | 
<a href="http://blog.timesunion.com/capitol/" title="Albany Times-Union blog of state politics.">Capitol Confidential</a> | 
<a href="http://www.registerstar.com/chatham_courier/" title="Weekly newspaper.">Chatham Courier</a> | 
<a href="http://www.chronogram.com/" title="Monthly Hudson Valley arts magazine.">Chronogram</a> | 
<a href="http://www.cocotodo.com/" title="Columbia County events.">Cocotodo</a> | 
<a href="http://www.columbiapage.com/" title="Volunteer fire fighters of Columbia County website with emergency news, photos.">ColumbiaPage</a> | 
<a href="http://newsroom.free103point9.org/" title="Radio news, media news, transmission art, radio art, and more.">free103point9 Newsroom</a> | 
<a href="http://www.midhudsonnews.com/">Mid-Hudson News</a> | 
<a href="http://www.thedailymail.net/ravena_news/front/" title="HCN-owned weekly covering southeastern Albany County.">Ravena News-Herald</a> | 
<a href="http://www.registerstar.com/" title="Columbia County daily newspaper.">Register-Star (reg. req.)</a> | 
<a href="http://www.berkshireeagle.com/" title="Based in the Berkshires, with a little coverage of Columbia County.">The Berkshire Eagle</a> | 
<a href="http://albany.bizjournals.com/albany/" title="Albany-based business journal.">The Business Review</a> | 
<a href="http://www.columbiapaper.com/" title="Columbia County weekly newspaper.">The Columbia Paper</a> | 
<a href="http://www.dailyfreeman.com/" title="Hudson Valley daily newspaper covers Greene County.">The Daily Freeman</a> | 
<a href="http://www.thedailymail.net/" title="Greene County daily newspaper.">The Daily Mail (reg. req.)</a> | 
<a href="http://www.thedailymail.net/the_mountain_eagle/news/" title="News of the mountaintop every Thursday.">The Mountain Eagle</a> | 
<a href="http://www.theschoharienews.com/" title="News from Schoharie County.">The Schoharie News</a> | 
<a href="http://educationinhudson.blogspot.com/" title="Exhaustive coverage of Hudson school system.">Unmuffled</a> | 
<a href="http://www.watershedpost.com/" title="News, arts, environment, and culture from the Catskills.">Watershed Post</a> | 
<a href="http://www.1230whuc.com/cc-common/news/sections/newsarticle.html?feed=359246&#038;article=5934771" title="Local news headlines weekdays from AM station.">WHUC</a> | 
<a href="http://www.thedailymail.net/windham_journal/news/" title="News for western Greene County on Thursdays.">Windham Journal</a> | 
<a href="http://www.facebook.com/groups/66208818746/" title="Windham-based commerical radio station.">WRIP</a>
</p>
</div>
