<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page wgxc calendar-page news">

	<div class="datepicker-container">{{>datepicker}}</div>
		
	<div class="calendar-container">
										
		<h1>WGXC Newsroom</h1>
		  <p>Scripts and sounds for WGXC radio hosts to play on the WGXC Morning Show or WGXC Afternoon Show. Breaking news, features, local audio, video, analysis, music, links to events in Greene and Columbia counties, NY.</p>
		  <p>Additional local journalism resources: 
<a href="http://www.berkshireeagle.com/" target="_new" title="Based in the Berkshires, with a little coverage of Columbia County.">The Berkshire Eagle</a> | 
<a href="http://albany.bizjournals.com/albany/" target="_new" title="Albany-based business journal.">The Business Review</a> | 
<a href="http://blog.timesunion.com/capitol/" target="_new">Capitol Confidential</a> |  
<a href="http://www.registerstar.com/chatham_courier/" target="_new" title="Weekly newspaper.">Chatham Courier</a> | 
<a href="http://www.chronogram.com/" target="_new" title="Monthly Hudson Valley arts magazine.">Chronogram</a> | 
<a href="http://www.columbiapage.com/" target="_new" title="Volunteer fire fighters of Columbia County website with emergency news, photos.">ColumbiaPage</a> |
<a href="http://www.columbiapaper.com/" target="_new" title="Columbia County weekly newspaper.">The Columbia Paper</a> | 
<a href="http://www.dailyfreeman.com/" target="_new" title="Hudson Valley daily newspaper covers Greene County.">The Daily Freeman</a> | 
<a href="http://www.thedailymail.net/" target="_new" title="Greene County daily newspaper.">The Daily Mail</a> | 
<a href="http://www.thedailymail.net/greene_county/front/" target="_new" title="HCN-owned weekly covering Greenville, Coxsackie, and Athens.">Greene County News</a> | 
<a href="http://www.midhudsonnews.com/" target="_new">Mid-Hudson News</a> | 
<a href="http://www.thedailymail.net/the_mountain_eagle/news/" target="_new" title="News of the mountaintop every Thursday.">The Mountain Eagle</a> |
<a href="http://www.capitalnewyork.com/" target="_new" title="Albany Times-Union blog of state politics.">Politico New York</a> | 
<a href="http://www.thedailymail.net/ravena_news/front/" target="_new" title="HCN-owned weekly covering southeastern Albany County.">Ravena News-Herald</a> | 
<a href="http://www.registerstar.com/" target="_new" title="Columbia County daily newspaper.">Register-Star</a> | 
<a href="http://www.theschoharienews.com/" target="_new" title="News from Schoharie County.">The Schoharie News</a> | 
<a href="http://www.timesunion.com/" target="_new">Times Union</a> |  
<a href="http://www.watershedpost.com/" target="_new" title="News, arts, environment, and culture from the Catskills.">Watershed Post</a> | 
<a href="https://wavefarm.org/wgxc/newsroom" target="_new" title="Radio news, media news, transmission art, radio art, and more.">Wave Farm Newsroom</a> | 
<a href="http://www.1230whuc.com/cc-common/news/sections/newsarticle.html?feed=359246&#038;article=5934771" target="_new" title="Local news headlines weekdays from AM station.">WHUC</a> | 
<a href="http://www.thedailymail.net/windham_journal/news/" target="_new" title="News for western Greene County on Thursdays.">Windham Journal</a> | 
<a href="http://www.facebook.com/groups/66208818746/" target="_new" title="Windham-based commerical radio station.">WRIP</a></p>
		<h2>CLICK ON A NEWS TITLE BELOW FOR MORE INFO</h2>
				  
		<!-- Calendar HTML will be filled in server-side -->
		<!-- Calendar data will be filled in client-side -->
		<div class="calendar-div">{{>calendar}}</div>

	</div>
</div>
