<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page wgxc calendar-page">

	<div class="datepicker-container">{{>datepicker}}</div>
		
	<div class="calendar-container">
										
		<h1>WGXC Newsroom</h1>
		  <p>Scripts and sounds for WGXC radio hosts to play on the WGXC Morning Show or WGXC Afternoon Show. Breaking news, features, local audio, video, analysis, music, links to events in Greene and Columbia counties, NY. www.wgxc.org </p>
		<h2>CLICK ON A NEWS TITLE BELOW FOR MORE INFO</h2>
				  
		<!-- Calendar HTML will be filled in server-side -->
		<!-- Calendar data will be filled in client-side -->
		<div class="calendar-div">{{>calendar}}</div>

	</div>
</div>
