<style>

.main {
  margin: 0 0;
  max-width: 100%;
}

.page {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

table.program-grid {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #838486;	
	
}
table.program-grid th,
table.program-grid td {
	border:1px solid black;
	padding: 2px 4px 2px 4px;
}
table.program-grid th {
	font-weight:bold;
	width: 12%;
	border-width: 1px 1px 2px 1px;
	background-color:black;
	color:white;
	text-transform:uppercase;
}
table.program-grid td {
	border-width: 1px;
	overflow: hidden;	
	font-size:14px;
	text-align: center;
	line-height: 16px;
}
	
</style>

<div class="program-grid page">

  <h1>WGXC PROGRAM SCHEDULE</h1> 
  <p>Wave Farm's WGXC 90.7-FM is a creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement. WGXC serves more than 78,000 potential listeners on 90.7-FM and international listeners at wgxc.org.</p>
 
 	<table class="program-grid">
 		<tr>
 			<th colspan="8">First Week of Month</th>
 		</tr>
 		<tr>
 			<th>&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wedensday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
 		<tr>
 			<td>12:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>12:05 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio Stew</a></td>
 		</tr>
 		<tr>
 			<td>1:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Symposium</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio Rewind</a></td>
 			<td rowspan="1" colspan="1"><a href="">Vital Weekly</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Cutty Strange</a></td>
 			<td rowspan="2" colspan="1"><a href="">Taran's Free Jazz Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Historic Audio from the Archives of Charles Ruas</a></td>
 			<td rowspan="4" colspan="1"><a href="">Live Radio</a></td>
 		</tr>
 		<tr>
 			<td>2:00 AM</td>
 			<td rowspan="3" colspan="1"><a href="">Talk Radio</a></td>
 			<td rowspan="3" colspan="1"><a href="">Tabs out</a></td>
 			<td rowspan="3" colspan="1"><a href="">Creative Composition</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio, Radio</a></td>
 		</tr>
 		<tr>
 			<td>3:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Radio Jazz</a></td>
 		</tr>
 		<tr>
 			<td>4:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td>
 		</tr>
 		<tr>
 			<td>5:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>5:05 AM</td>
 			<td rowspan="1" colspan="1"><a href="">PCJ Media Network Plus</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">The RAIN Report</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Shortwave Radio</a></td>
 			<td rowspan="2" colspan="1"><a href="">Low Power Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>5:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">This Week in Radio News</a></td>
 		</tr> 		
 		<tr>
 			<td>6:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Background Briefing</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">CounterSpin</a></td> 			
 			<td rowspan="4" colspan="1"><a href="">Unpacking Filth</a></td> 			
 		</tr>
 		<tr>
 			<td>6:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">AARL News + RAIN Report</a></td> 			
 		</tr>
 		<tr>
 			<td>7:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Amateur Radio Newsline</a></td>
 		</tr>
 		<tr>
 			<td>7:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Glenn Hauser's World of Radio</a></td>
 		</tr>
 		<tr>
 			<td>8:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Democracy Now</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Off The Hook</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Children's Storytime</a></td> 			
 		</tr>
 		<tr>
 			<td>8:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 		</tr>
 		<tr>
 			<td>9:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Local News</a></td>
 		</tr>
 		<tr>
 			<td>9:05 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">WGXC Feedback</a></td>			
 			<td rowspan="4" colspan="1"><a href="">WGXC Morning Show</a></td>			
 		</tr> 		
 		<tr>
 			<td>9:30 AM</td>
 			<td rowspan="2" colspan="1"><a href="">This Week in Radio News</a></td>			
 		</tr> 		
 		<tr>
 			<td>10:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Law and Disorder</a></td>
 			<td rowspan="2" colspan="1"><a href="">Economic Update</a></td>
 			<td rowspan="2" colspan="1"><a href="">@Issue</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Behind The News</a></td>
 			<td rowspan="2" colspan="1"><a href="">¿Qué Cocinaré Hoy?</a></td>
 		</tr> 		
 		<tr>
 			<td>10:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio Wonderland</a></td>
 		</tr> 		
 		<tr>
 			<td>11:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Zoom</a></td>
 			<td rowspan="1" colspan="1"><a href="">Music Maestro Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">One Size Fits All</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Wall To Wall</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Saturday Morning Serial</a></td>
 			<td rowspan="1" colspan="1"><a href="">Now Boarding with Dan and Jim</a></td>
 		</tr> 		
 		<tr>
 			<td>12:00 PM</td>
 			<td rowspan="1" colspan="7"><a href="">Noon News</a></td>
 		</tr> 		
 		<tr>
 			<td>12:05 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Monday Musical Matinee</a></td>
 			<td rowspan="2" colspan="1"><a href="">Music for the Masses</a></td>
 			<td rowspan="2" colspan="1"><a href="">The Bedazzled Radio Hour</a></td>
 			<td rowspan="2" colspan="1"><a href="">Crossroads in Rhythm</a></td>
 			<td rowspan="2" colspan="1"><a href="">Sugar Shack Juke Box</a></td>
 			<td rowspan="2" colspan="1"><a href="">Lunar Moss</a></td>
 			<td rowspan="2" colspan="1"><a href="">In the Cut</a></td>
 		</tr> 		
 		<tr>
 			<td>1:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>2:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Ecosocialist Horizons Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Ecoshock</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Art of the Hudson Valley</a></td>
 			<td rowspan="1" colspan="1"><a href="">From The Vault</a></td>
 			<td rowspan="1" colspan="1"><a href="">Human Machine</a></td>
 			<td rowspan="3" colspan="1"><a href="">The Neon and the Rain</a></td>
 		</tr> 		
 		<tr>
 			<td>3:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Food Sleuth</a></td>
 			<td rowspan="1" colspan="1"><a href="">Sprouts</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">This Way Out</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Theater</a></td>
 			<td rowspan="1" colspan="1"><a href="">Making Contact</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>3:30 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Bound by Books</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Dirt</a></td>
 			<td rowspan="1" colspan="1"><a href="">Game Hoarders</a></td>
 			<td rowspan="1" colspan="1"><a href="">Cymon Says</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Camp</a></td>
 		</tr> 		
 		<tr>
 			<td>4:00 PM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Li Le, Li Tan</a></td>
 		</tr> 		
 		<tr>
 			<td>5:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>6:00 PM</td>
 			<td rowspan="1" colspan="6"><a href="">All Together Now</a></td>
 			<td rowspan="2" colspan="1"><a href="">Rancho Thatchnmo</a></td>
 		</tr> 		
 		<tr>
 			<td>7:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Off The Rails</a></td>
 			<td rowspan="2" colspan="1"><a href="">Leprous Garden</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The PA System</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Jazz Disturbance</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Guest DJ</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td> 			
 		</tr> 		
 		<tr>
 			<td>8:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Night Special</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Irish Show</a></td> 			
 		</tr> 		
 		<tr>
 			<td>9:30 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Pyramid Power</a></td>
 			<td rowspan="2" colspan="1"><a href="">Battlefield Earth</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Honeygun Power Hour</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Puff!</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Stooprock Radio Takeover</a></td> 			
 		</tr> 		
 		<tr>
 			<td>10:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Saturday Night Séance</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Rock 'n' Roll Martian</a></td> 			
 		</tr> 		
	</table>
	
	
 	<table class="program-grid">
 		<tr>
 			<th colspan="8">Second Week of Month</th>
 		</tr>
 		<tr>
 			<th>&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wedensday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
 		<tr>
 			<td>12:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>12:05 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio Stew</a></td>
 		</tr>
 		<tr>
 			<td>1:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Symposium</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio Rewind</a></td>
 			<td rowspan="1" colspan="1"><a href="">Vital Weekly</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Cutty Strange</a></td>
 			<td rowspan="2" colspan="1"><a href="">Taran's Free Jazz Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Historic Audio from the Archives of Charles Ruas</a></td>
 			<td rowspan="4" colspan="1"><a href="">Live Radio</a></td>
 		</tr>
 		<tr>
 			<td>2:00 AM</td>
 			<td rowspan="3" colspan="1"><a href="">Talk Radio</a></td>
 			<td rowspan="3" colspan="1"><a href="">Tabs out</a></td>
 			<td rowspan="3" colspan="1"><a href="">Creative Composition</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio, Radio</a></td>
 		</tr>
 		<tr>
 			<td>3:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Radio Jazz</a></td>
 		</tr>
 		<tr>
 			<td>4:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td>
 		</tr>
 		<tr>
 			<td>5:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>5:05 AM</td>
 			<td rowspan="1" colspan="1"><a href="">PCJ Media Network Plus</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">The RAIN Report</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Shortwave Radio</a></td>
 			<td rowspan="2" colspan="1"><a href="">Low Power Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>5:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">This Week in Radio News</a></td>
 		</tr> 		
 		<tr>
 			<td>6:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Background Briefing</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">CounterSpin</a></td> 			
 			<td rowspan="4" colspan="1"><a href="">Unpacking Filth</a></td> 			
 		</tr>
 		<tr>
 			<td>6:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">AARL News + RAIN Report</a></td> 			
 		</tr>
 		<tr>
 			<td>7:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Amateur Radio Newsline</a></td>
 		</tr>
 		<tr>
 			<td>7:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Glenn Hauser's World of Radio</a></td>
 		</tr>
 		<tr>
 			<td>8:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Democracy Now</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Off The Hook</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Children's Storytime</a></td> 			
 		</tr>
 		<tr>
 			<td>8:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 		</tr>
 		<tr>
 			<td>9:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Local News</a></td>
 		</tr>
 		<tr>
 			<td>9:05 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">WGXC Feedback</a></td>			
 			<td rowspan="4" colspan="1"><a href="">WGXC Morning Show</a></td>			
 		</tr> 		
 		<tr>
 			<td>9:30 AM</td>
 			<td rowspan="2" colspan="1"><a href="">This Week in Radio News</a></td>			
 		</tr> 		
 		<tr>
 			<td>10:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Law and Disorder</a></td>
 			<td rowspan="2" colspan="1"><a href="">Economic Update</a></td>
 			<td rowspan="2" colspan="1"><a href="">@Issue</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Behind The News</a></td>
 			<td rowspan="2" colspan="1"><a href="">¿Qué Cocinaré Hoy?</a></td>
 		</tr> 		
 		<tr>
 			<td>10:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio Wonderland</a></td>
 		</tr> 		
 		<tr>
 			<td>11:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Zoom</a></td>
 			<td rowspan="1" colspan="1"><a href="">Music Maestro Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">One Size Fits All</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Wall To Wall</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Saturday Morning Serial</a></td>
 			<td rowspan="1" colspan="1"><a href="">Now Boarding with Dan and Jim</a></td>
 		</tr> 		
 		<tr>
 			<td>12:00 PM</td>
 			<td rowspan="1" colspan="7"><a href="">Noon News</a></td>
 		</tr> 		
 		<tr>
 			<td>12:05 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Monday Musical Matinee</a></td>
 			<td rowspan="2" colspan="1"><a href="">Music for the Masses</a></td>
 			<td rowspan="2" colspan="1"><a href="">The Bedazzled Radio Hour</a></td>
 			<td rowspan="2" colspan="1"><a href="">Crossroads in Rhythm</a></td>
 			<td rowspan="2" colspan="1"><a href="">Sugar Shack Juke Box</a></td>
 			<td rowspan="2" colspan="1"><a href="">Lunar Moss</a></td>
 			<td rowspan="2" colspan="1"><a href="">In the Cut</a></td>
 		</tr> 		
 		<tr>
 			<td>1:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>2:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Ecosocialist Horizons Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Ecoshock</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Art of the Hudson Valley</a></td>
 			<td rowspan="1" colspan="1"><a href="">From The Vault</a></td>
 			<td rowspan="1" colspan="1"><a href="">Human Machine</a></td>
 			<td rowspan="3" colspan="1"><a href="">The Neon and the Rain</a></td>
 		</tr> 		
 		<tr>
 			<td>3:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Food Sleuth</a></td>
 			<td rowspan="1" colspan="1"><a href="">Sprouts</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">This Way Out</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Theater</a></td>
 			<td rowspan="1" colspan="1"><a href="">Making Contact</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>3:30 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Bound by Books</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Dirt</a></td>
 			<td rowspan="1" colspan="1"><a href="">Game Hoarders</a></td>
 			<td rowspan="1" colspan="1"><a href="">Cymon Says</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Camp</a></td>
 		</tr> 		
 		<tr>
 			<td>4:00 PM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Li Le, Li Tan</a></td>
 		</tr> 		
 		<tr>
 			<td>5:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>6:00 PM</td>
 			<td rowspan="1" colspan="6"><a href="">All Together Now</a></td>
 			<td rowspan="2" colspan="1"><a href="">Rancho Thatchnmo</a></td>
 		</tr> 		
 		<tr>
 			<td>7:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Off The Rails</a></td>
 			<td rowspan="2" colspan="1"><a href="">Leprous Garden</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The PA System</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Jazz Disturbance</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Guest DJ</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td> 			
 		</tr> 		
 		<tr>
 			<td>8:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Night Special</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Irish Show</a></td> 			
 		</tr> 		
 		<tr>
 			<td>9:30 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Pyramid Power</a></td>
 			<td rowspan="2" colspan="1"><a href="">Battlefield Earth</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Honeygun Power Hour</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Puff!</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Stooprock Radio Takeover</a></td> 			
 		</tr> 		
 		<tr>
 			<td>10:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Saturday Night Séance</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Rock 'n' Roll Martian</a></td> 			
 		</tr> 		
	</table>	
	
 	<table class="program-grid">
 		<tr>
 			<th colspan="8">Third Week of Month</th>
 		</tr>
 		<tr>
 			<th>&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wedensday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
 		<tr>
 			<td>12:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>12:05 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio Stew</a></td>
 		</tr>
 		<tr>
 			<td>1:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Symposium</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio Rewind</a></td>
 			<td rowspan="1" colspan="1"><a href="">Vital Weekly</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Cutty Strange</a></td>
 			<td rowspan="2" colspan="1"><a href="">Taran's Free Jazz Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Historic Audio from the Archives of Charles Ruas</a></td>
 			<td rowspan="4" colspan="1"><a href="">Live Radio</a></td>
 		</tr>
 		<tr>
 			<td>2:00 AM</td>
 			<td rowspan="3" colspan="1"><a href="">Talk Radio</a></td>
 			<td rowspan="3" colspan="1"><a href="">Tabs out</a></td>
 			<td rowspan="3" colspan="1"><a href="">Creative Composition</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio, Radio</a></td>
 		</tr>
 		<tr>
 			<td>3:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Radio Jazz</a></td>
 		</tr>
 		<tr>
 			<td>4:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td>
 		</tr>
 		<tr>
 			<td>5:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>5:05 AM</td>
 			<td rowspan="1" colspan="1"><a href="">PCJ Media Network Plus</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">The RAIN Report</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Shortwave Radio</a></td>
 			<td rowspan="2" colspan="1"><a href="">Low Power Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>5:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">This Week in Radio News</a></td>
 		</tr> 		
 		<tr>
 			<td>6:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Background Briefing</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">CounterSpin</a></td> 			
 			<td rowspan="4" colspan="1"><a href="">Unpacking Filth</a></td> 			
 		</tr>
 		<tr>
 			<td>6:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">AARL News + RAIN Report</a></td> 			
 		</tr>
 		<tr>
 			<td>7:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Amateur Radio Newsline</a></td>
 		</tr>
 		<tr>
 			<td>7:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Glenn Hauser's World of Radio</a></td>
 		</tr>
 		<tr>
 			<td>8:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Democracy Now</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Off The Hook</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Children's Storytime</a></td> 			
 		</tr>
 		<tr>
 			<td>8:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 		</tr>
 		<tr>
 			<td>9:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Local News</a></td>
 		</tr>
 		<tr>
 			<td>9:05 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">WGXC Feedback</a></td>			
 			<td rowspan="4" colspan="1"><a href="">WGXC Morning Show</a></td>			
 		</tr> 		
 		<tr>
 			<td>9:30 AM</td>
 			<td rowspan="2" colspan="1"><a href="">This Week in Radio News</a></td>			
 		</tr> 		
 		<tr>
 			<td>10:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Law and Disorder</a></td>
 			<td rowspan="2" colspan="1"><a href="">Economic Update</a></td>
 			<td rowspan="2" colspan="1"><a href="">@Issue</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Behind The News</a></td>
 			<td rowspan="2" colspan="1"><a href="">¿Qué Cocinaré Hoy?</a></td>
 		</tr> 		
 		<tr>
 			<td>10:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio Wonderland</a></td>
 		</tr> 		
 		<tr>
 			<td>11:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Zoom</a></td>
 			<td rowspan="1" colspan="1"><a href="">Music Maestro Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">One Size Fits All</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Wall To Wall</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Saturday Morning Serial</a></td>
 			<td rowspan="1" colspan="1"><a href="">Now Boarding with Dan and Jim</a></td>
 		</tr> 		
 		<tr>
 			<td>12:00 PM</td>
 			<td rowspan="1" colspan="7"><a href="">Noon News</a></td>
 		</tr> 		
 		<tr>
 			<td>12:05 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Monday Musical Matinee</a></td>
 			<td rowspan="2" colspan="1"><a href="">Music for the Masses</a></td>
 			<td rowspan="2" colspan="1"><a href="">The Bedazzled Radio Hour</a></td>
 			<td rowspan="2" colspan="1"><a href="">Crossroads in Rhythm</a></td>
 			<td rowspan="2" colspan="1"><a href="">Sugar Shack Juke Box</a></td>
 			<td rowspan="2" colspan="1"><a href="">Lunar Moss</a></td>
 			<td rowspan="2" colspan="1"><a href="">In the Cut</a></td>
 		</tr> 		
 		<tr>
 			<td>1:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>2:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Ecosocialist Horizons Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Ecoshock</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Art of the Hudson Valley</a></td>
 			<td rowspan="1" colspan="1"><a href="">From The Vault</a></td>
 			<td rowspan="1" colspan="1"><a href="">Human Machine</a></td>
 			<td rowspan="3" colspan="1"><a href="">The Neon and the Rain</a></td>
 		</tr> 		
 		<tr>
 			<td>3:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Food Sleuth</a></td>
 			<td rowspan="1" colspan="1"><a href="">Sprouts</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">This Way Out</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Theater</a></td>
 			<td rowspan="1" colspan="1"><a href="">Making Contact</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>3:30 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Bound by Books</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Dirt</a></td>
 			<td rowspan="1" colspan="1"><a href="">Game Hoarders</a></td>
 			<td rowspan="1" colspan="1"><a href="">Cymon Says</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Camp</a></td>
 		</tr> 		
 		<tr>
 			<td>4:00 PM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Li Le, Li Tan</a></td>
 		</tr> 		
 		<tr>
 			<td>5:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>6:00 PM</td>
 			<td rowspan="1" colspan="6"><a href="">All Together Now</a></td>
 			<td rowspan="2" colspan="1"><a href="">Rancho Thatchnmo</a></td>
 		</tr> 		
 		<tr>
 			<td>7:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Off The Rails</a></td>
 			<td rowspan="2" colspan="1"><a href="">Leprous Garden</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The PA System</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Jazz Disturbance</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Guest DJ</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td> 			
 		</tr> 		
 		<tr>
 			<td>8:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Night Special</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Irish Show</a></td> 			
 		</tr> 		
 		<tr>
 			<td>9:30 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Pyramid Power</a></td>
 			<td rowspan="2" colspan="1"><a href="">Battlefield Earth</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Honeygun Power Hour</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Puff!</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Stooprock Radio Takeover</a></td> 			
 		</tr> 		
 		<tr>
 			<td>10:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Saturday Night Séance</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Rock 'n' Roll Martian</a></td> 			
 		</tr> 		
	</table> 	
 
 	<table class="program-grid">
 		<tr>
 			<th colspan="8">Fourth Week of Month</th>
 		</tr>
 		<tr>
 			<th>&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wedensday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
 		<tr>
 			<td>12:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>12:05 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio Stew</a></td>
 		</tr>
 		<tr>
 			<td>1:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Symposium</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio Rewind</a></td>
 			<td rowspan="1" colspan="1"><a href="">Vital Weekly</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Cutty Strange</a></td>
 			<td rowspan="2" colspan="1"><a href="">Taran's Free Jazz Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Historic Audio from the Archives of Charles Ruas</a></td>
 			<td rowspan="4" colspan="1"><a href="">Live Radio</a></td>
 		</tr>
 		<tr>
 			<td>2:00 AM</td>
 			<td rowspan="3" colspan="1"><a href="">Talk Radio</a></td>
 			<td rowspan="3" colspan="1"><a href="">Tabs out</a></td>
 			<td rowspan="3" colspan="1"><a href="">Creative Composition</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio, Radio</a></td>
 		</tr>
 		<tr>
 			<td>3:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Radio Jazz</a></td>
 		</tr>
 		<tr>
 			<td>4:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td>
 		</tr>
 		<tr>
 			<td>5:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>5:05 AM</td>
 			<td rowspan="1" colspan="1"><a href="">PCJ Media Network Plus</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">The RAIN Report</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Shortwave Radio</a></td>
 			<td rowspan="2" colspan="1"><a href="">Low Power Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>5:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">This Week in Radio News</a></td>
 		</tr> 		
 		<tr>
 			<td>6:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Background Briefing</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">CounterSpin</a></td> 			
 			<td rowspan="4" colspan="1"><a href="">Unpacking Filth</a></td> 			
 		</tr>
 		<tr>
 			<td>6:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">AARL News + RAIN Report</a></td> 			
 		</tr>
 		<tr>
 			<td>7:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Amateur Radio Newsline</a></td>
 		</tr>
 		<tr>
 			<td>7:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Glenn Hauser's World of Radio</a></td>
 		</tr>
 		<tr>
 			<td>8:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Democracy Now</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Off The Hook</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Children's Storytime</a></td> 			
 		</tr>
 		<tr>
 			<td>8:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 		</tr>
 		<tr>
 			<td>9:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Local News</a></td>
 		</tr>
 		<tr>
 			<td>9:05 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">WGXC Feedback</a></td>			
 			<td rowspan="4" colspan="1"><a href="">WGXC Morning Show</a></td>			
 		</tr> 		
 		<tr>
 			<td>9:30 AM</td>
 			<td rowspan="2" colspan="1"><a href="">This Week in Radio News</a></td>			
 		</tr> 		
 		<tr>
 			<td>10:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Law and Disorder</a></td>
 			<td rowspan="2" colspan="1"><a href="">Economic Update</a></td>
 			<td rowspan="2" colspan="1"><a href="">@Issue</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Behind The News</a></td>
 			<td rowspan="2" colspan="1"><a href="">¿Qué Cocinaré Hoy?</a></td>
 		</tr> 		
 		<tr>
 			<td>10:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio Wonderland</a></td>
 		</tr> 		
 		<tr>
 			<td>11:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Zoom</a></td>
 			<td rowspan="1" colspan="1"><a href="">Music Maestro Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">One Size Fits All</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Wall To Wall</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Saturday Morning Serial</a></td>
 			<td rowspan="1" colspan="1"><a href="">Now Boarding with Dan and Jim</a></td>
 		</tr> 		
 		<tr>
 			<td>12:00 PM</td>
 			<td rowspan="1" colspan="7"><a href="">Noon News</a></td>
 		</tr> 		
 		<tr>
 			<td>12:05 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Monday Musical Matinee</a></td>
 			<td rowspan="2" colspan="1"><a href="">Music for the Masses</a></td>
 			<td rowspan="2" colspan="1"><a href="">The Bedazzled Radio Hour</a></td>
 			<td rowspan="2" colspan="1"><a href="">Crossroads in Rhythm</a></td>
 			<td rowspan="2" colspan="1"><a href="">Sugar Shack Juke Box</a></td>
 			<td rowspan="2" colspan="1"><a href="">Lunar Moss</a></td>
 			<td rowspan="2" colspan="1"><a href="">In the Cut</a></td>
 		</tr> 		
 		<tr>
 			<td>1:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>2:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Ecosocialist Horizons Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Ecoshock</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Art of the Hudson Valley</a></td>
 			<td rowspan="1" colspan="1"><a href="">From The Vault</a></td>
 			<td rowspan="1" colspan="1"><a href="">Human Machine</a></td>
 			<td rowspan="3" colspan="1"><a href="">The Neon and the Rain</a></td>
 		</tr> 		
 		<tr>
 			<td>3:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Food Sleuth</a></td>
 			<td rowspan="1" colspan="1"><a href="">Sprouts</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">This Way Out</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Theater</a></td>
 			<td rowspan="1" colspan="1"><a href="">Making Contact</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>3:30 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Bound by Books</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Dirt</a></td>
 			<td rowspan="1" colspan="1"><a href="">Game Hoarders</a></td>
 			<td rowspan="1" colspan="1"><a href="">Cymon Says</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Camp</a></td>
 		</tr> 		
 		<tr>
 			<td>4:00 PM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Li Le, Li Tan</a></td>
 		</tr> 		
 		<tr>
 			<td>5:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>6:00 PM</td>
 			<td rowspan="1" colspan="6"><a href="">All Together Now</a></td>
 			<td rowspan="2" colspan="1"><a href="">Rancho Thatchnmo</a></td>
 		</tr> 		
 		<tr>
 			<td>7:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Off The Rails</a></td>
 			<td rowspan="2" colspan="1"><a href="">Leprous Garden</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The PA System</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Jazz Disturbance</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Guest DJ</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td> 			
 		</tr> 		
 		<tr>
 			<td>8:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Night Special</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Irish Show</a></td> 			
 		</tr> 		
 		<tr>
 			<td>9:30 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Pyramid Power</a></td>
 			<td rowspan="2" colspan="1"><a href="">Battlefield Earth</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Honeygun Power Hour</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Puff!</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Stooprock Radio Takeover</a></td> 			
 		</tr> 		
 		<tr>
 			<td>10:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Saturday Night Séance</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Rock 'n' Roll Martian</a></td> 			
 		</tr> 		
	</table> 
	
 	<table class="program-grid">
 		<tr>
 			<th colspan="8">Fifth Week of Month</th>
 		</tr>
 		<tr>
 			<th>&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wedensday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
 		<tr>
 			<td>12:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>12:05 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio Stew</a></td>
 		</tr>
 		<tr>
 			<td>1:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Symposium</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio Rewind</a></td>
 			<td rowspan="1" colspan="1"><a href="">Vital Weekly</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Cutty Strange</a></td>
 			<td rowspan="2" colspan="1"><a href="">Taran's Free Jazz Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Historic Audio from the Archives of Charles Ruas</a></td>
 			<td rowspan="4" colspan="1"><a href="">Live Radio</a></td>
 		</tr>
 		<tr>
 			<td>2:00 AM</td>
 			<td rowspan="3" colspan="1"><a href="">Talk Radio</a></td>
 			<td rowspan="3" colspan="1"><a href="">Tabs out</a></td>
 			<td rowspan="3" colspan="1"><a href="">Creative Composition</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio, Radio</a></td>
 		</tr>
 		<tr>
 			<td>3:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Radio Jazz</a></td>
 		</tr>
 		<tr>
 			<td>4:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td>
 		</tr>
 		<tr>
 			<td>5:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>5:05 AM</td>
 			<td rowspan="1" colspan="1"><a href="">PCJ Media Network Plus</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">The RAIN Report</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Shortwave Radio</a></td>
 			<td rowspan="2" colspan="1"><a href="">Low Power Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>5:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">This Week in Radio News</a></td>
 		</tr> 		
 		<tr>
 			<td>6:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Background Briefing</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">CounterSpin</a></td> 			
 			<td rowspan="4" colspan="1"><a href="">Unpacking Filth</a></td> 			
 		</tr>
 		<tr>
 			<td>6:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">AARL News + RAIN Report</a></td> 			
 		</tr>
 		<tr>
 			<td>7:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Amateur Radio Newsline</a></td>
 		</tr>
 		<tr>
 			<td>7:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Glenn Hauser's World of Radio</a></td>
 		</tr>
 		<tr>
 			<td>8:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Democracy Now</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Off The Hook</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Children's Storytime</a></td> 			
 		</tr>
 		<tr>
 			<td>8:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 		</tr>
 		<tr>
 			<td>9:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Local News</a></td>
 		</tr>
 		<tr>
 			<td>9:05 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">WGXC Feedback</a></td>			
 			<td rowspan="4" colspan="1"><a href="">WGXC Morning Show</a></td>			
 		</tr> 		
 		<tr>
 			<td>9:30 AM</td>
 			<td rowspan="2" colspan="1"><a href="">This Week in Radio News</a></td>			
 		</tr> 		
 		<tr>
 			<td>10:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Law and Disorder</a></td>
 			<td rowspan="2" colspan="1"><a href="">Economic Update</a></td>
 			<td rowspan="2" colspan="1"><a href="">@Issue</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Behind The News</a></td>
 			<td rowspan="2" colspan="1"><a href="">¿Qué Cocinaré Hoy?</a></td>
 		</tr> 		
 		<tr>
 			<td>10:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio Wonderland</a></td>
 		</tr> 		
 		<tr>
 			<td>11:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Zoom</a></td>
 			<td rowspan="1" colspan="1"><a href="">Music Maestro Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">One Size Fits All</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Wall To Wall</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Saturday Morning Serial</a></td>
 			<td rowspan="1" colspan="1"><a href="">Now Boarding with Dan and Jim</a></td>
 		</tr> 		
 		<tr>
 			<td>12:00 PM</td>
 			<td rowspan="1" colspan="7"><a href="">Noon News</a></td>
 		</tr> 		
 		<tr>
 			<td>12:05 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Monday Musical Matinee</a></td>
 			<td rowspan="2" colspan="1"><a href="">Music for the Masses</a></td>
 			<td rowspan="2" colspan="1"><a href="">The Bedazzled Radio Hour</a></td>
 			<td rowspan="2" colspan="1"><a href="">Crossroads in Rhythm</a></td>
 			<td rowspan="2" colspan="1"><a href="">Sugar Shack Juke Box</a></td>
 			<td rowspan="2" colspan="1"><a href="">Lunar Moss</a></td>
 			<td rowspan="2" colspan="1"><a href="">In the Cut</a></td>
 		</tr> 		
 		<tr>
 			<td>1:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>2:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Ecosocialist Horizons Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Ecoshock</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td>
 			<td rowspan="1" colspan="1"><a href="">The Art of the Hudson Valley</a></td>
 			<td rowspan="1" colspan="1"><a href="">From The Vault</a></td>
 			<td rowspan="1" colspan="1"><a href="">Human Machine</a></td>
 			<td rowspan="3" colspan="1"><a href="">The Neon and the Rain</a></td>
 		</tr> 		
 		<tr>
 			<td>3:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Food Sleuth</a></td>
 			<td rowspan="1" colspan="1"><a href="">Sprouts</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">This Way Out</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Theater</a></td>
 			<td rowspan="1" colspan="1"><a href="">Making Contact</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>3:30 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Bound by Books</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Dirt</a></td>
 			<td rowspan="1" colspan="1"><a href="">Game Hoarders</a></td>
 			<td rowspan="1" colspan="1"><a href="">Cymon Says</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Camp</a></td>
 		</tr> 		
 		<tr>
 			<td>4:00 PM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Afternoon Show</a></td>
 			<td rowspan="2" colspan="1"><a href="">Li Le, Li Tan</a></td>
 		</tr> 		
 		<tr>
 			<td>5:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>6:00 PM</td>
 			<td rowspan="1" colspan="6"><a href="">All Together Now</a></td>
 			<td rowspan="2" colspan="1"><a href="">Rancho Thatchnmo</a></td>
 		</tr> 		
 		<tr>
 			<td>7:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Off The Rails</a></td>
 			<td rowspan="2" colspan="1"><a href="">Leprous Garden</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The PA System</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Jazz Disturbance</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Guest DJ</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td> 			
 		</tr> 		
 		<tr>
 			<td>8:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Night Special</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Irish Show</a></td> 			
 		</tr> 		
 		<tr>
 			<td>9:30 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Pyramid Power</a></td>
 			<td rowspan="2" colspan="1"><a href="">Battlefield Earth</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Honeygun Power Hour</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Puff!</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Stooprock Radio Takeover</a></td> 			
 		</tr> 		
 		<tr>
 			<td>10:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Saturday Night Séance</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Rock 'n' Roll Martian</a></td> 			
 		</tr> 		
	</table>	
 
</div>
