<div class="side">
  <ul>
    <li><h3>Introduction</h3>
    <li><a href="#schedule">Program Schedule</a></li>
    <li><a href="#committees">Programming Committees</a></li>
    <li><h3>Programmer Basics</h3>
    <li><a href="#volunteer">Volunteer Requirements</a></li>
    <li><a href="#communication">Communication</a></li>
    <li><a href="#music">Music Reporting</a></li>
    <li><a href="#pledge">Pledge Drives</a></li>
    <li><a href="#terms">Program Terms</a></li>
    <li><a href="#security">Security & Equipment</a></li>
    <li><a href="#social">Social Media</a></li>
    <li><a href="#training">Training</a></li>
    <li><a href="#agreement">Programmer Agreement & FCC and Station Policy Programmer Quiz</a></li>
 
    
  </ul>
</div>
<div class="wgxc page">
  <h1>WGXC PROGRAMMER RESOURCES</h1> 
  <p>This page contains important information for current WGXC programmers, as well as individuals interested in proposing a show on 90.7-FM. Please direct any questions to Lynn Sloneker, Station Manager, lynn [at] wgxc.org.</p>
 
    <p>WGXC is a Program Division of Wave Farm. Essential information about how WGXC relates to Wave Farm's programs and activities-at-large is available via the <a href="/about">About</a> link in the footer at the bottom of this page.</p>

  <h1><a id="schedule"></a>PROGRAM SCHEDULE</h1>
<p>The WGXC Program Schedule features Community Programming produced by residents of Greene and Columbia counties Sunday - Friday (6 a.m. - midnight.) Transmission Arts and Experimental Sound programming airs Saturdays and overnights (midnight - 6 a.m.). <br />
<h2>Sunday - Friday Community Programming</h2>
6 a.m. – 7 a.m. International News<br />
7 a.m. – 8 a.m. Morning Magazine Show<br />
8 a.m. – 9 a.m. International News<br />
9 a.m. – 10 a.m. Morning Magazine Show<br />
10 a.m. – 11 a.m. Cultural and Civic Affairs<br />
11 a.m. – 2 p.m. Music Programs<br />
2 p.m. – 3 p.m. Cultural and Civic Affairs<br />
3 pm. – 3:30 p.m. Radio Theatre and Cultural Programs<br />
3:30 p.m. – 4 p.m. Youth Programming<br />
4 p.m. – 6 p.m. Afternoon Magazine Show<br />
6 p.m. – 7 p.m. International News<br />
7 p.m. – Midnight Music Programs<br />

<h2>Saturdays and Overnights Transmission Arts and Experimental Sound</h2>
Artists experimenting with airwaves, reinventing radio theatre, or using the wireless spectrum as a source for performance and composition is what transmission art is all about. Tune in for local and international transmission art, experimental sound, field recordings, interviews and symposia, as well as other radiophonic treats originating from the Wave Farm Study Center and WGXC Acra Studio. 
</p>
  <h1><a id="committees"></a>PROGRAMMING COMMITEES</h1>
  <h2>Community Programming Committee<br />
  (Purview: Sunday - Friday; 6 a.m. – midnight) </h2>
  <p>
Serving as advisors to the Program Director, the Community Programming Committee is comprised of Community Council members, active programmers contributing to the program schedule, as well as representation from the listening community-at-large. Responsibilities include:<br />
&bull;&nbsp;&nbspAssist with incoming program applications and evaluation<br />
&bull;&nbsp;&nbspConduct programming evaluation and feedback<br />
&bull;&nbsp;&nbspDraft Programmer Handbook updates<br />
&bull;&nbsp;&nbspProgrammer Files & Point System implementation</p>
  <h2>Transmission Arts and Experimental Sound Programming Committee<br />
 (Purview: Saturdays, and midnight–6 a.m. daily)</h2>
  <p>
The Transmission Arts/Experimental Sound Programming Committee is the advisory committee to the Artistic Director and is comprised of international and local individuals that have expertise and involvement relating to Saturday and Late Night programming. The Artistic Director engages committee members as a group or individually, depending on the issues at hand, and reports on committee meetings to the Executive Director and the Board of Directors. </p>

<h1>Programmer Basics</h1>
    <h2><a id="volunteer"></a>Volunteer Requirements</h2>
    <p>Programmers are expected to participate in the organization and maintain an active status as a volunteer, completing at least six hours of volunteer service each year. The time a programmer spends on-air or otherwise producing their show does not count toward this requirement.• Volunteer time can be completed in a variety of ways to benefit the station. Common volunteer opportunities include, but are not limited to: Participation in one of the various clerical, library, or housekeeping tasks within the station; additional participation in on-air pledge drives; and/or training and skill-sharing with other programmers. 
</p><p>
*Syndicated programs not produced at a WGXC studio are exempt from this requirement.
</p>
    <h2><a id="communication"></a>Communication</h2>
    <p>WGXC Staff Points of Contact</p><p>
&bull;&nbsp;&nbsp; Station Manager: Lynn Sloneker <br />
lynn@wgxc.org (518) 697-7400 (Mon, Tues, Wed, Thurs) <br />
&bull;&nbsp;&nbsp; Program Director: Katy Donnelly <br />
katy@wgxc.org (518) 697-7400 (Sun, Mon, Tues, Wed, Fri)<br />
&bull;&nbsp;&nbsp; Outreach Coordinator: Jess Puglisi <br />
jess@wgxc.org (518) 697-7400 (Wed, Thurs, Fri) </p><p>

Programmer Listserv
</p><p>
WGXC currently maintains an e-mail listserv for use by all eligible programmers. Programmers become eligible for list membership after the completion of basic on-air training. Use of the list is optional. The list is a tool for communication, providing a venue to post questions and ideas and to share information and resources. It is administered by WGXC staff. 
</p><p>
Forwards, other spam-like email, or messages unrelated to WGXC business are not permitted. If a post is found to be inappropriate for the forum, staff will contact the user directly. Consistent and ongoing abuse of the listserv rules will lead to the loss of list privileges. 
</p><p>
Examples of appropriate use of the list:<br />
&bull;&nbsp;&nbsp; Communication between programmers about upcoming on-air guests, topics and interviews. <br />
&bull;&nbsp;&nbsp; Sharing of information about WGXC-related events. <br />
&bull;&nbsp;&nbsp; Recruiting fill-in hosts during hiatus or vacations. 
</p>
    <h2><a id="music"></a>Music Reporting</h2>
    <p>For a two-week period every three months, we must keep a detailed and comprehensive report of the music played on 90.7 FM for music licensing purposes. Instructions and basic training will be provided to each programmer. Programmers are informed in advance of when WGXC is entering a comprehensive music-reporting period. </p>
    <h2><a id="pledge"></a>Pledge Drives</h2>
    <p>
    WGXC holds a minimum of two, 10-day, on-air pledge drives per year. This is how the organization raises the bulk of its operating expenses. Programmers are required to participate in the on-air fundraising effort during their regular show time. 
    </p><p>
Programmers must be prepared to fundraise for a minimum of half of the show’s length. While the time spent on air does not count as volunteer time, discussed in this handbook’s Volunteer section, if it is a part of a programmer’s regularly scheduled broadcast, pledge drives provide the opportunity for programmers to help out in other ways as well. 
    </p><p>
Volunteering at other times during the pledge drive — to pitch on the air, answer phones, etc. — is expected. Programmers are also asked to make an effort to identify people to call in and pledge during their show. In the weeks leading up to pledge drives, trainings are held to prepare programmers for on-air fundraising. 
    </p><p>
During each pledge drive, volunteers — including WGXC staff and Council — will step forward to assist programmers with pitching on air, handling phones, and coordinating other volunteers. 
    </p><p>
Pledging during syndicated programming on WGXC: producers of syndicated programming airing on WGXC are encouraged to produce PSAs or include a mention of WGXC’s Pledge Drive in programs airing during Pledge Drives.   
    </p>
    <h2><a id="terms"></a>Program Terms</h2>
    <p>All programmers are given a term of one year. All programmers, in good-standing, are invited to participate in a simple reapplication process at the end of their term in order to continue as an active program for an additional term. Programmers in good standing have completed their required annual volunteer hours, have not incurred more than three warning points, or otherwise violated the policies in this document. </p>
    <h2><a id="security"></a>Security & Equipment</h2>
    <p>
    The programmer is integral to maintaining the security of WGXC’s equipment and spaces. Programmers may ask visitors to identify themselves and to disclose the reasons for being in the studio. Programmers may also ask a visitor to leave if they have no legitimate reason for being there. Programmers are expected to be courteous to one another and to staff. Staff or volunteers on site should be advised when programmers arrive and leave the station. 
</p><p>
It is very important to leave the studio in suitable shape for the programmers that follow you, and the station must be left secure. There is a shutdown checklist posted in each studio, which involves a variety of tasks, from common-sense tidiness to station security. Failure to follow these procedures could constitute, at best, a nuisance for other programmers and, at worst, a major security or property damage risk for the station. 
</p><p>
Whether you are prerecording or doing a live show, we ask that you leave the studio tidy and the equipment ready for the next program/programmer by doing the following. 
</p><p>
Hudson Studio Checklist 
</p><p>
On the board in Hudson Studio A:<br />
&bull;&nbsp;&nbsp;  All inputs should be turned OFF (except channels being used for the next program)<br />
&bull;&nbsp;&nbsp;  All faders should be down to zero (except channels being used for the next program)<br />
&bull;&nbsp;&nbsp;  The PGM buttons should be turned OFF on all inputs (except channels being used for the next program)<br />
&bull;&nbsp;&nbsp;  All microphone stand arms should be retracted to their most compact/out of the way position<br />
&bull;&nbsp;&nbsp;  The volume of the speakers and headphones should be turned down to zero 
</p><p>
Other things in Studio A:<br />
&bull;&nbsp;&nbsp;  Turn off the CD players, turntables and cassette deck<br />
&bull;&nbsp;&nbsp;  Close any extraneous windows that you may have opened on the computer<br />
&bull;&nbsp;&nbsp;  Pick up anything you may have left lying around (return CDs to shelves, logs to hangers, put binders away, take out what you brought in, etc.)<br />
&bull;&nbsp;&nbsp;  Turn off studio lights
</p><p>
Leaving the Building:<br />
&bull;&nbsp;&nbsp;  Tidy up! Everything you brought in should leave with you<br />
&bull;&nbsp;&nbsp;  Close anything you may have open on the studio or office computers<br />
&bull;&nbsp;&nbsp;  Clear any items you may have saved to the desktop of the the studio or office computers (either put them in the appropriate folder, your programmer folder, or trash them)<br />
&bull;&nbsp;&nbsp;  Turn off lights – studio, bathroom, reception area<br />
&bull;&nbsp;&nbsp;  Set alarm if there is no one else in the station<br />
&bull;&nbsp;&nbsp;  Lock building (studio door and street door)
</p><p>
Catskill Studio Checklist 
</p><p>
Coming soon! 
</p><p>
Acra Studio Checklist 
</p><p>
Coming soon!   
    </p>
    <h2><a id="social"></a>Social Media</h2>
    <p>
      “Add an Event” on WGXC’s website for your upcoming show.
</p><p>
How to: On WGXC’s online events calendar (wgxc.org/events), click on the button that reads “Add an Event.” Fill out the online form with the date and time of your upcoming show, and a description of what the show will be. What is the show’s theme? Any local guests? What is the angle for Greene and Columbia listeners? 
</p><p>
Why? This puts your upcoming program on our online events calendar, and read on the air by other hosts. It also lets us feature your upcoming show on the WGXC home page, include it in emails, and other promotions. 
</p><p>
Before you go on the air, send a tweet to WGXC’s followers. 
</p><p>
How to: Before going on the air, go to one of WGXC’s computers and open an internet browsers, by clicking the blue globe icon on the bottom of the computer screen. Click on the bookmark called “WGXC Twitter”. (If you’re not live at the studio, you can also go to twitter.com) Check with a staff member for login information. On the left side of the page, click on the tab that says, “Compose new Tweet…”. Now, type a short message about your show that’s about to air, with a maximum 140 characters. Use a respectful tone, and include necessary information 
</p><p>
Example: Tune in for “The Ag Show” at 2 p.m. with the editors of @ModFarm. You can call in with questions at 518-828-0290. wgxc.org 
</p><p>
Record an on-air promo for your program, or an upcoming show. 
</p><p>
Have you heard those, short announcements on the air about some of our programs? We want everyone to record a promo for their show. If you haven’t done this yet, get in touch with our Program Director and we’ll help you make one. You can also record special promos for exciting upcoming programs: Are you interviewing a mayor? Is your next show a call-in show? You can record a short promo for broadcast in the days leading up to your show. 
</p><p>
Make a webpage, facebook page, or twitter account for your program 
</p><p>
WEBPAGE: Lots of programmers have made their own websites for their shows. They post playlists of past shows, post their archives, and let people know what’s coming up. If you want to make a free and user-friendly personal website, you might try: tumblr.com, blogspot.com, and wordpress.com. 
</p><p>
SOCIAL MEDIA: We can’t get deep into the politics and how-tos of Facebook or Twitter here, but some programmers have made “Pages” on Facebook or twitter accounts for their program. This can be a great way to build a base of online followers for your show, to remind them when you’re on the air, and to share your archives. Do not name your page “WGXC,” use your show name. 
</p><p>
Some other ways to spread the word 
</p><p>
1. Send a big email out to all of your friends and family the day before your show - remind them of when they can tune in, where they can find the archive. <br />
2. If you’re a Facebook user, post a status on facebook before you go on the air – or post a comment on the wall of WGXC’s Facebook page, and let all of our followers know. <br />
3. Make posters or handbills about your show, and put them up around town! <br />
4. Good old-fashioned word of mouth: don’t ever stop talking about what you’re doing.
    </p>
    <h2><a id="traing"></a>Training</h2>
    <p>Programmers need no previous knowledge or training in radio broadcasting or production to have a show on WGXC. The station provides training for all of new programmers in a variety of skills and techniques including live broadcast engineering, interview techniques, audio recording, editing, preproduction and field recording. All WGXC Programmers will also receive WGXC-specific training, including FCC compliance. </p>
    <h2><a id="agreement"></a>Programmer Agreement & FCC and Station Policy Programmer Quiz</h2>
<a href="http://data.free103point9.org/r/nn/3j/da/Programmer_Host_Agreement.doc-01.jpg" target="_blank">Programmer Agreement</a><br />
  <a href="http://data.free103point9.org/r/fh/bp/rr/FCCQuizWordDoc-01.jpg" target="_blank">FCC and Station Policy Programmer Quiz</a>

</div>




