<style>

.main {
  margin: 0 0;
  max-width: 100%;
}

.page {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

table.program-grid {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #838486;	
	
}
table.program-grid th,
table.program-grid td {
	border:1px solid black;
	padding: 2px 4px 2px 4px;
}
table.program-grid th {
	font-weight:bold;
	width: 13%;
	border-width: 1px 1px 2px 1px;
	background-color:black;
	color:white;
	text-transform:uppercase;
}
table.program-grid td {
	border-width: 1px;
	overflow: hidden;	
	font-size:13px;
	text-align: center;
	line-height: 16px;
}

table.program-grid td ul li {
	text-align:left;
	line-height: 18px;
	font-size:13px;
}
	
</style>

<div class="program-grid page">

  <h1>WGXC PROGRAM SCHEDULE</h1> 
  <p>Wave Farm's WGXC 90.7-FM is a creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement. WGXC serves more than 78,000 potential listeners on 90.7-FM and international listeners at wgxc.org.</p>
 
 	<table class="program-grid">
 		<tr>
 			<th style="width:5%;">&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wedensday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
 		<tr>
 			<td>12:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>12:05 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio Stew</a></td>
 		</tr>
 		<tr>
 			<td>1:00 AM</td>
 			<td rowspan="1" colspan="1">
	 			<ul>
	 				<li><a href="">1st: Symposium</a></li>
	 				<li><a href="">2nd: TBA</a></li>
	 				<li><a href="">3rd: TBA</a></li>
	 				<li><a href="">4th: TBA</a></li>
	 				<li><a href="">5th: TBA</a></li>
	 			</ul>
 			</td>
 			<td rowspan="3" colspan="1"><a href="">Radio Rewind</a></td>
 			<td rowspan="1" colspan="1"><a href="">Vital Weekly</a></td>
 			<td rowspan="1" colspan="1">
	 			<ul>
	 				<li><a href="">1st: The Cutty Strange</a></li>
	 				<li><a href="">2nd: The Musical Ecologies Radio Hour</a></li>
	 				<li><a href="">3rd: Experimental Composers</a></li>
	 				<li><a href="">4th: The Chants Beneath Project</a></li>
	 				<li><a href="">5th: Creative Composition</a></li>
	 			</ul>
 			<td rowspan="2" colspan="1"><a href="">Taran's Free Jazz Hour</a></td>
 			<td rowspan="1" colspan="1">
	 			<ul>
	 				<li><a href="">1st: Historic Audio from the Archives of Charles Ruas</a></li>
	 				<li><a href="">2nd-5th: Radio, Radio</a></li>
	 			</ul> 				
 			</td>
 			<td rowspan="4" colspan="1"><a href="">Live Radio</a></td>
 		</tr>
 		<tr>
 			<td>2:00 AM</td>
 			<td rowspan="3" colspan="1"><a href="">Talk Radio</a></td>
 			<td rowspan="3" colspan="1">
	 			<ul>
	 				<li><a href="">1st: Tabs out</a></li>
	 				<li><a href="">2nd, 2AM: FFFoxy Podcast</a></li>
	 				<li><a href="">2nd. 4AM: Radio Noise</a></li>
	 				<li><a href="">3rd: Radio Noise</a></li>
	 				<li><a href="">4th: Radio Noise</a></li>
	 				<li><a href="">5th: Radio Noise</a></li>
	 			</ul>
 			</td>
 			<td rowspan="3" colspan="1"><a href="">Creative Composition</a></td>
 			<td rowspan="3" colspan="1"><a href="">Radio, Radio</a></td>
 		</tr>
 		<tr>
 			<td>3:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Radio Jazz</a></td>
 		</tr>
 		<tr>
 			<td>4:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td>
 		</tr>
 		<tr>
 			<td>5:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Radio News</a></td>
 		</tr>
 		<tr>
 			<td>5:05 AM</td>
 			<td rowspan="1" colspan="1"><a href="">PCJ Media Network Plus</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">The RAIN Report</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="2" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Shortwave Radio</a></td>
 			<td rowspan="2" colspan="1"><a href="">Low Power Hour</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>5:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio News Special</a></td>
 			<td rowspan="1" colspan="1"><a href="">This Week in Radio News</a></td>
 		</tr> 		
 		<tr>
 			<td>6:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Background Briefing</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">CounterSpin</a></td> 			
 			<td rowspan="4" colspan="1"><a href="">Unpacking Filth</a></td> 			
 		</tr>
 		<tr>
 			<td>6:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">AARL News + RAIN Report</a></td> 			
 		</tr>
 		<tr>
 			<td>7:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Amateur Radio Newsline</a></td>
 		</tr>
 		<tr>
 			<td>7:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Glenn Hauser's World of Radio</a></td>
 		</tr>
 		<tr>
 			<td>8:00 AM</td>
 			<td rowspan="2" colspan="5"><a href="">Democracy Now</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">Off The Hook</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Children's Storytime</a></td> 			
 		</tr>
 		<tr>
 			<td>8:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 		</tr>
 		<tr>
 			<td>9:00 AM</td>
 			<td rowspan="1" colspan="7"><a href="">Local News</a></td>
 		</tr>
 		<tr>
 			<td>9:05 AM</td>
 			<td rowspan="2" colspan="5"><a href="">WGXC Morning Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">WGXC Feedback</a></td>			
 			<td rowspan="4" colspan="1"><a href="">WGXC Morning Show</a></td>			
 		</tr> 		
 		<tr>
 			<td>9:30 AM</td>
 			<td rowspan="2" colspan="1"><a href="">This Week in Radio News</a></td>			
 		</tr> 		
 		<tr>
 			<td>10:00 AM</td>
 			<td rowspan="2" colspan="1"><a href="">Law and Disorder</a></td>
 			<td rowspan="2" colspan="1"><a href="">Economic Update</a></td>
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: @Issue</a></li>
	 				<li><a href="">2nd: Something To Talk About</a></li>
	 				<li><a href="">3rd: @Issue</a></li>
	 				<li><a href="">4th: Something To Talk About</a></li>
	 				<li><a href="">5th: Issue</a></li>
 				</ul> 			
 			</td> 			
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: Behind The News</a></li>
	 				<li><a href="">2nd: Behind The News</a></li>
	 				<li><a href="">3rd: Behind The News</a></li>
	 				<li><a href="">4th: Prison Voices Project</a></li>
	 				<li><a href="">5th: Behind The News</a></li>
 				</ul> 			
 			
 				<a href=""></a>
 			</td>
 			<td rowspan="2" colspan="1"><a href="">¿Qué Cocinaré Hoy?</a></td>
 		</tr> 		
 		<tr>
 			<td>10:30 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Radio Wonderland</a></td>
 		</tr> 		
 		<tr>
 			<td>11:00 AM</td>
 			<td rowspan="1" colspan="1"><a href="">Zoom</a></td>
 			<td rowspan="1" colspan="1">
 				<ul>
	 				<li><a href="">1st: Music Maestro Hour</a></li>
	 				<li><a href="">2nd: TBA</a></li>
	 				<li><a href="">3rd: Music Maestro Hour</a></li>
	 				<li><a href="">4th: TBA</a></li>
	 				<li><a href="">5th: Classic Country Show</a></li>
 				</ul>
 			</td>
 			<td rowspan="1" colspan="1">
 				<ul>
	 				<li><a href="">1st: TBA</a></li>
	 				<li><a href="">2nd: The Hudson Café</a></li>
	 				<li><a href="">3rd: TBA</a></li>
	 				<li><a href="">4th: The Hudson Café</a></li>
	 				<li><a href="">5th: TBA</a></li>
 				</ul>
 			</td> 			
 			<td rowspan="1" colspan="1">
 				<ul>
	 				<li><a href="">1st: One Size Fits All</a></li>
	 				<li><a href="">2nd: The Juke in the Back	</a></li>
	 				<li><a href="">3rd: One Size Fits All</a></li>
	 				<li><a href="">4th: The Juke in the Back	</a></li>
	 				<li><a href="">5th: One Size Fits All</a></li>
 				</ul>
 			</td>
 			<td rowspan="1" colspan="1"><a href="">Wall To Wall</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Saturday Morning Serial</a></td>
 			<td rowspan="1" colspan="1">
 				<ul>
	 				<li><a href="">1st: Now Boarding with Dan and Jim</a></li>
	 				<li><a href="">2nd: TBA</a></li>
	 				<li><a href="">3rd: Now Boarding with Dan and Jim</a></li>
	 				<li><a href="">4th: Foraging Ahead</a></li>
	 				<li><a href="">5th: TBA</a></li>
 				</ul>
 		</tr> 		
 		<tr>
 			<td>12:00 PM</td>
 			<td rowspan="1" colspan="7"><a href="">Noon News</a></td>
 		</tr> 		
 		<tr>
 			<td>12:05 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Monday Musical Matinee</a></td>
 			<td rowspan="2" colspan="1"><a href="">Music for the Masses</a></td>
 			<td rowspan="2" colspan="1"><a href="">The Bedazzled Radio Hour</a></td>
 			<td rowspan="2" colspan="1">
 				<ul>
	 				<li><a href="">1st: Crossroads in Rhythm</a></li>
	 				<li><a href="">2nd: TBA</a></li>
	 				<li><a href="">3rd: Crossroads in Rhythm</a></li>
	 				<li><a href="">4th: TBA</a></li>
	 				<li><a href="">5th: Crossroads in Rhythm</a></li>
 				</ul> 				
 			</td>
 			<td rowspan="2" colspan="1"><a href="">Sugar Shack Juke Box</a></td>
 			<td rowspan="2" colspan="1">
 				<ul>
	 				<li><a href="">1st: LunarMoss</a></li>
	 				<li><a href="">2nd: Other Music</a></li>
	 				<li><a href="">3rd: LunarMoss</a></li>
	 				<li><a href="">4th: Other Music</a></li>
	 				<li><a href="">5th: Other Music</a></li>
 				</ul> 				 				
 			</td>
 			<td rowspan="2" colspan="1"><a href="">In the Cut</a></td>
 		</tr> 		
 		<tr>
 			<td>1:00 PM</td>
 		</tr> 		
 		<tr>
 			<td>2:00 PM</td>
 			<td rowspan="1" colspan="1">
				<ul>
	 				<li><a href="">1st: Ecosocialist Horizons Hour</a></li>
	 				<li><a href="">2nd: TBA</a></li>
	 				<li><a href="">3rd: Hudson Valley Tap Show</a></li>
	 				<li><a href="">4th: Roots, Runners, Rhizomes</a></li>
	 				<li><a href="">5th: TBA</a></li>
 				</ul> 				
 			</td>
 			<td rowspan="1" colspan="1">
				<ul>
	 				<li><a href="">1st: Radio Ecoshock</a></li>
	 				<li><a href="">2nd: Radio Ecoshock</a></li>
	 				<li><a href="">3rd: Radio Ecoshock</a></li>
	 				<li><a href="">4th: Backtracks in Time</a></li>
	 				<li><a href="">5th: Radio Ecoshock</a></li>
 				</ul> 				 				
 			</td>
 				
 			<td rowspan="1" colspan="1">
				<ul>
	 				<li><a href="">1st: TBA</a></li>
	 				<li><a href="">2nd: TBA</a></li>
	 				<li><a href="">3rd: Catskill Cabin Conversations</a></li>
	 				<li><a href="">4th: TBA</a></li>
	 				<li><a href="">5th: TBA</a></li>
 				</ul> 				 				 				
 			</td>
 			<td rowspan="1" colspan="1">
				<ul>
	 				<li><a href="">1st: The Art of the Hudson Valley</a></li>
	 				<li><a href="">2nd: The Passage</a></li>
	 				<li><a href="">3rd: Poet Ray'd Yo</a></li>
	 				<li><a href="">4th: Arts Express Radio</a></li>
	 				<li><a href="">5th: Arts Express Radio</a></li>
 				</ul> 				 				 				
 			</td>
 			<td rowspan="1" colspan="1"><a href="">From The Vault</a></td>
 			<td rowspan="1" colspan="1">
				<ul>
		 				<li><a href="">1st: Human Machine</a></li>
		 				<li><a href="">2nd: Making Waves</a></li>
		 				<li><a href="">3rd: Itinerant Mind</a></li>
		 				<li><a href="">4th: Radius Sketchpad</a></li>
		 				<li><a href="">5th: Nothing Is Real Radio Hour</a></li>
	 				</ul> 				 				 				 				
 			</td>
 			<td rowspan="3" colspan="1">
				<ul>
		 				<li><a href="">1st: The Neon and the Rain</a></li>
		 				<li><a href="">2nd: Latinoamerica</a></li>
		 				<li><a href="">3rd: The Neon and the Rain</a></li>
		 				<li><a href="">4th: Latinoamerica</a></li>
		 				<li><a href="">5th: The Neon and the Rain</a></li>
	 				</ul> 				 				 				 				 				
 			</td>
 		</tr> 		
 		<tr>
 			<td>3:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Food Sleuth</a></td>
 			<td rowspan="1" colspan="1"><a href="">Sprouts</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">This Way Out</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Theater</a></td>
 			<td rowspan="1" colspan="1"><a href="">Making Contact</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radia</a></td>
 		</tr> 		
 		<tr>
 			<td>3:30 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Bound by Books</a></td>
 			<td rowspan="1" colspan="1"><a href="">TBA</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Dirt</a></td>
 			<td rowspan="1" colspan="1"><a href="">Game Hoarders</a></td>
 			<td rowspan="1" colspan="1"><a href="">Cymon Says</a></td>
 			<td rowspan="1" colspan="1"><a href="">Radio Camp</a></td>
 		</tr> 		
 		<tr>
 			<td>4:00 PM</td>
 			<td rowspan="1" colspan="5"><a href="">WGXC Afternoon Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Saturday Afternoon Show</a></td>
 			<td rowspan="1" colspan="1"><a href="">Li Le, Li Tan</a></td>
 		</tr> 		
 		<tr>
 			<td>6:00 PM</td>
 			<td rowspan="1" colspan="6"><a href="">All Together Now</a></td>
 			<td rowspan="2" colspan="1"><a href="">Rancho Thatchnmo</a></td>
 		</tr> 		
 		<tr>
 			<td>7:00 PM</td>
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: Off The Rails</a></li>
	 				<li><a href="">2nd: Coyote Ghost Radio Show</a></li>
	 				<li><a href="">3rd: TBA</a></li>
	 				<li><a href="">4th: Coyote Ghost Radio Show</a></li>
	 				<li><a href="">5th: Prog and Fusion</a></li>
 				</ul> 				 				 				 				 							
 			</td>
 			<td rowspan="2" colspan="1">
 				<a href="">Leprous Garden</a>
				<ul>
	 				<li><a href="">1st: Leprous Garden</a></li>
	 				<li><a href="">2nd: Vinyl Rundown</a></li>
	 				<li><a href="">3rd: Jeff M Radio</a></li>
	 				<li><a href="">4th: TBA</a></li>
	 				<li><a href="">5th: TBA</a></li>
 				</ul>  				
 			</td> 			
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: The PA System</a></li>
	 				<li><a href="">2nd: Untitled</a></li>
	 				<li><a href="">3rd: Eclectimaniac</a></li>
	 				<li><a href="">4th: 2045</a></li>
	 				<li><a href="">5th: TBA</a></li>
 				</ul>   				
 			</td> 			
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: The Jazz Disturbance</a></li>
	 				<li><a href="">2nd: The Jazz Disturbance</a></li>
	 				<li><a href="">3rd: The Jazz Disturbance</a></li>
	 				<li><a href="">4th: Overlooked</a></li>
	 				<li><a href="">5th: The Jazz Disturbance</a></li>
 				</ul>    				
 			</td> 			
 			<td rowspan="2" colspan="1"><a href="">Guest DJ</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Framework</a></td> 			
 		</tr> 		
 		<tr>
 			<td>8:00 PM</td>
 			<td rowspan="2" colspan="1"><a href="">Saturday Night Special</a></td> 			
 			<td rowspan="2" colspan="1"><a href="">The Irish Show</a></td> 			
 		</tr> 		
 		<tr>
 			<td>9:30 PM</td>
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: Pyramid Power</a></li>
	 				<li><a href="">2nd: Fresh Greens</a></li>
	 				<li><a href="">3rd: Pyramid Power</a></li>
	 				<li><a href="">4th: Odd Weather</a></li>
	 				<li><a href="">5th: TBA</a></li>
 				</ul>   				
 			</td>
 			<td rowspan="2" colspan="1"><a href="">Battlefield Earth</a></td> 			
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: Honeygun Power Hour</a></li>
	 				<li><a href="">2nd: OWL</a></li>
	 				<li><a href="">3rd: Honeygun Power Hour</a></li>
	 				<li><a href="">4th: OWL</a></li>
	 				<li><a href="">5th: Honeygun Power Hour</a></li>
 				</ul>  				
 			</td> 			
 			<td rowspan="2" colspan="1"><a href="">Puff!</a></td> 			
 			<td rowspan="2" colspan="1">
				<ul>
	 				<li><a href="">1st: Stooprock Radio Takeover</a></li>
	 				<li><a href="">2nd: Friday Night Vibes Session</a></li>
	 				<li><a href="">3rd: Stooprock Radio Takeover</a></li>
	 				<li><a href="">4th: Friday Night Vibes Session</a></li>
	 				<li><a href="">5th: Stooprock Radio Takeover</a></li>
 				</ul>  				
 			</td> 			
 		</tr> 		
 		<tr>
 			<td>10:00 PM</td>
 			<td rowspan="1" colspan="1"><a href="">Saturday Night Séance</a></td> 			
 			<td rowspan="1" colspan="1"><a href="">Rock 'n' Roll Martian</a></td> 			
 		</tr> 		
	</table>
		
</div>
