<div class="side">
  <ul>
    <li><h3>Introduction</h3>
    <li><a href="#schedule">Program Schedule</a></li>
    <li><a href="#committees">Programming Committees</a></li>
    <li><h3>Programmer Basics</h3>
    <li><a href="#volunteer">Volunteer Requirements</a></li>
    <li><a href="#communication">Communication</a></li>
    <li><a href="#music">Music Reporting</a></li>
    <li><a href="#pledge">Pledge Drives</a></li>
    <li><a href="#terms">Program Terms</a></li>
    <li><a href="#security">Security & Equipment</a></li>
    <li><a href="#social">Social Media</a></li>
    <li><a href="#training">Training</a></li>
    <li><a href="#agreement">Programmer Agreement & FCC and Station Policy Programmer Quiz</a></li>
 
    
  </ul>
</div>
<div class="wgxc page">
  <h1>WGXC PROGRAMMER RESOURCES</h1> 
  <p>This page contains important information for current WGXC programmers, as well as individuals interested in proposing a show on 90.7-FM. Please direct any questions to Lynn Sloneker, Station Manager, lynn [at] wgxc.org.</p>
 
    <p>WGXC is a Program Division of Wave Farm. Essential information about how WGXC relates to Wave Farm's programs and activities-at-large is available via the <a href="/about">About</a> and <a href="/programs">Programs</a> links in the footer at the bottom of this page.</p>

  <h1><a id="schedule"></a>PROGRAM SCHEDULE</h1>
<p>The WGXC Program Schedule features Community Programming produced by residents of Greene and Columbia counties Sunday - Friday (6 a.m. - midnight.) Transmission Arts and Experimental Sound programming airs Saturdays and overnights (midnight - 6 a.m.). <br />
<h2>Sunday - Friday Community Programming</h2>
6 a.m. – 7 a.m. International News<br />
7 a.m. – 8 a.m. Morning Magazine Show<br />
8 a.m. – 9 a.m. International News<br />
9 a.m. – 10 a.m. Morning Magazine Show<br />
10 a.m. – 11 a.m. Cultural and Civic Affairs<br />
11 a.m. – 2 p.m. Music Programs<br />
2 p.m. – 3 p.m. Cultural and Civic Affairs<br />
3 pm. – 3:30 p.m. Radio Theatre and Cultural Programs<br />
3:30 p.m. – 4 p.m. Youth Programming<br />
4 p.m. – 6 p.m. Afternoon Magazine Show<br />
6 p.m. – 7 p.m. International News<br />
7 p.m. – Midnight Music Programs<br />

<h2>Saturdays and Overnights Transmission Arts and Experimental Sound</h2>
Artists experimenting with airwaves, reinventing radio theatre, or using the wireless spectrum as a source for performance and composition is what transmission art is all about. Tune in for local and international transmission art, experimental sound, field recordings, interviews and symposia, as well as other radiophonic treats originating from the Wave Farm Study Center and WGXC Acra Studio. 
</p>
  <h1><a id="committees"></a>PROGRAMMING COMMITEES</h1>
  <h2>Community Programming Committee</h2>
  <p>(Purview: Sunday - Friday; 6 a.m. – Midnight) <br />
Serving as advisors to the Program Director, the Community Programming Committee is comprised of Community Council members, active programmers contributing to the program schedule, as well as representation from the listening community-at-large. Responsibilities include:<br />
&bull;&nbsp;&nbspAssist with incoming program applications and evaluation<br />
&bull;&nbsp;&nbspConduct programming evaluation and feedback<br />
&bull;&nbsp;&nbspDraft Programmer Handbook updates<br />
&bull;&nbsp;&nbspProgrammer Files & Point System implementation</p>
  <h2>Transmission Arts and Experimental Sound Programming Committee</h2>
  <p>(Purview: Saturdays, and Midnight–6 a.m. daily)<br />
The Transmission Arts/Experimental Sound Programming Committee is the advisory committee to the Artistic Director and is comprised of international and local individuals that have expertise and involvement relating to Saturday and Late Night programming. The Artistic Director engages committee members as a group or individually, depending on the issues at hand, and reports on committee meetings to the Executive Director and the Board of Directors. </p>

<h1>Programmer Basics</h1>
    <h2><a id="volunteer">Volunteer Requirements</h1>
    <p>Programmers are expected to participate in the organization and maintain an active status as a volunteer, completing at least six hours of volunteer service each year. The time a programmer spends on-air or otherwise producing their show does not count toward this requirement.• Volunteer time can be completed in a variety of ways to benefit the station. Common volunteer opportunities include, but are not limited to: Participation in one of the various clerical, library, or housekeeping tasks within the station; additional participation in on-air pledge drives; and/or training and skill-sharing with other programmers. 
</p><p>
*Syndicated programs not produced at a WGXC studio are exempt from this requirement.
</p>
    <h2><a id="communication">Communication</h1>
    <p>WGXC Staff Points of Contact<br /><br /> 
Station Manager: Lynn Sloneker <br />
lynn@wgxc.org (518) 697-7400 (Mon, Tues, Wed, Thurs) <br /><br />
Program Director: Katy Donnelly <br />
katy@wgxc.org (518) 697-7400 (Sun, Mon, Tues, Wed, Fri)<br /><br />
Outreach Coordinator: Jess Puglisi <br />
jess@wgxc.org (518) 697-7400 (Wed, Thurs, Fri) </p><p>

Programmer listserv <br />
WGXC currently maintains an e-mail listserv for use by all eligible programmers. Programmers become eligible for list membership after the completion of basic on-air training. Use of the list is optional. The list is a tool for communication, providing a venue to post questions and ideas and to share information and resources. It is administered by WGXC staff. 
</p><p>
Forwards, other spam-like email, or messages unrelated to WGXC business are not permitted. If a post is found to be inappropriate for the forum, staff will contact the user directly. Consistent and ongoing abuse of the listserv rules will lead to the loss of list privileges. 
</p><p>
Examples of appropriate use of the list:<br />
&bull;&nbsp;&nbsp; Communication between programmers about upcoming on-air guests, topics and interviews. <br />
&bull;&nbsp;&nbsp; Sharing of information about WGXC-related events. <br />
&bull;&nbsp;&nbsp; Recruiting fill-in hosts during hiatus or vacations. 
</p>
    <h2><a id="music">Music Reporting</h1>
    <h2><a id="pledge">Pledge Drives</h1>
    <h2><a id="terms">Program Terms</h1>
    <h2><a id="security">Security & Equipment</h1>
    <h2><a id="social">Social Media</h1>>
    <h2><a id="traing">Training</h1>
    <h2><a id="agreement">Programmer Agreement & FCC and Station Policy Programmer Quiz</h1>

</div>




