<div class="side">
  <ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#charts">&bull;Org Charts</a></li>
    <li><a href="#history">&bull;History, Mission, Values</a></li>
    <li><a href="#governance">&bull;Governance, Staff, Advisors</a></li>
    <li><a href="#underwriting">Underwriting</a></li>
    <li><a href="#volunteer">Volunteer</a></li>
    <li><a href="#merchandise">Merchandise</a></li>
  </ul>
</div>
<div class="wgxc page">
  <h1>WGXC PROGRAMMER RESOURCES</h1> 
  <p>This page contains important information for current WGXC programmers as well as individuals interested in proposing a show on 90.7-FM. Please direct any questions to Lynn Sloneker, Station Manager, lynn [at] wgxc.org.</p>
 
  <h1><a id="introduction"></a>INTRODUCTION</h1>
  <h2>Organizational Charts</h2>
  <h2>Organizational History, Mission, Values</h2>
  <h2>Organizational Governance, Staff, and Advisors</h2>
  <h2>WGXC Program Schedule and Programming Committees</h2>
</div>




