
<div class="wgxc page split-right">
	<!--<img src="https://data.wavefarm.org/20180828191911/RecordFair2018_Web_20180828.png" width="600" alt="wgxc donate" />
-->	
	
	<h1>WGXC Record Fair 2019</h1>
	<b>SUNDAY, SEPTEMBER 15, 2019<br>
RECORD FAIR | 10 a.m. - 4 p.m. | FREE!<br>
		RAFFLE | Win gift certificates to regional record stores and eateries <br><br></b>
Admission & table fees benefit creative community radio station WGXC 90.7-FM Radio for Open Ears.<br>

	<p>Wave Farm’s WGXC presents the WGXC Record Fair in partnership with <a href="http://basilicahudson.org/" target="_new">Basilica Hudson</a>. Vendors from across the northeast gather in Basilica’s Main Hall to sell vinyl, CDs, cassette tapes, DVDs, plus books, musical equipment and instruments, and radio-related ephemera. The plentiful WGXC tables are a digger’s dream, with a variety of affordably priced records in all genres. 
	</p>

<p>
The WGXC Record Fair coincides with <a href="http://basilicahudson.org/soundscape/" target="_new">Basilica SoundScape</a> (Sept 13-15), an immersive, innovative weekend of art, music, and culture, which draws an audience in the thousands. Conceptual sound performances, author readings, installations, collaborations, curated local vendors and artisans, and on-site activities. </p>
<p>
<p>
The day of the fair, WGXC will be raffling off a <b>Regional Record Lover's Tour Package,</b> with gift certificates generously donated by area record stores and eateries.<p>

The WGXC Record Fair Committee is a volunteer committee which supports the WGXC Record Fair. If you're interested in getting involved, email <a href="mailto:recordfair@wgxc.org">recordfair@wgxc.org</a>.
</p>
<p>


</div>
<div class="split-right-side">
<p>
	<b>VENDOR INFORMATION</b>
	<br><br>
Through May 31, 2019 a single table is $50. After May 31, a single table is $55. Two or more tables are $50 each.</p>
<br><br>
	<b>SIGN-UP FORM</b>

 <a href="https://docs.google.com/forms/d/e/1FAIpQLSefHDLJtQbXphZwltFYxiy0rZmICt-KW82vDS-3E0o2YDADeA/viewform?usp=sf_link">Vendors: please sign-up by clicking this link.</a> 
<br><br>
	<b>ONLINE PAYMENT PROCESSING</b>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="98JQFGPLBDSSW">
<table>
<tr><td><input type="hidden" name="on0" value="Select Quantity of 6-foot Tables">Select Quantity of 6-foot Tables</td></tr><tr><td><select name="os0">
	<option value="ONE (1) EARLY BIRD (5/31/2019 or before)">ONE (1) EARLY BIRD (5/31/2019 or before) $50.00 USD</option>
	<option value="ONE (1)">ONE (1) $55.00 USD</option>
	<option value="TWO (2)">TWO (2) $100.00 USD</option>
	<option value="THREE (3)">THREE (3) $150.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<br><br>
<b>CONFIRMED VENDORS INCLUDE</b>
	<br><br>
Coming soon...






</div>


