<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page wgxc schedule-page">

	<div class="datepicker-container"></div>

	<div class="calendar-container">
	
	  <h1>WGXC 90.7-FM PROGRAM SCHEDULE</h1>
	  <p>Community Programming Sunday-Friday (6 a.m.-midnight.)<br />Transmission Arts/Experimental Sound: Saturday + overnights (midnight-6 a.m.)
	<br /><h2>CLICK ON A BROADCAST BELOW FOR MORE INFO, or</h2> <a href="https://docs.google.com/spreadsheets/d/1G0ODCSHPvsOByxx6rYnbpF3I1TmzZPLcSSdt46JPV_Y/edit?usp=sharing" target="_new">VIEW FULL SCHEDULE GRID</a>, or 
	 <br /><a href="https://wavefarm.org/archive?q=type%3Ashow%20_exists_%3Aairtime%20sites%3Awgxc&date=&date2=&size=120&sort=sort" target="_new">BROWSE BY SHOW NAME</a>
	  	 <br /><a href="/wgxc/volunteer#application">Submit a Program Application</a>
	 <br /><a href="mailto:lynn@wgxc.org">Request a Live Broadcast</a>
</p>
	 
	  <!-- Schedule will be filled in client-side -->
	  <div class="schedule">
	    <div class="day">
	      <div class="calendar-card">
	        <div class="calendar-card-topbar"></div>
	        <div class="weekday">TODAY</div>
	        <div class="month"></div>
	        <div class="monthday"></div>
	      </div>
	      <div class="broadcast-list">
	        <div class="broadcast">
	          <div class="broadcast-time"></div>
	          <div class="broadcast-info">
	            <h3 class="broadcast-name"><span></span></h3>
	            <div class="broadcast-description">
	              <p></p>
	              <div class="actions"><a class="more" href="">more details</a></div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <form>
	    <div class="more">
	      <input id="more" name="more" type="button" value="View Another Week">
	    </div>
	  </form>
	</div>

</div>
