<div class="page wgxc">
  <h1>WGXC 90.7-FM PROGRAM SCHEDULE {Search Box}</h1>
  <p>The WGXC Program Schedule features Community Programming produced by residents of Greene and Columbia counties Sunday, Monday, Tuesday, Wednesday, Thursday, and Friday (6 a.m. - midnight.) Transmission Arts and Experimental Sound programming airs Saturday and overnight daily (midnight - 6 a.m.) <a href="http://data.free103point9.org/r/dq/42/j8/ScheduleFinal_20131213_Web.pdf">Monthly Schedule (PDF)</a> | <a href="/wgxc/programmers">Program Application</a></p>
 <h2>CLICK ON ANY SHOW BELOW FOR DETAILS</h2>
 
  <!-- Schedule will be filled in client-side -->
  <div class="schedule">
    <div class="day">
      <div class="calendar-card">
        <div class="calendar-card-topbar"></div>
        <div class="weekday">TODAY</div>
        <div class="month"></div>
        <div class="monthday"></div>
      </div>
      <div class="broadcast-list">
        <div class="broadcast">
          <div class="broadcast-time"></div>
          <div class="broadcast-info">
            <h3 class="show-name"><span></span></h3>
            <h4 class="broadcast-name"><span></span></h4>
            <div class="broadcast-description">
              <p></p>
              <div class="actions"><a class="more" href="">more details</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="more">
      <input id="more" name="more" type="button" value="View Another Week">
    </div>
  </form>
</div>
