<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/wgxc.css" rel="stylesheet" />

<div class="datepicker-container datepicker-schedule">
	<div class="datepicker-controls-h">
		<div id="datepicker"></div>
	</div>
	<div class="datepicker-controls">
		<a class="datepicker-prev" href="javascript:$('.ui-datepicker-prev').click();">&lt;</a>
		<a class="datepicker-today" href="javascript:$('.ui-datepicker-current').click();;">TODAY</a>
		<a class="datepicker-next" href="javascript:$('.ui-datepicker-next').click();">&gt;</a>
	</div>
</div>

<div class="page wgxc">
  <h1>WGXC 90.7-FM PROGRAM SCHEDULE</h1>
  <p>Community Programming Sunday-Friday (6 a.m. - midnight.)<br />Transmission Arts and Experimental Sound: Saturday and overnight daily (midnight - 6 a.m.) <br /><br />
  QUICK LINKS: <a href="https://docs.google.com/spreadsheets/d/1G0ODCSHPvsOByxx6rYnbpF3I1TmzZPLcSSdt46JPV_Y/edit?usp=sharing" target="_new">Schedule At-a-Glance</a> | <a href="/wgxc/volunteer#application">Program Application</a></p>
 <h2>CLICK ON ANY SHOW BELOW FOR DETAILS</h2>
 
  <!-- Schedule will be filled in client-side -->
  <div class="schedule">
    <div class="day">
      <div class="calendar-card">
        <div class="calendar-card-topbar"></div>
        <div class="weekday">TODAY</div>
        <div class="month"></div>
        <div class="monthday"></div>
      </div>
      <div class="broadcast-list">
        <div class="broadcast">
          <div class="broadcast-time"></div>
          <div class="broadcast-info">
            <h3 class="broadcast-name"><span></span></h3>
            <div class="broadcast-description">
              <p></p>
              <div class="actions"><a class="more" href="">more details</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="more">
      <input id="more" name="more" type="button" value="View Another Week">
    </div>
  </form>
</div>
