<style>
	.main {
	  margin: 0 0;
	  max-width: 100%;
	}
</style>

<div class="schedule-grid page">

  <h1>WGXC PROGRAM SCHEDULE GRID</h1> 
  <p>Wave Farm's WGXC 90.7-FM is a creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement. WGXC serves more than 78,000 potential listeners on 90.7-FM and international listeners at wgxc.org.</p>
 
 	<table class="schedule-grid">
 		<tr>
 			<th style="width:5%;">&nbsp;</th>
 			<th>Monday</th>
 			<th>Tuesday</th>
 	 		<th>Wednesday</th>
 			<th>Thursday</th>
 			<th>Friday</th>
 			<th>Saturday</th>
 			<th>Sunday</th>
 		</tr> 		
	</table>
		
	<div id="loading">Loading...</div>
		
	<h2>Regular Segments</h2>
	<p><a href="https://wavefarm.org/wgxc/schedule/45wtm2">Backtracks in Time</a>. Hosted by Jack Sencabaugh. <br>
	Airs: 4th Thursday of the month from 4 a.m. to 5 a.m. and 1st Monday of the month during the <a href="https://wavefarm.org/wgxc/schedule/rtm39c">WGXC Morning Show</a>. </p>
		
</div>
