<!--<div class="side">
  <p>Discuss this left hand column. Is it necessary?</p>
  <h3>Ongoing</h3>
  <div class="event">
    <h4>Event Title</h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <h3>Upcoming</h3>
  <div class="event">
    <h4>Event title </h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <div class="event">...</div>
  <div class="event">...</div>
</div>-->
<div class="about page">
  <h1>WGXC STUDIO RENTALS</h1> 
  
  <p>Rent a WGXC studio to record your digital audio tour, podcast, or the like. Studios are available by the hour in both Hudson and Acra, NY. 
    
    
  <p>Hourly rates, include staff assistance:<br>
  <li>For-profit: $150/hour</li>
  <li>Non-profit: $125/hour</li>
 <li> Post-production services: rates coming soon...</li>
  </p>
  
  <p>Contact: Lynn Sloneker, Station Manager, at lynn@wgxc.org or (518) 697-7400 for more information.
  
 <h2>Hudson Studio Equipment List</h2>
 <p>Coming soon...</p>
 
 <h2>Acra Studio Equipment List</h2>
  <p>Coming soon...</p>
  </div>
