
<div class="wgxc page split-right">
	<h2>Your Support Makes WGXC Possible!</h2><p>Your financial support is tax-deductible, allows WGXC to meet the most basic operating costs, and keeps WGXC on your FM dial. 
</p>
<img src="https://data.wavefarm.org/20190215183511/wgxcdonate_animated.gif" width="600" alt="wgxc donate" />
<!--<img src="https://data.wavefarm.org/20181202104549/WGXCAnimated.gif" width="600" alt="wgxc donate" />
	<img src="https://data.wavefarm.org/20170704123427/WGXC_Donation_Box.jpg" width="600" alt="wgxc donate" />
	<h2>Become a Sustaining Supporter</h2>
	<p>Become a sustaining supporter by investing in community radio every month.
		Choose to donate in any amount, and you can stop (or adjust your contribution) at any time.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PRXKH6RFTNYSE">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
	<option value="5">$5.00 USD - monthly</option>
	<option value="10">$10.00 USD - monthly</option>
	<option value="15">$15.00 USD - monthly</option>
	<option value="20">$20.00 USD - monthly</option>
	<option value="25">$25.00 USD - monthly</option>
	<option value="35">$35.00 USD - monthly</option>
	<option value="50">$50.00 USD - monthly</option>
	<option value="100">$100.00 USD - monthly</option>
</select> </td></tr>
<tr><td><input type="hidden" name="on1" value="May we Acknowledge?">May we acknowledge you by name?</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form> -->

	




	
	<p>
Financial support through donations, underwriting, and merchandise sales, allows Wave Farm to meet the most basic WGXC operating costs, and keeps creative community radio on your FM dial!</a>

WGXC is a program division of the 501(c)3 non-profit arts organization Wave Farm, and your contributions are tax-deductible to the full extent of the law.</p>

<h2>DONATE ONLINE</h2>
<p>Make a one-time donation or become a monthly sustaining supporter by using the buttons to the right.</p>

<h2>DONATE BY CHECK</h2>
<p>Checks should be made payable to: WGXC<br />
Mail to: PO Box 13, Acra, NY 12405.</p>


<h2>STOCK / SECURITIES DONATION</h2>
<p>WGXC is now able to accept donations of stock.<br /><br />
With a charitable gift of appreciated shares held long-term, the donation you make and the deduction you get are greater than they would be if you were to instead sell the shares and donate the cash proceeds. This is because when you donate shares, you avoid paying the capital gains tax.
For more information about making this type of donation to Wave Farm’s WGXC, please contact Galen Joseph-Hunter galen [at] wavefarm.org or (518) 622-2598.</p>

<h2>DONATED GOODS / EQUIPMENT</h2>
<p>WGXC gratefully accepts donated goods and equipment that is of use for the station. Contact info@wgxc.org or (518) 697-7400 for more information. WGXC is currently in need of:
  <li>Donated Records and CDs to be resold at the WGXC Record & Media Fair  </li>
  <li>Computers: Macintosh Preferred - 2011 or newer 2.0 GHz or faster CPU (Dual core or more)  </li>
  <li>Computers: Windows - 2012 or newer 2.4GHz or faster CPU (Dual core or more)   </li>
</p>

<h1><a id="underwriting"></a> WGXC UNDERWRITING</h1>

<p>
Why underwrite with WGXC? Underwriting is a unique opportunity to reach WGXC’s 78,000 potential listeners on 90.7-FM, and thousands more who regularly visit wgxc.org. WGXC’s listeners believe in the importance of local media, and support the local businesses and organizations that support us. Our listeners are engaged and informed consumers. They value and recognize the investment made by local and regional businesses and organizations in support of community media.
</p><p>
What is underwriting? Underwriting is a specialized and non-commercial form of advertising. These on-air announcements are broadcast at the top of every hour, 24 hours a day. The content and broadcast schedule of these announcements must comply with FCC regulations, and are drafted cooperatively by WGXC and each underwriter.
</p>
<p>
<h2>1-YEAR WGXC BASIC
	UNDERWRITING PLAN</h2>
<b>$2,900*<br>
10 on-air announcements per week</b><br><br>
WGXC will recognize your support
throughout the day and week, during
a diverse selection of music programs;
cultural and arts programs; local, national
and international news programs; and
public affairs programs. Plus, your logo will
be displayed at wgxc.org for the duration of
your sponsorship.
</p>
<h2>3-MONTH WGXC BASIC
UNDERWRITING PLAN</h2>
<b>$775*<br>
10 on-air announcements per week</b><br><br>
WGXC will recognize your support
throughout the day and week, during
a diverse selection of music programs;
cultural and arts programs; local, national
and international news programs; and
public affairs programs. Plus, your logo will
be displayed at wgxc.org for the duration of
your sponsorship.
</p>
<h2>EVENT BURST</h2>
<b>
$110 / 10 announcements<br>
$200 / 20 announcements</b><br><br>
On-air announcements to get word out in
the days leading up to your event. 
</p>
<h2>WEB ONLY</h2>
<b>$300 / three months<br>
$960 / one year</b><br><br>
Your organization or business logo will be
displayed at a highly visible location at
wgxc.org, and link directly to your website
or Facebook page.
</p><p>
	* Non-profit discounted rates available.
</p>
<p>
	<br><br>
	<a href="https://data.wavefarm.org/20181205164914/UnderwritingPacket_20182019.pdf">Click here for WGXC's current Underwriting packages and pricing.</a></p>
<p>	
To become an underwriter or for more information, contact Station Manager Lynn Sloneker lynn [at] wgxc.org or phone (518) 697-7400.</p>
<h1><a id="merchandise"></a>WGXC MERCHANDISE</h1>
<p dir="ltr">We are thrilled to unveil Rebecca Gray&#39;s WGXC T-shirt artwork,&nbsp;selected from&nbsp;last month&#39;s open call. The new WGXC: Radio for Open Ears T-shirt is available in black and white in adult&nbsp;sizes and cuts. (Youth sizes by special request.)<br />
<br />
Many thanks to Rebecca, and <a href="https://www.fusionlab.com/" target="_blank">FusionLab</a> who helped bring this project&nbsp;to life.<br />
<br />
<strong>Rebecca Bray </strong>is an artist and interaction designer who lives in Leeds, NY, just outside the village of Catskill. She is the Managing Director of the Center for Artistic Activism (<a href="http://c4aa.org/" target="_blank">c4aa.org</a>), was the Chief of Experience Design at the Smithsonian&rsquo;s Natural History Museum, and makes visual art and interactive installations (<a href="http://thebrayverconcern.com/" target="_blank">thebrayverconcern.com</a>) about social and environmental issues. <strong>She hadn&rsquo;t realized before this how much she enjoys drawing ears.</strong><br />
<br />
WGXC T-shirts are $25. They are available for sale at the Hudson and Acra studios or by mail (see below.)<br />
&nbsp;</p>

<!--<iframe height="1800" width="680" src="https://wavefarm.spreadshirt.com/" name="Spreadshop" id="Spreadshop" frameborder="0" onload="window.scrollTo(0, 0);"></iframe>-->
<img src="https://data.wavefarm.org/20190430120700/WGXC_RadioforOpenEars_Tshirt_Black_RebeccaBray_20190501.png" width="600">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SV5J7G476JS66">
<table>
<tr><td><input type="hidden" name="on0" value="WGXC: Radio for Open Ears T-shirt - MENS CUT - BLACK">WGXC: Radio for Open Ears T-shirt - MENS CUT - BLACK: $25 plus S&H / Tax</td></tr><tr><td><select name="os0">
	<option value="Small">Small </option>
	<option value="Medium">Medium </option>
	<option value="Large">Large </option>
	<option value="XL">XL </option>
	<option value="XXL">XXL </option>
</select> </td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



<h1><a id="friends"></a>FRIENDS OF WGXC</h1>
<p>
Wave Farm's WGXC-FM is made possible, in part, by donations from generous individuals and businesses who are Friends of WGXC. <a href="http://wgxc.org/donate">We hope you will join us.</a></p>

<p>Thank you to our recent Pledge Drive and Monthly Sustaining Supporters: 
</p><p>
Peter Aaron (Kingston),

Linda Allen (Portland, OR),

Katherine Ayars (Poughkeepsie),

Nancy Barber and Bill Stone (New York),

Basilica Hudson (Hudson),

Katherine Bauer (Hudson),

Audrey Berman (Germantown),

Bill (Cairo),

Bodhi Bridge Music Stone Mountain Sound Motion (New Paltz),

Peter Bohn (Gilboa),

Christina Bohnsack (Germantown),

Dave & Sheri Bolevice (Philmont),

Stuart Breslow and Anne Miller (Catskill),

Matt Bua (Catskill),

Carol (Hudson),

Emily Chameides (Hudson),

Michael Chameides (Hudson),

Mary Chatham (Hudson),

Chez Masterson (Columbia County),

Claire (Acra),

John Cleater (Columbiaville),

Daisy (Kingston),

Charlie Doheny (Philmont),

Don and Ginna (Rhinebeck),

Brendan Donegan (Hudson),

Stuart Dorris (Hudson),

Ellen (Medusa),

Maura Ennis (Guilford, CT),

Victora Estok (Beacon),

eteam (South Cairo),

Ben Ezinga (Hudson),

F+B Construction (Germantown),

First Hudson Mortgage (Hudson),

Nassau Supervisor David Fleming ,

Bryan Fox (New York),

Peter Frank (Hudson),

Chris Funkhouser (Rhinebeck),

Ralph Gartner (Valatie),

Rob Gelles (Hudson),

Gladys ,

David Goren (Brooklyn),

Phoenix Grace (Delmar),

Phoenix Grace (Delmar),

Marie + Manny Greco (Catskill),

Tyson Hauf (Preston Hollow),

Michelle Hughes (Hudson),

Tracy Huling and the Prison Public Memory Project (Pontiac, IL),

Lee Jamison (Stuyvesant),

JazzontheTube.com (Tivoli),

JD (Round Top),

Jeff at Big Tree Records ,

Jeff Bailey Gallery (New York),

Jess (Catskill),

Joseph (Chatham Center),

Joseph (Delmar),

Juuustuuz ,

Sara Kendall (Hudson),

Pete Kirchoff (South Egremont, MA),

Meredith Kooi (Atlanta, GA),

Kristen (Hudson),

Rose Kue ,

Pamela Kungle (Hudson),

Kelly Kynion (Claverack),

Leigh (Stuyvesant),

Matthew Leinung (Menands),

Lenox Local (Lenox, MA),

Lievense Family Foundation (Tupper Lake),

Linda and Claudia (Hudson),

Elizabeth LoGiudice & Ross Burnell (Greene County),

MaryEllen Madison (Philmont),

Bill Mancini and Bernadette Powis (Kinderhook),

Marc (New York),

Margaret (Greenville),

Maria (Hudson),

John Mason and Susan Davies (Chatham),

Valerie McAviney (Leeds),

Jim McCabe (New York),

Alanna Medlock (Saugerties),

Kathy and Dennis Meehan (Cairo),

Peter Meyer ,

Michael (Seattle, WA),

Michael and Lisa (Claverack),

Lawrence Moss (New York),

Justin Nobel (Hudson),

Jennifer Nunno ,

Aidan O'Connor (Greene County),

Jan Perlin (Oak Hill),

Carolyn and Mark Plakias (Kinderhook),

Paul and Katja Rehm (Greenville),

Gunnel Reznikoff (Chatham),

Amy Rigby (Catskill),
Christiana and Kieran Riley (Dutchess County),

Rob (Ghent),

Marty Rosenbaum (Albany),

Ruby's Hotel and Restaurant (Freehold),

Rundy (Hudson),

Christy Rupp (Saugerties),

David Salzberg (Kinderhook),

Debra Samuels (Catskill),

Richard Sandler (Catskill),

Jane Scarpellino (New Haven, CT),

Jack Schoonover (Los Angeles, CA),

Andy Schwartz (New York),

Phyllis Segura (Saugerties),

Jack Sencabaugh (Catskill),

John Shadley (Cairo),

Elaine Shimono (Hudson),

Brenda Shufelt (Mellenville),

Fernando Silva (Brooklyn),

Tom Skarimbas (Cairo),

Alan Skerrett (Philmont),

Melinda Slover (Hudson),

Laura and Stu Summer (Hillsdale),

SVB (Hudson),

Sylvia (Hudson),

Tara Fracalossi and Thomas Lail (Valatie),

Mathew Tombers (Claverack),

Robert Tomlinson (Catskill),

Gaku Tsutaja (Elmhurst),

Becca Van K (Freehold),

Harry Vincent (Catskill),

Michael Waldholz (Hudson),

Kaya Weidman (Germantown),

Jo-Anne Williams, 

Butch Young (Sherman Oaks, CA),
	
	Anonymous + (Albany),



Anonymous (Averill Park),

Anonymous (Brentwood, MD),

Anonymous + (Brooklyn),



Anonymous (Callicoon Center),

Anonymous + (Catskill),



Anonymous + (Chatham),



Anonymous (Cornwallville),

Anonymous (Craryville),

Anonymous (Durham),

Anonymous + (East Chatham),



Anonymous + (Ghent),



Anonymous (Glendale, CA),

Anonymous (Great Barrington, MA),

Anonymous (Greenville),

Anonymous (Harwich, MA),

Anonymous (Hillsdale),

Anonymous (Holiday, FL),

Anonymous + (Hudson),

















Anonymous (Hyannis, MA),

Anonymous + (Kinderhook),



Anonymous + (Lexington),



Anonymous (Los Angeles, CA),

Anonymous (Menands),

Anonymous (Midland Park, NJ),

Anonymous (Milan),

Anonymous (Millbrook),

Anonymous (Mountainville),

Anonymous + (New York),









Anonymous (Queens),

Anonymous (Saugerties),

Anonymous + (Stuyvesant),





Anonymous + (Tillson),



Anonymous (Tivoli),

Anonymous + (Westerlo), and



Anonymous (Woodstock).
	
</p><p>
	
	
	
Andrew	Barwick	(Brooklyn), 
Katherine Bauer	(Hudson), 
Alex Benson (Tivoli), 
	Audrey Berman (Germantown),
	Bridge Street Theatre	(Catskill), 
Elizabeth	Cortell	(Sherman Oaks, CA), 
Leigh	Cummings	(Stuyvesant), 
Jeffrey	Economy	(Saugerties), 
Tara	Fracalossi and Thomas Lail	(Valatie), 
Peter	Frank	(Hudson), 
Philip	Grant	(Nassau),
Galen 	Joseph-Hunter	(Acra),
Dave	King and Frank Tartaglione	(Philmont),
Ula	Kulpa, 
Kathryn A	Laity	(Hudson),
	Lenox Local	(Lenox, MA),
	Karen Locker	(Kingston), 
Judd	Maltin	(Hillsdale),
James	McCabe	(Claverack),
	Jess Puglisi (Catskill),
Gunnel	Reznikoff	(Chatham), 
Tom	Roe	(Acra), 
Sheena	Salvino	(Catskill), 
Wendy	Schmalz, 	
Sam	Sebren	(Athens), 
Lynn	Sloneker	(Hudson), 
Joanna	Tipple	(Ghent), 
Mathew	Tombers	(Martha's Vineyard, MA), 
Neva	Wartell	(Catskill), 	

Anonymous	(Catskill +), 
Anonymous	(Chatham + ), 
Anonymous	(Chicago, IL), 
Anonymous	(Craryville), 
Anonymous	(Elizaville), 
Anonymous	(Hudson + ), 
Anonymous	(Jersey City, NJ), 
Anonymous	(New York), 
Anonymous	(South Cairo), and 
Anonymous	(Stuyvesant). 
</p>

</p></div>


<div class="split-right-side">
	
	<div class="wgxc-donate-form-container">
		
		
		
		
		
		
		
		<h2>Donate Monthly</h2>
	<p>Become a sustaining supporter by investing in community radio every month.
		Choose your monthly donation amount from the drop-down menu, and sign-up with a credit card or PayPal. You can cancel at any time.</p>

		
		
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AVBRHHXV72XUY">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
	<option value="10">$10.00 USD - monthly</option>
	<option value="5">$5.00 USD - monthly</option>
	<option value="15">$15.00 USD - monthly</option>
	<option value="20">$20.00 USD - monthly</option>
	<option value="25">$25.00 USD - monthly</option>
	<option value="35">$35.00 USD - monthly</option>
	<option value="50">$50.00 USD - monthly</option>
	<option value="100">$100.00 USD - monthly</option>
	<option value="200">$200.00 USD - monthly</option>
	<option value="300">$300.00 USD - monthly</option>
</select> </td></tr>
	
<tr><td><br><input type="hidden" name="on1" value="May we Acknowledge?">May we acknowledge you by name?</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
		
		<h2>Make a One-time Contribution</h2>
		<p>
	Click "donate" to make a one-time donation by credit card or PayPal.</p>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="wgxc-donate-form">
		<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="QTZVMX7JREH4A">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>		
		
		

		

	</div>
	<img src="https://data.wavefarm.org/20181029181148/SustainingSupporterSlide.png" width="375" alt="wgxc donate" />			

</div>

