<!--<div class="side">
  <p>Discuss this left hand column. Is it necessary?</p>
  <h3>Ongoing</h3>
  <div class="event">
    <h4>Event Title</h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <h3>Upcoming</h3>
  <div class="event">
    <h4>Event title </h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <div class="event">...</div>
  <div class="event">...</div>
</div>-->
<div class="about page">
  <h1>WGXC LISTENER SURVEY</h1> 
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdrT_B4-alFllNxqPniYVH2iY11nd-QiI100ZKQ_-C8oclY3A/viewform?embedded=true" width="700" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
