<!--<div class="side">
  <p>Discuss this left hand column. Is it necessary?</p>
  <h3>Ongoing</h3>
  <div class="event">
    <h4>Event Title</h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <h3>Upcoming</h3>
  <div class="event">
    <h4>Event title </h4>
    <p>Event details....</p>
  </div>
  <div class="event">...</div>
  <div class="event">...</div>
  <div class="event">...</div>
</div>-->
<div class="about page">
  <h1>WGXC LISTENER SURVEY</h1> 
 <p>
    <script>(function(t,e,n,c){var o,s,i;t.SMCX=t.SMCX||[],e.getElementById(c)||(o=e.getElementsByTagName(n),s=o[o.length-1],i=e.createElement(n),i.type="text/javascript",i.async=!0,i.id=c,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/qVb3VIb6C1tvIS_2BudSl10Q6_2Fk8i1vEMkJSm2cdRGQufjiJ8gPUfTm1KZukJ6S7gn.js"].join(""),s.parentNode.insertBefore(i,s))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com/mp/customer-satisfaction-surveys/> Create your own user feedback survey </a></script> </p> -->

  </div>
