

/* overrides of stlyle.css */

.wgxc-calendar {
  width: 700px;
}


.page.wgxc.wgxc-calendar a:hover {
  color: #cc0302;
}

/* new styles */


/* calendar page */

.wgxc-calendar p {
	padding-right:20px;
}


.datepicker-container {
	margin-top:90px;
	float:right;
	width: 200px;
}

.calendar-container {
	margin-right:200px;
}	



.ui-datepicker-group {
	background-color:white;
	border: 1px solid black;
	margin-bottom: 5px;
}

.ui-state-active {
	/*color: #cc0302;*/
}

.ui-datepicker-today {
	background-color: #cc0302;
}


.ui-datepicker-current-day {
	background-color: #03cc02;
}

.calendar {
	margin-top:20px;
	margin-right:10px;
	padding-top:20px;
	border-top:2px solid #bbb;
}
.calendar .calendar-card-topbar {
  background-color: #990303;
}
.calendar .calendar-card {
  background-color: #cc0302;
}

.calendar .calendar-card .time {
  font-size: 12px;
}

.calendar-card .tag {
  font-size: 12px;
  margin: 0px 0 0 0;
}

.wgxc .more input {
  background-color: #cc0302;
  border: 1px solid #cc0302;
}

.event {
  clear: left;
  margin: 0 0 40px;
  overflow: auto;
}

.event-icons {
	float:right;
}

.event-icons img {
	margin:0 4px 0 4px;
	width:60px;
	height: 60px;
}

.event-info {
  border-bottom: 2px solid #bbb;
  margin: 0 70px 0 140px;
  padding: 0 0 20px 0px;
}

.event-name {
  font-size:28px;
  line-height:32px;
  padding: 0 0 15px;
}
.event-name span {
  cursor: pointer;
}
.event-description {
  /*display: none;*/
}

.event-description-short {
	display:block;
}

.event-description-long {
	display:none;
}

.event-description {
  /*display: none;*/
}
.event-description.current {
  display: block;
}
.event-category {
	margin-top:20px;
}
.event-category ul li {
	list-style-type: circle;
}
