/* 
 * Some bits borrowed from
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * v2.0.5 | 20170425
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* General styles */
a {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #C00;
} 
b {
  font-weight: 400;
}
body {
  background: black;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
}
img {
  max-width: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alt-text {
  display: none;
}

/* Header */
header {
  margin: 0 auto;
  max-width: 960px;
}
header .search {
  float: right;
}
header .search form {
  position: relative;
  top: 22px;
  z-index: 3;
}
header .search input {
  border: 1px solid black;
  padding: 1px 2px;
  width: 250px;
}
.header-container {
  background: url('/images/header-bg.png') 50% 0% no-repeat;
  padding: 0 0 3px 0;
}
.header-fill {
  height: 30px;
  border-bottom: 1px solid #fff;
}

/* Head */
.head {
  margin: 0 auto;
  max-width: 960px;
  overflow: auto;
}
.subicon {
  background: url('/images/subicons.png') no-repeat;
  background-size: 183px 120px;
  height: 60px;
  width: 60px;
}
.mag .subicon {
  background-position: -123px -60px;
}
.mag .subicon:hover {
  background-position: -123px 0px;
}
.mag-logo {
	/*
  background: url('/images/mag-logo.png') no-repeat;
  width: 665px;
  height: 151px;
  margin-right: 134px;
	float: right;
  */
  background: url('/images/mag-logo-2016.png') no-repeat;
	width: 760px;
	height: 98px;
  margin-left: 28px;
  margin-top: 14px;
  position: absolute;
  top: 68px;

}
.sub {
  float: left;
  margin: 60px 0 0 0;
  text-align: center;
  width: 210px;
}
.sub .subicon {
  margin: 16px auto;
}
.ta .subicon {
	
  background-position: 0px -60px;
  /*
  height: 60px;
  width: 68px;
  */
  
}
.ta .subicon:hover {
  background-position: 0px 0px;
}
.wf-logo {
  background: url('/images/wf-logo-20.png') no-repeat;
  background-size: 258px 159px;
  float: left;
  height: 159px;
  width: 258px;
  margin: 30px 0 0 0;
	/*
  background: url('/images/wf-logo.png') no-repeat;
  background-size: 220px 220px;
  float: left;
  height: 220px;
  width: 220px;
  margin: 10px 38px 0 0;
  */
}
.wf-logo-smaller {
  background: url('/images/wf-logo-20.png') no-repeat;
  background-size: 163px 100px;
  float: left;
  height: 100px;
  width: 163px;
  margin: 33px 0px 20px 0;
	/*
  background: url('/images/wf-logo.png') no-repeat;
  background-size: 100px 100px;
  float: left;
  height: 100px;
  width: 100px;
  margin: 33px 38px 20px 0;
  */
}
.wgxc .subicon {
  background-position: -60px -60px;
}
.wgxc .subicon:hover {
  background-position: -60px 0px;
}

.wgxc-logo {
  background: url('/images/wgxc-logo.png') no-repeat;
  height: 100px;
  width: 670px;
  margin-left: 28px;
  position: absolute;
  top: 68px;
}

/* Primary nav */
nav.primary {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin: 2px 0 0 0;
  min-width: 960px;
  padding: 5px 0;
  text-align: center;
}
nav.primary a {
  color: black;
}
nav.primary a:hover {
  color: white;
}
nav.mag {
  background: #B98DE0;/*#6dcff6;*/
}
nav.ta {
  background: #F0B112;/*#ffcd32;*/
}
nav.wgxc {
  background: #6fb43f;
}

/* WGXC secondary nav */
nav.secondary.wgxc {
  background: #000;
  border-bottom: 1px solid black;
  font-size: 16px;
  min-width: 960px;
  padding: 5px 0;
  text-align: center;
}
nav.secondary.wgxc a {
  color: #fff;
  display: none;
}

/* TA secondary nav */
nav.secondary.ta {
	display: none;
	background: #fff;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin: 0px 0 0 0;
  min-width: 960px;
  padding: 5px 0;
  text-align: center;
}
nav.secondary.ta a {
  color: black;
}
nav.secondary.ta a:hover {
  color: #ffcd32;
}


/* Tweets */
.tweets-container {
  background: #FBF9FA;
}
.tweets {
  font-size: 12px;
  margin: auto;
  overflow: hidden;
  padding: 6px 0;
  white-space: nowrap;
  width: 960px;
}
.tweet {
  display: none;
}
.tweets a.twitter {
  background: url('/images/socialicons.png') no-repeat;
  display: inline-block;
  margin: 0 8px -4px;
  height: 19px;
  width: 19px;
}
.tweets a.twitter span {
  display: none;
}

/* Footer */
footer {
  font-weight: 400;
  margin: 0 auto;
  max-width: 960px;
}
footer a {
  color: #b3b2b2;
}
footer a:hover {
  color: #525151;
}
footer nav {
  font-size: 20px;
  padding: 20px 0;
}
footer nav a {
  padding: 0 5px;
}
nav.wf1 {
  float: left;
}
nav.wf2 {
  float: right;
}
.copyright {
  color: #525151;
}
.copyright:hover {
  color: #525151;
}
.fineprint {
  float: left;
  padding: 24px 0 0 0;
  font-size: 11px;
}
.fineprint a {
  padding: 0 5px;
}
.footer-container {
  padding: 3px 0 0 0;
}
.footer-fill {
  background: url('/images/footer-bg.png') no-repeat;
  background-position: 50% 6px;
  height: 109px;
  border-top: 1px solid #eee;
}
.social {
  float: left;
  padding: 18px 0 0 20px;
}
.social a {
  background: url('/images/socialicons.png') no-repeat;
  display: inline-block;
  height: 19px;
  width: 19px;
}
.social a span {
  display: none;
}
.social .facebook {
  background-position: -19px 0px;
  margin-left: 5px;
}
.social .instagram {
  background-position: -207px 0px;
  margin-left: 5px;
}
.social .mailing {
  background-position: -57px 0px;
  margin-left: 15px;
  width: 150px;
}
.studio-info {
  color: #999;
}
.studios {
  clear: both;
  float: right;
  font-size: 11px;
  text-align: right;
}
/* Listen Now Header Button */
.listen-now-button {
	position:relative;
	top:8px;
}
.listen-now-button a {
	position:absolute;
}
.listen-now-button a img {
	width: 183px;
}

/* Listen slider */
.listen {
  background: black;
  color: white;
  left: -300px;
  padding: 5px 30px 5px 0;
  position: absolute;
  top: 70px;
  width: 300px;
}

.listen img {
	width:60px;
	position:absolute;
	left:230px;
}
.listen.pop-out .listen-wf .listen-wf-audio-logo {
	/*
	width:262px;
	height: 122px;
	*/
	width:249px;
	height: 116px;
	position: relative;
	left: 0;
}
.listen h1 {
  font-size: 24px;
  padding: 12px 0 8px 0;
  font-weight: 800;
  width: 180px;
}
.listen-tag {
	margin-top:3px;
	font-size: 55%;
  font-weight: 400;
}
.listen-contact {
	font-size: 80%;
	font-weight:400;
}
	
.listen-contact-list dt,
.listen-nowplaying-list dt {	
	float:left;
	font-size:75%;
	font-weight: 700;
}
.listen-contact-list dd,
.listen-nowplaying-list dd {
	margin-left:120px;
	font-size:75%;
	font-weight: 500;	
}
.listen-nowplaying-list dd {
	margin-left:100px;
}

	
.listen-handle {
  background: black;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 0;
  left: -74px;
  z-index: 0;
  /* Rotate from http://css-tricks.com/snippets/css/text-rotation/ */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: bottom right;
  -moz-transform-origin:    bottom right;
  -ms-transform-origin:     bottom right;
  -o-transform-origin:      bottom right;
}
.pop-out .listen-handle,
.pop-out .listen-wgxc-window,
.pop-out .listen-wf-window,
/*.pop-out .listen-download,*/
.pop-out .listen-popout {
  display: none;
}

.listen-wgxc-window,
.listen-wf-window {
	color:white;
	background-color:	#ca0b15;
	padding: 5px 20px;
	line-height:30px;
	font-weight: bold;
	text-transform:uppercase;
	border-radius: 5px;
}

.listen-wgxc-window:hover,
.listen-wf-window:hover {
	color:white;
}

.listen {
	border-width: 6px 8px 6px 0;
	border-color:#ca0b15;
	border-style: solid;
}

.listen.pop-out {
	border:0;
}

.listen, .listen-wgxc, .listen-wf, .listen-popout {
  /* From http://css-tricks.com/almanac/properties/b/border-radius/ */
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 12px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px;

}
.listen-wf, .listen-wgxc, .listen-popout {
  background: white;
  color: black;
  margin: 10px 0;
  padding: 10px 5px 10px 35px;
}
.listen-wf div, .listen-wgxc div {
  font-size: 18px;
}
.listen-download-container {
	padding: 10px 0;	
}
.listen-download {
	color: #ca0b15;
	text-transform:uppercase;
	font-weight: 700;
	font-size:70%;
}
.listen-listennow {
	padding: 0 0 10px;
}
.listen-popout-button a {
		font-size:80%;
}

.listen-email {
}
.listen-nowplaying-list {
	margin: 10px 0 0 0;	
}
.listen-nowplaying,
.listen-upnext {
	font-weight: bold;
}

.listen-nowplaying a,
.listen-upnext a {
	font-weight: 400;
}

.listen-news {
		margin: 10px 0 0 0;
}

.listen audio {
	margin: 10px 0 0 0;
	width: 250px;
}

/* Main content area */
.main {
  margin: 0 auto;
  max-width: 960px;
}
.main-container {
  background: #f4f1f1;
  color: #000;
  overflow: auto;
  padding: 2px 0 20px 0;
}

/* Slideshow */
.pointer {
  border-top: 0px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid black;
  height: 0;
  left: 348px;
  position: relative;
  width: 0; 
}
.slideshow {
  border: 1px solid black;
  float: left;
  margin: 0 0 0 60px;
  position: relative;
  text-align: right;
}
.slideshow a {
  display: block;
  height: 428px;
  width: 760px;
}
.slideshow div {
  font-weight: 400;
  padding: 4px 5px;
  position: absolute;
  right: 0px;
}
.slide-credit {
  background: rgba(256, 256, 256, .8);
  color: #000;
  bottom: 22px;
  font-size: 10px;
}
.slide-title {
  background: rgba(0, 0, 0, .7);
  bottom: 0px;
  color: #fff;
  font-size: 14px;
  width: 750px;
}
a.wgxc.slide, a.mag.slide {
  display: none;
}

/* Pages */
.page {
  font-size: 18px;
  line-height: 22px;
  width: 760px;
  margin: 0 0 0 60px;
  padding: 40px 0;
}
.page h1 {
  border-bottom: 2px solid black;
  font-size: 32px;
  margin: 60px 0 40px 0;
  padding: 0 0 10px 0;
}
.page h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 30px 0 10px 0;
}
.page h4 {
  border-bottom: 2px solid black;
  font-size: 32px;
  margin: 0px 0 40px 0;
  padding: 0 0 10px 0;
}
.page i {
  font-style: italic;
}
.page p {
  margin: 5px 0 10px 0;
}
.page .answer {
}
.page .biglink {
  font-size: 28px;
  margin: 30px 0;
}
.page dl.qa {
  margin: 0 0 10px;
}
.page dl.qa dd {
  color: #777;
}
.page dl.qa dd a {
  color: #555;
}
.page dl.qa dd a:hover {
  color: #C00;
} 
.page dl.qa dd ul {
  margin: 0 0 0 1em;
}

/* Archive page */
.archive .types a, .archive .sites a {
  margin: 0 10px 0 0;
}

.archive .archive-control {
	margin-bottom:10px;
}

.archive label {
	width: 180px;
	font-weight:bold;
	float:left;	
}



.archive input[type=search] {
  font-size: 20px;
  padding: 5px;
  /*width: 100%;*/
  width: 510px;
}
.archive .date-filter {
  float: left;
  margin-right: 10px;
}
.archive .filter-text {
  font-size: 14px;
  position: relative;
  top: 4px;
}
.archive .action {
  background-color: #c00;
  border: none;
  border-radius: 4px;
  color: #FBF9FA;
  cursor: pointer;
  font-size: 16px;
  margin: 16px 0 0 0;
  padding: 4px 20px;
  width: 200px;
}
.archive .content {
  font-size: 16px;
  margin: 0 0 30px 0;
}
.archive .item-link h3 {
  margin-bottom: 3px;
}
.archive .item-link div {
  font-size: 14px;
  font-weight: 300;
}
.archive .image {
  margin: 10px 0;
}
.archive .item .date {
  font-size: 16px;
}
.archive .item div {
  margin: 10px 0;
}
.archive .item .more-info {
  font-size: 14px;
}
.archive .item-subsites {
  position: absolute;
  margin: -2px 0 0 -100px;
}
.archive .site-icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  position: absolute;
  width: 35px;
}
.archive .site-icon.transmissionarts {
  background-image: url('/images/ta-icon-light.png');
  left: 35px;
}
.archive .site-icon.wgxc {
  background-image: url('/images/wgxc-icon-light.png');
}
.archive .more {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  font-size: 16px;
  font-weight: 400;
  float: right;
  padding: 2px 6px;
}
.archive .player {
  margin: 10px 0;
}
.archive .results {
  counter-reset: item-counter;
}
.archive .result {
  display: block;
  margin-bottom: 20px;
}
.archive .result:before {
  content: counter(item-counter);
  counter-increment: item-counter;
  position: absolute;
  margin-left: -22px;
  font-size: 12px;
}
.archive .summary {
  margin: 4px 0 10px;
  font-size: 14px;
}

/* WGXC pages */

/* TODO Split out subsite styles into their own CSS/LESS */
.page.wgxc a:hover {
  color: #1AB7EA;
}
.page.split {
  margin: 0 40px 0 0;
  width: 640px;
  float: right;
}
.side {
  float: left;
  margin: 0 0 0 40px;
  padding: 140px 0 40px 0;
  width: 200px;
}
.side h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.side.wgxc h3 {
	  color: #6fb43f;	
}
.side.wgxc a:hover {
  color: #1AB7EA;
}

.page.split-right {
  margin: 0 40px 0 0;
  width: 600px;
  float:left;
}

.split-right-side {
	width:320px;
  margin: 0 0 0 640px;
  padding-top:40px;
  
}

.wgxc-donate-form-container {
	color:white;
	background-color:	#ca0b15;
	padding: 5px 20px 20px 15px;
}

.wgxc-donate-form-container h2 {
	padding:20px 0 0 0;
	font-size:30px;
	line-height:36px;
	font-weight:bold;
}
.wgxc-donate-form-container p {
	padding:10px 0 10px 0;
	font-size:16px;
}

.wgxc-donate-form input {
	margin-top:10px;
	font-size:12px;
}
.wgxc-donate-form input[type=text] {
	width:100%;
}
/* TA */

.page.ta a:hover {
  color: #ffcd32;
}
.side.ta h3 {
	  color: #ffcd32;	
}
.side.ta a:hover {
  color: #ffcd32;
}


/* Programs page */
a.programs-header {
  color: black;
  display: block;
}
a.programs-header:hover {
  color: black;
}
.programs-icon {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 45px;
  margin: -10px 0 0 -70px;
  width: 45px;
}

.ta-logo {
  /*background: url('/images/ta-logo.png') no-repeat;
  width: 760px;
	height: 78px;
	*/  
  background: url('/images/ta-logo-2016.png') no-repeat;
	width: 760px;
	height: 98px;
  margin-left: 28px;
  margin-top: 14px;
  position: absolute;
  top: 68px;
}

.ta.programs-header .programs-icon {
  background-image: url('/images/ta-icon-light.png');
  margin-left: -72px;
  width: 50px;
}
.ta.programs-header:hover .programs-icon {
  background-image: url('/images/ta-icon.png');
}
.wgxc.programs-header .programs-icon {
  background-image: url('/images/wgxc-icon-light.png');
}
.wgxc.programs-header:hover .programs-icon {
  background-image: url('/images/wgxc-icon.png');
}
.mag.programs-header .programs-icon {
  background-image: url('/images/mag-icon-light.png');
}
.mag.programs-header:hover .programs-icon {
  background-image: url('/images/mag-icon.png');
}


#scrollUp {
  bottom: 120px;
  right: 40px;
  padding: 10px 10px;
  background: #555;
  color: #fff;
  font-size:80%;
}


/* Announce slider */

.outer-announce-container {
	display: none;	/* default to not showing; turned on via .js */
	left:0px;
	width:300px;
	height:540px;
	overflow:hidden;
	position:absolute;
	top:70px;
}

.announce {
	display: none;	/* default to not showing; turned on via .js */
  background: #ca0b15;
  color: white;
  left: -20px;
  padding: 5px 30px 5px 0px;
  position: absolute;
  width: 290px;
}


.announce-handle {
  background: #ca0b15;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  width: 280px;
  text-align: center;
  top: 0px;
  left: 34px;
  z-index: 0;
  /* Rotate from http://css-tricks.com/snippets/css/text-rotation/ */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: bottom right;
  -moz-transform-origin:    bottom right;
  -ms-transform-origin:     bottom right;
  -o-transform-origin:      bottom right;
}

.announce, .announce-container {
  /* From http://css-tricks.com/almanac/properties/b/border-radius/ */
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 12px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px;
}
.announce-container {
  background: #c7e0fc;
  color: #ffffff;
  margin: 10px 0;
  padding: 10px 5px 10px 35px;
}
.announce-container p {
	text-align:center;
	padding: 0px 20px;
	
}
.announce-strong {
	color: #ffffff;
	font-size: 120%;
	line-height: 120%;
	font-weight: 800;
	margin:20px 0 10px 0;
}
.announce-text {
	font-weight: normal;
	line-height: 100%;
	margin-bottom:20px;	
}

.announce-buttons {
	margin-left:40px;
}


/* Related Items */

.related-item-section-list {
	border-top: 2px solid black;
	clear:right;
}

.social-icons-container {
	float:right;	
}


.related-item-section h2 span {
	/*color:#73c346;*/
	font-size: 14px;
	padding-left:10px;
	vertical-align: top;
}
.related-item-list {
	display: none;
	clear:both;
}	
.related-item {
	margin: 0 0 10px 20px;
}

.related-item p {
	font-size:90%;
	line-height: 95%;
	margin: 0px 0 3px 0;
}


/* Schedule Grid */

.schedule-grid.page {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
	
table.schedule-grid {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #838486;	
	
}
table.schedule-grid th,
table.schedule-grid td {
	border:1px solid black;
	padding: 2px 4px 2px 4px;
}
table.schedule-grid th {
	font-weight:bold;
	width: 13%;
	border-width: 1px 1px 2px 1px;
	background-color:black;
	color:white;
	text-transform:uppercase;
}
table.schedule-grid td {
	border-width: 1px;
	overflow: hidden;	
	font-size:13px;
	text-align: center;
	line-height: 16px;
}
table.schedule-grid td ul li  {
	text-align:left;
	line-height: 18px;
	font-size:13px;
}
