

/* overrides of stlyle.css */

.wgxc-calendar,
.page.wgxc {
  width: 700px;
}


.page.wgxc.wgxc-calendar a:hover {
  color: #73c346;
}

/* new styles */


/* wgxc home slideshow */


.wgxc-slideshow {
  border: 1px solid black;
  float: left;
  margin: 0 0 0 100px;
  position: relative;
  text-align: right;
}
.wgxc-slideshow a {
  display: none;
  height: 454px;
  width: 760px;
  margin-bottom: 22px;	/* for info section; make it bigger for more lines */
  background-color: black;
}

.wgxc-slideshow div {
  font-weight: 400;
  padding: 4px 5px;
  position: absolute;

}

.wgxc-slideshow .slide-credit {
  right: 0px;
   background: rgba(256, 256, 256, .8);
  color: #000;
  bottom: 22px;
  font-size: 10px;
}
.wgxc-slideshow .slide-info {
  background: rgba(0, 0, 0, .7);
  bottom: 0px;
  color: #fff;
  font-size: 14px;
  width: 752px;
  padding-left: 4px;
  padding-right: 5px;
  margin: 0;
}


#wgxc-slideshow-prev {
	position:absolute;
	height: 100%;
	width: 50px;
	left: 0px;
	top: 0px;
}

#wgxc-slideshow-next {
	position:absolute;
	height: 100%;
	width: 50px;
	right: 0px;
	top: 0px;
}


/* calendar page */

.wgxc-calendar p,
.wgxc p {
	padding-right:20px;
}


.datepicker-container {
	margin-top:90px;
	float:right;
	width: 200px;
}
.datepicker-controls-h {
	height: 600px;	
}

.calendar-container {
	margin-right:200px;
}	


.datepicker-container .add-event input,
.add-event-div #add-event-submit {
  background-color: #73c346;
  border: 1px solid #73c346;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin: 0 0 10px 2px;
  padding: 10px 35px;  
}



.ui-datepicker-group,
#ui-datepicker-div {
	background-color:white;
	border: 1px solid black;
	margin-bottom: 5px;
 	border-radius: 8px;
 }

#ui-datepicker-div {
	color: black;
	width: 200px;
}

#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next  {
	color:white;
	background-color: #73c346;
 	border-radius: 8px;
 	
}


#ui-datepicker-div .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-next span {
	color: white;
 	text-indent: 0px;
}

.ui-datepicker-group {
	width: 100%;
}
.datepicker-schedule .ui-datepicker-today a {
	color: #1AB7EA;
}
.datepicker-calendar .ui-datepicker-today a,
#ui-datepicker-div .ui-datepicker-today a {
	color: #73c346;
}

.datepicker-calendar .ui-datepicker-current-day a,
.datepicker-calendar .datepicker-controls a {
	background-color: #73c346;
}
.datepicker-schedule .ui-datepicker-current-day a,
.datepicker-schedule .datepicker-controls a  {
	background-color: #1AB7EA;
}
.datepicker-calendar .ui-datepicker-current-day a,
.datepicker-schedule .ui-datepicker-current-day a {
	color:white;
	border-radius: 6px;
}

.datepicker-calendar .datepicker-controls a:hover {
	background-color:#5f9235;
}
.datepicker-schedule .datepicker-controls a:hover {
	background-color:#096E8C;
}

.ui-datepicker-current {
	display:none;
}

.datepicker-controls {
	width: 196px;
	margin: 0 1px 3px 3px;
	padding-top: 5px;
	border-top: 1px solid black;
}
.datepicker-controls a {
	color: white;
	padding: 2px 5px;

	line-height: 22px;
	border-radius: 8px;
}
.datepicker-schedule .datepicker-controls a {
	border: 1px solid #1AB7EA;
}
.datepicker-calendar .datepicker-controls a {
	border: 1px solid #73c346;
	}

.datepicker-today {
	margin-left:38px;
}
.datepicker-next {
	margin-left:45px;

}



.calendar {
	margin-top:20px;
	margin-right:10px;
	padding-top:20px;
	/*border-top:2px solid #bbb;*/
}
.calendar .calendar-card-topbar {
  background-color: #5f9235;
}
.calendar .calendar-card {
  background-color: #73c346;
}

.calendar .calendar-card .time {
  font-size: 12px;
}

.calendar-card .tag {
  font-size: 12px;
  margin: 0px 0 0 0;
}

.wgxc-calendar .more input {
  background-color: #73c346;
  border: 1px solid #73c346;
}

.event {
  clear: left;
  margin: 0 0 40px;
  overflow: auto;
}

.event-info {
  /*border-bottom: 2px solid #bbb;*/
  border-top: 2px solid #bbb;
  margin: 0 22px 0 140px;
  padding: 10px 0 20px 0px;
}

.event-name img {
	margin:0 4px 0 4px;
	/*width:30px;*/
	height: 30px;
	vertical-align: middle;
}


.event-info-first,
.event-info-ongoing {
  border-top: 0px solid #bbb;
  padding-bottom: 5px;
}

.event-info-ongoing-last {
  /*border-bottom: 2px solid #bbb;*/
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.event-name {
  font-size:28px;
  line-height:32px;
  padding: 0px;
}
.event-name span,
.event-name a {
  cursor: pointer;
}

.item-dates strong,
.item-detail strong,
.event-dates strong {
	font-weight: 500;
	font-size: 18px;
	line-height:22px;
}
.event-location strong {
	font-weight: 500;
	font-size: 18px;
	line-height:22px;
}
.event-location p {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	line-height:22px;
	
}

.event-description {
  padding: 5px 0 0 0;
}

.event-description-short {
	display:block;
}

.event-description-long {
	display:none;
}

.event-description.current {
  display: block;
}
.event-category {
	margin-top:20px;
}
.event-category ul li {
	list-style-type: circle;
}

.ongoing-event {
	min-height: 90px; 
}
.ongoing-events h4 {
	font-size: 28px;
	line-height: 32px;
	margin:0 22px 10px 140px;
	border-bottom: 2px solid #bbb;
}



/* Calendar Page: Add Event Form */

.add-event-div {
	display:none;
}
.add-event-div label {
	margin-top:10px;
	display: block;
	font-size: 90%;
}

.add-event-div .help_text {
	margin-top:2px;
	font-size: 70%;
}

label.error {
	margin-top:2px;
	color: red;
}

#add-event-success h2 {
	margin-top:20px;
	color:#73c346;
}



/* Individual Item and Event Pages */

.wgxc-event h1.item-main,
.wgxc-item h1.item-main {
	margin-bottom: 5px;
	line-height: 100%;
}

.wgxc-item h1.item-main strong {
	font-weight:bold;
}

.wgxc-item h1.item-main img,
.wgxc-event h1.item-main img  {
	margin: 0 0 3px 5px;
	width: 34px;
	height: 34px;
	vertical-align: text-bottom;
}

.wgxc-item img,
.wgxc-event img {
	margin: 10px 0 10px 0;
}

.wgxc-item .description,
.wgxc-event .description {
	border-bottom: 2px solid black;
	padding-bottom:10px;
	
}

/* Archive File List at bottom of item and event pages */

.item-archive-section h2 span {
	/*color:#73c346;*/
	font-size: 14px;
	padding-left:10px;
	vertical-align: top;
}
.item-archive-entry-list {
	display: none;
	clear:both;
}	
.item-archive-entry {
	margin: 0 0 10px 20px;
}

.item-archive-entry p {
	font-size:90%;
	line-height: 95%;
	margin: 0px 0 3px 0;
}

