<div class="about page">
  <h1>ABOUT WAVE FARM</h1> 
 
  <p>Wave Farm is a non-profit arts organization driven by experimentation with broadcast media and the airwaves. A pioneer of the Transmission Arts genre, Wave Farm programs provide access to transmission technologies and support artists and organizations that engage with media as an art form.</p>

<h2><a href="/ta">Transmission Arts</a></h2> Wave Farm supports artistic projects that engage the electromagnetic spectrum, transmitted on the airwaves and through public presentation. The <a href="/ta/residencies">Wave Farm Artist Residency Program</a> supports visiting artists from around the globe; the <a href="/ta/research">Study Center</a> library features a specialized research collection; and, the <a href="/ta/archive">Transmission Arts Archive</a> presents a living genealogy of artists’ experiments with broadcast media and the airwaves. 
  <br />  
<h2><a href="/wgxc">Wave Farm Radio</a></h2> Wave Farm Radio encompasses many radio streams available at <a href="/listen" target="_new">wavefarm.org/listen</a> and the <a href="/appcredits">Wave Farm Radio App<a>. <a href="/wgxc">WGXC 90.7-FM: Radio for Open Ears</a> is a full-power, non-commercial, listener-supported station in New York’s Upper Hudson Valley operating out of studios in Hudson and the Wave Farm Study Center in Acra. Site-specific and interactive installations by artists sonify Wave Farm’s 29-acre property and feature live online audio streams. Wave Farm's <a href="/appcredits">Transmit Partners</a> program is a growing network of like-minded organizations and individuals around the globe.
  <br />  
<h2><a href="/mag">Grants</a></h2> 

Wave Farm in partnership with NYSCA EMF supports electronic media and film organizations, as well as individual artists, in all regions of New York State. For individual artists, the <a href="/mag">Media Arts Assistance Fund (MAAF)</a> provides support for the completion, as well as distribution and exhibition, of works in all genres of sound and moving image art, including emergent technology. For organizations, MAAF provides funds to hire outside consultants to support organizational and professional development, as well as supports peer-to-peer mentoring and convening and conference attendance. The <a href="http://nymediaartsmap.org" target="_new">NY Media Arts Map</a> identifies art and technology networks, services, and opportunities throughout the State.


 
<br />

<h1>LOCATIONS</h1> 
<h2>Wave Farm / WGXC Acra  <br />5662 Route 23, Acra, NY 12405 <a href="mailto:info@wavefarm.org">info@wavefarm.org</a>  (518) 622-2598 <br>
  (Mailing address: PO Box 13, Acra, NY 12405) </h2> 
<img src="https://data.wavefarm.org/r/b5/vp/s6/wavefarm_studycenter.jpg" width="800">
<p>Hours: Wave Farm is open by appointment year-round. Click for <a href="/map">Property Map and Video Tours.</a></p>

  <p>Our organizational headquarters, the Wave Farm Study Center (Acra, NY) is home to an artist residency program, research library, site-specific installations by collaborating artists, Standing Wave Radio 1620-AM and WGXC 90.7-FM's Acra Studio.</p>

<a id="locations"></a> <h2> <p>Directions to
  Wave Farm / WGXC Acra<br> 5662 Route 23, Acra, NY 12405 info@wavefarm.org (518) 622-2598</h2>
From the New York State Thruway (I-87): Take Exit 21 (Catskill/Cairo). Turn left at the stoplight after the toll booth. Follow ramp right toward Cairo. Continue on Route 23 West for approximately 12 minutes. 
<em>(Or... From the Rip Van Winkle Bridge: Heading west, cross the bridge, and continue on Route 23 West for approximately 15 minutes.)</em> When the road forks with 145, bear left (toward Windham) continuing on Route 23 West. Go straight through the stop sign following the fork. From the stop sign, Wave Farm's entrance is 3.6 miles on the right. The entrance is a black top driveway (across from a bright blue house); you will see a rust colored wooden wall with a Wave Farm sign (as pictured). Shortly after turning in, turn right down a stone driveway which leads to the Study Center.</p>
  <p><img src="https://data.wavefarm.org/20160922093026/WaveFarm_Entrance_Signage.png" width="800"></p>

<h2>WGXC Hudson<br />  369 Warren St. (enter on 4th) Hudson, NY 12534 <a href="mailto:info@wgxc.org">info@wgxc.org</a> (518) 697-7400 </h2> 
  <p><img src="https://data.wavefarm.org/20180402154200/WGXC_369Warren_PhotoAlannaMedlock.jpg" width="800"></p>

<p>Hours: The studio is open to the public Monday - Friday, 10 a.m. - 6 p.m.<br> WGXC Hudson is the main studio for Wave Farm's WGXC 90.7-FM.</p>
  
  
<a id="staff"></a><h1>STAFF</h1> 

  <a href="mailto:galen@wavefarm.org">Galen Joseph-Hunter</a>, Executive Director<br />
      <a href="mailto:tech@wavefarm.org">Jen Kutler</a>, Technical Associate<br />
    <a href="mailto:tom@wavefarm.org">Tom Roe</a>, Artistic Director<br />
    <a href="mailto:lynn@wgxc.org">Lynn Sloneker</a>, WGXC Station Manager / Managing News Editor<br />
    <a href="mailto:neva@wgxc.org">Neva Wartell</a>, WGXC Program Schedule Assistant 

 <!-- <h1>FELLOWS</h1>
  <p>
    <a href="mailto:mag@wavefarm.org">Becca Van Kollenburg</a>, Administrative Fellow
</p>
  -->
  
  <h1>CONSULTANTS</h1>
  <p>
    <a href="http://www.discount-legal.com/about-us.html" target="_blank">Michael Couzens and Alan Korn</a>, Broadcast Legal Counsel<br />

    <a href="http://www.fusionlab.com/" target="_blank">FusionLab</a>, Design<br />
    <b>Andy Gunn</b>, Radio Engineer<br />
    <a href="https://www.tflcpa.com/" target="_blank">Thomas Lindgren</a>, CPA<br />
    <a href="http://www.liveatc.net" target="_blank">Dave Pascoe (LiveATC.net)</a>, Audio Streaming<br />
    <a href="http://supercosm.com/" target="_blank">Supercosm</a>, Site Developer<br />
</p>
<p>Wave Farm would also like to acknowledge: valuable strategic planning assistance from Doug Sauer and the New York Council of Non-Profits (NYCON); significant pro bono legal counsel from the firms of Sidley & Austin, Proskauer, and Kramer Levin; and extraordinary in-kind site development by Sean Fern from 2004 to 2017.
</p>
  
  <h1>BOARD OF DIRECTORS</h1> 

<p>Maximilian Goldfarb, President<br />
  <font color="#999999">Assistant Professor, University at Buffalo, State University of New York</font></p>
   <p>Laura Kuhn, Treasurer<br />
  <font color="#999999">Director, The John Cage Trust</font></p>
 <p>Anna Friz, Secretary<br />
  <font color="#999999">Assistant Professor Film & Digital Media, University of California Santa Cruz</font></p>
 <p>John Anderson<br />
  <font color="#999999">Founder, diymedia.net</font></p>  
<p>Iliya Fridman<br />
  <font color="#999999">Director, Fridman Gallery; Managing Partner, Fridman Law Group</font></p>
<p>Eliel Mamousette<br />
  <font color="#999999">Chief Technology Officer, Emerging Artist Network</font></p>
 
  <p>Galen Joseph-Hunter, Ex-officio<br />
   <font color="#999999">Executive Director, Wave Farm</font></p>
    
  <h1>ADVISORS</h1>
  
  <h2>WGXC COMMUNITY ADVISORY COUNCIL</h2>
  <p>
The WGXC Community Advisory Council is comprised of volunteers that serve on WGXC's Volunteer Advisory Committees. Management strives for the Community Advisory Council to reflect the diversity of potential listeners served within the WGXC 90.7-FM listening area. Members offer a representative voice of the community and provide active participation on at least one, and no more than two, of the Volunteer Advisory Committees of Fundraising, Outreach, Programming, and Policy. </p>
 <!-- <h2>WAVE FARM RADIO ART PROGRAMMING COMMITTEE</h2>
  <p>This advisory committee supports Wave Farm's Artistic Director in making programming decisions. Membership is comprised of international and local individuals that have expertise and involvement relating to the Wave Farm Radio Art online station, including Transmission Arts and Experimental Sound programs airing on WGXC (Saturdays and midnight - 6 a.m., daily). The Artistic Director engages committee members as a group or individually, depending on the issues at hand, and reports on committee meetings to the Executive Director and the Board of Directors.</p> -->

 <a id="history"></a> <h1>HISTORY</h1>
  <p>
  Wave Farm began in March 1997, as a microcasting collective in Brooklyn, NY called free103point9. free103point9 was an active participant in the U.S. microradio movement, an activist and advocacy effort that helped create this country’s low-power FM radio service, which provides a licensing opportunity for small broadcasters operating transmitters of 100 watts or less. 
  </p><p>
  From 1997 to 2004 free103point9 ran a venue for performance and experimental sound in South Williamsburg, Brooklyn. The “free103point9 Project Space” was home to a lively roster of artists working in noise, free jazz, electronic composition, and other experimental fringe genres. Many of these artists encountered microradio for the first time through free103point9. As a result, a local and international community of artists started to think conceptually about the transmission spectrum as a creative medium, becoming invested in a “hands-on” relationship with the airwaves. free103point9 launched an online radio station in 2001 engaging new and international audiences, and embarked on a series of radio experiments, projects, and performances internationally. 
  </p><p>
  That airwaves are public space and should therefore be accessible by the public, and that airwaves should be available for creative purposes, experimentation, and risk-taking is the ideology that has driven free103point9’s activities since its inception. In 2002-2003 free103point9 incorporated and secured 501(c)3 non-profit status, evolving from an artist collective to an arts organization whose mission is to define and cultivate Transmission Arts. 
  </p><p>
  In 2005, free103point9 expanded activities to Greene County, launching an artist-residency program, outdoor performance series, and installation park on a 30-acre property called Wave Farm. In 2006, free103point9 broke ground on a dedicated facility called the Wave Farm Study Center. 
  </p><p>
  free103point9 submitted an application to the FCC in October 2007 during a rare filing window for full-power non-commercial educational FM radio stations. A year later, on October 17, 2008, free103point9 received a construction permit to build a new FM station. The FM station was planned to serve both sides of the organization's roots: radio art and activism on the airwaves.
  </p><p>
  In June 2008, a Council of local advisors was established to guide the development of the station with regards to serving Greene and Columbia counties’ local community. Council members provided critical input in naming the station, identifying its guiding values, and getting 90.7-FM off the ground and on the airwaves. 
  </p><p>
  In Fiscal Year 2009, free103point9 became a regrant partner of the <a href="http://www.nysca.org/" target="_blank">New York State Council on the Arts</a>, Electronic Media and Film Program, administering the distribution of grant funds, ranging from 500 to 10,000, to dozens of New York State individual artists and organizations annually. 
  </p><p>
  In September 2010, WGXC partnered with the national radio advocacy organization <a href="http://www.prometheusradio.org/" target="_blank">Prometheus Radio Project</a> to host a first full-power FM barnraising in Hudson. The conference included three days of hands-on workshops, presentations, and performances, during which participants collaborated to build WGXC’s Hudson studio and help prepare the station for its FM signal launch. 
  </p><p>
  On February 26, 2011, WGXC went live on air at 90.7-FM. WGXC celebrated this momentous occasion with a live broadcast event at the <a href="http://www.catskillcommunitycenter.org/" target="_blank">Catskill Community Center</a>, which featured many of the station’s first on-air programmers. 
  </p><p>
  In June 2012, the Wave Farm Study Center opened its doors to the public, reigniting free103point9 programs, such as the Wave Farm Residency Program, the Transmission Arts Archive, and Wave Farm Radio that had become somewhat dormant while organizational resources were focused on launching WGXC. 
  </p><p> 
  From 2013 to 2015, as part of an organization-wide strategic planning process, free103point9 began using Wave Farm as its organizational name and identity. And in 2016, Wave Farm's WGXC published <a href="/wgxc/about">A Manifesto for Participatory Radio,</a> which articulates the station's key belief system: Community, Creative Use of the Airwaves; Hands-on, two-way radio.</p>

<p>Wave Farm celebrated its 20th Anniversary year throughout 2017 with a series of very special events and live durational broadcasts including, <a href="calendar/marmc0">Wave Farm Pirate Radio Reunion Cruise</a> on Classic Harbor Line's Manhattan II yacht, March 7, 2017; <a href="/calendar/8d72rd">Audio Buffet (For Pauline Oliveros)</a>, July 22, 2017 at Wave Farm; and <a href="/calendar/h1vv4x">Wave Farm 1997-2017: Twenty Performances for Twenty Years</a>, October 21, 2017 at the Fridman Gallery in New York City.</p>
  <p>At the end of 2018, Wave Farm adopted a new WGXC station slogan, "Radio for Open Ears," in conjunction with changes to the 90.7-FM program schedule. WGXC's new schedule commits increased daytime listening hours to sound art and experimental music. Local interview programs are brought to the foreground during expanded morning and afternoon drive time programs, and evening programming features live performance from near and far.</p>
  <h1>ORGANIZATIONAL CHARTS</h1>
<a href="https://data.wavefarm.org/20181207124858/ProgramsActivitiesChart_20190101.png" target="_blank"><img src="https://data.wavefarm.org/20181207124858/ProgramsActivitiesChart_20190101.png"></a><br />
<br>
<hr>
<br>
<a href="https://data.wavefarm.org/20181204183713/PersonnelChart_20190101.png" target="_blank"><img src="https://data.wavefarm.org/20181204183713/PersonnelChart_20190101.png"></a><br />

  <h1>FUNDERS</h1>
  <p>
  Wave Farm programs are made possible, in part, by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature; the National Endowment for the Arts; The Andy Warhol Foundation for the Visual Arts; the Greene County Legislature through the County Initiative Program, administered in Greene County by the Greene County Council on the Arts; the Alexander and Marjorie Hover Foundation; the Foundation for Contemporary Arts; the T. Backer Fund; the Joseph Family Charitable Trust; and hundreds of other generous individual donors. 
  </p>
    <p> <a href="http://www.nysca.org" target="_blank"><img src="https://data.wavefarm.org/r/15/wh/a9/NYSCA-Logo---Black.gif" height="75"></a> 	&nbsp;	&nbsp; 	&nbsp;	&nbsp;	&nbsp;	&nbsp; <a href="http://arts.gov" target="_blank"><img src="https://data.wavefarm.org/20160819110440/nea-lockup-A.png" height="75"></a></p>

</div>
