<div class="about page">
  <h1>ABOUT</h1>
  
<h2>Mission</h2> 
<p>
Wave Farm is a non-profit arts organization that celebrates creative and community use of media and the airwaves. Our programs provide access to transmission technologies and support artists and organizations that engage with media as an art form. Wave Farm's major activities include: 
</p><p>
Wave Farm Artist Residencies and the Transmission Arts Archive: an international visiting artist program focused on Transmission Art, and an Online Archive presenting a living genealogy of artists’ experiments with broadcast media and the airwaves, featuring a 24/7 Online Radio feed. 
</p><p>
WGXC (90.7-FM): a creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement. 
</p><p>
Media Arts Grants: a Regrant Partnership with NYSCA, Electronic Media and Film, The Media Arts Assistance Fund supports electronic media and film organizations, as well as individual artists, in all regions of New York State.
</p>
<h2>Staff</h2>
<p>
Katy Donnelly [link to katy@wavefarm.org], WGXC Program Director<br />
Galen Joseph-Hunter [link to galen@wavefarm.org], Executive Director<br />
Jessica Puglisi [link to jess@wavefarm.org], WGXC Outreach Coordinator<br />
Tom Roe [link to tom@wavefarm.org], Artistic Director<br />
Lynn Sloneker [link to lynn@wavefarm.org], WGXC Station Manager / Managing News Editor<br />
</p>
<h2>Board of Directors</h2>
<p>
Andy Gunn, President<br />
Field Engineer, Open Technology Institute at New America Foundation<br />
<br />
John Anderson, Vice-President<br />
Editor, diymedia.net Professor, Brooklyn College Department of Television and Radio<br />
<br />
Laura Kuhn, Treasurer<br />
Director, The John Cage Trust Treasurer<br />
<br />
Max Goldfarb, Secretary<br />
Artist, Educator Secretary<br />
<br />
Erin Donnelly<br />
Internships and Grants Administrator, NYU Steinhardt<br />
<br />
Galen Joseph-Hunter, Ex-officio<br />
Executive Director, Wave Farm
</p>
<h2>Advisors</h2>
<p>
A group appointed by the Wave Farm Board of Directors, the WGXC Community Council serves in a significant advisory capacity to WGXC station management. The Council represents and reflects both the diversity of potential listeners served within the WGXC 90.7-FM coverage map, as well as the station’s active local constituents. In addition to representation, the Council provides fundraising leadership and support to enable the station sustainability and growth. Members serve on at least one (and no more than two) of the following committees: Fundraising, Outreach, Programming, and Policy and Internal Affairs. Council members include: 
</p><p>
Pamela Badila, Hudson<br />
Chris Bishop, Ghent<br />
Max Goldfarb, Hudson<br />
Debra Kamecke, Catskill<br />
Matt Bua, Catskill<br />
Sam Sebren, Athens<br />
Alan Skerrett, Valatie<br />
Hudson Talbott, Cairo<br />
Kaya Weidman, Germantown<br />
Rebecca Wolff, Hudson
</p>
<h2>Funders</h2>
<p>
Wave Farm programs are made possible, in part, by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature; The Andy Warhol Foundation for the Visual Arts; the Greene County Legislature through the County Initiative Program, administered in Greene County by the Greene County Council on the Arts; the Alexander and Marjorie Hover Foundation; the Dyson Foundation; the T. Backer Fund; the Joseph Family Charitable Trust; and hundreds of other generous individual donors. 
</p>
</div>
