<div class="about page">
  <h1>ABOUT WAVE FARM</h1> 

  <p>Wave Farm is a non-profit arts organization that celebrates creative and community use of media and the airwaves. Our programs provide access to transmission technologies and support artists and organizations that engage with media as an art form. Wave Farm's major activities include:</p>
  <br />
<h2><a href="http://transmissionarts.org">Transmission Arts</a></h2> Wave Farm Artist Residencies is an international visiting artist program focused on Transmission Art, and the Transmission Arts Archive presents a living genealogy of artists’ experiments with broadcast media and the airwaves, featuring a 24/7 Online Radio feed.
  <br />  <br />
<h2><a href="http://wgxc.org">WGXC (90.7-FM)</a></h2>  a creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement.
  <br />  <br />
<h2><a href="http://mediaartsgrants.org">Media Arts Grants</a></h2> a Regrant Partnership with NYSCA, Electronic Media and Film, The Media Arts Assistance Fund supports electronic media and film organizations, as well as individual artists, in all regions of New York State.
</p>
<p><font color="#999999">Wave Farm is an assumed name for free103point9 Inc.</font></p>
  
<h1>STAFF</h1> 

  <a href="mailto:galen@wavefarm.org">Galen Joseph-Hunter</a>, Executive Director<br />
  <a href="mailto:tom@wavefarm.org">Tom Roe</a>, Artistic Director<br />
  <a href="">Coming soon</a>, Media Arts Associate<br />

  
<h2>WGXC PROGRAM DIVISION STAFF</h2>
  <p>
    <a href="mailto:katy@wgxc.org">Katy Donnelly</a>, Program Director<br />
    <a href="mailto:jess@wgxc.org">Jessica Puglisi</a>, Outreach Coordinator<br />
    <a href="mailto:lynn@wgxc.org">Lynn Sloneker</a>, Station Manager / Managing News Editor<br />
  </p>
  
  
  <h1>CONSULTANTS</h1>
  <p>
    <a href="http://www.discount-legal.com/about-us.html" target="_blank">Michael Couzens and Alan Korn</a>, Broadcast Legal Counsel<br />
    <a href="//grrawr.com" target="_blank">Gabriel Farrell</a>, Site Developer<br />
    <a href="http://empirecpa.com/" target="_blank">Tom Fucito</a>, CPA<br />
</p>
<p>Wave Farm would also like to acknowledge significant pro bono legal counsel from the firms of Sidley & Austin, Proskauer, and Kramer Levin.</p>
  
  <h1>BOARD OF DIRECTORS</h1> 

  <p>Andy Gunn, President<br />
  <font color="#999999">Field Engineer, Open Technology Institute at New America Foundation</font></p>
  <p>John Anderson, Vice-President<br />
  <font color="#999999">Editor, diymedia.net Professor, Brooklyn College Department of Television and Radio</font></p>
  <p>Laura Kuhn, Treasurer<br />
  <font color="#999999">Director, The John Cage Trust</font></p>
  <p>Max Goldfarb, Secretary<br />
  <font color="#999999">Artist, Educator</font></p>
  <p>Erin Donnelly<br />
  <font color="#999999">Internships and Grants Administrator, NYU Steinhardt</font></p>
  <p>Galen Joseph-Hunter, Ex-officio<br />
   <font color="#999999">Executive Director, Wave Farm</font></p>
    
  <h1>ADVISORS</h1>
  <p>
  A group appointed by the Wave Farm Board of Directors, the WGXC Community Council serves in a significant advisory capacity to WGXC station management. The Council represents and reflects both the diversity of potential listeners served within the WGXC 90.7-FM coverage map, as well as the station’s active local constituents. In addition to representation, the Council provides fundraising leadership and support to enable the station's sustainability and growth. Members serve on at least one (and no more than two) of the following committees: Fundraising, Outreach, Programming, and Policy and Internal Affairs. 
</p><p>
Current Council members include: <br />
 
  Pamela Badila<font color="#999999">, Hudson</font><br />
  Chris Bishop<font color="#999999">, Ghent</font><br />
  Max Goldfarb<font color="#999999">, Hudson</font><br />
  Debra Kamecke<font color="#999999">, Catskill</font><br />
  Matt Bua<font color="#999999">, Catskill</font><br />
  Sam Sebren<font color="#999999">, Athens</font><br />
  Alan Skerrett<font color="#999999">, Valatie</font><br />
  Hudson Talbott<font color="#999999">, Cairo</font><br />
  Kaya Weidman<font color="#999999">, Germantown</font><br />
  Rebecca Wolff<font color="#999999">, Hudson</font>
  </p>

  <h1>History</h1>
  <p>
  free103point9 was originally founded in March 1997, as a microcasting collective in Brooklyn, NY. free103point9 was an active participant in the U.S. microradio movement, an activist and advocacy effort that helped create this country’s first Low Power FM radio service, which provides a licensing opportunity for small broadcasters operating transmitters of 100 watts or less. 
  </p><p>
  In the early 2000s free103point9 ran a venue for performance and experimental sound in South Williamsburg, Brooklyn. The “free103point9 Project Space” was home to a lively roster of artists working in noise, free jazz, electronic composition, and other experimental fringe genres. Many of these artists encountered microradio for the first time through free103point9. As a result, a local and international community of artists started to think conceptually about the transmission spectrum as a creative medium, becoming invested in a “hands-on” relationship with the airwaves. free103point9 launched an online radio station in 2001 engaging new and international audiences. 
  </p><p>
  That airwaves are public space and should therefore be accessible by the public, and that airwaves should be available for creative purposes, experimentation, and risk-taking is the ideology that has driven free103point9’s activities since its inception. In 2002-2003 free103point9 incorporated and secured 501(c)3 non-profit status, evolving from an artist collective to an arts organization whose mission is to define and cultivate Transmission Arts. 
  </p><p>
  In 2005, free103point9 expanded activities to Greene County, launching an artist-residency program, outdoor performance series, and installation park on a 30-acre property called Wave Farm. In 2006, free103point9 broke ground on a dedicated facility called the Wave Farm Study Center. 
  </p><p>
  free103point9 submitted an application to the FCC in October 2007 during a rare filing window for full-power non-commercial educational FM radio stations. A year later, on October 17, 2008, free103point9 received a construction permit to build a new FM station. 
  </p><p>
  In June 2008, a Council of local advisors was established to guide the development of the station with regards to serving Greene and Columbia counties’ local community. Council members provided critical input in naming the station, identifying its guiding mission, and getting 90.7 FM off the ground and on the airwaves. 
  </p><p>
  In Fiscal Year 2009, free103point9 became a regrant partner of the New York State Council on the Arts, Electronic Media and Film, administering funds to New York State individual artists and organizations. 
  </p><p>
  In September 2010, WGXC partnered with the national radio advocacy organization Prometheus Radio Project to host its first full-power FM Barnraising in Hudson. The conference included three days of hands-on workshops, presentations, and performances, during which participants collaborated to build WGXC’s Hudson studio and help prepare the station for its FM signal launch. 
  </p><p>
  On February 26, 2011, WGXC went live on air at 90.7 FM. WGXC celebrated this momentous occasion with a live broadcast event at the Catskill Community Center, which featured many of the station’s first on-air programmers. The WGXC Catskill Studio began broadcasting in September 2011. 
  </p><p>
  In June 2012, the Wave Farm Study Center opened its doors to the public, reigniting free103point9 programs, such as Artists Residencies, the Transmission Arts Archive, and Online Radio that had become somewhat dormant while organizational resources were focused on launching WGXC. The Study Center is home to an international Artist-in-residency Program, a library focused on the transmission arts, WGXC’s Acra studio, and organizational administrative offices. 
  </p><p>
  In June 2013, as part of an organization-wide strategic planning process, Wave Farm was adopted as a commonly used organizational assumed name. </p>
  </p>
  <h1>Organizational Charts</h1>
<a href="http://data.free103point9.org/r/0x/mf/g6/OrgChart_Programs.jpg"target="_blank">Program Chart</a><br />
  <a href="http://data.free103point9.org/r/bp/tk/w8/OrgChart_Personnel.jpg" target="_blank">Personnel Chart</a>
  </p>
  <h1>Funders</h1>
  <p>
  Wave Farm programs are made possible, in part, by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature; The Andy Warhol Foundation for the Visual Arts; the Greene County Legislature through the County Initiative Program, administered in Greene County by the Greene County Council on the Arts; the Alexander and Marjorie Hover Foundation; the Dyson Foundation; the T. Backer Fund; the Joseph Family Charitable Trust; and hundreds of other generous individual donors. 
  </p>
</div>
