<!-- png file should be 285 wide and at least 285 long with text -->

<div class="announce-handle">· · DEAD AIR PLEDGE DRIVE · · </div>

<div style="padding: 0px;background-color:black;"  class="announce-container">
	<a href="https://donatenow.networkforgood.org/wgxc" target="_new">
		<img src="https://data.wavefarm.org/r/n4/yw/kk/PledgeDriveSlider_DeadAir_text.png" alt="DEAD AIR PLEDGE DRIVE"/>
	</a>

</div>

<!-- png file should be 285 wide and at least 285 long with text -->
<!--
<div class="announce-handle">· · DEAD AIR PLEDGE DRIVE · ·</div>
<div class="announce-container">
	<img src="/images/announce/pledge_header.png" alt="RADIO ACTIVE PLEDGE DRIVE"/>
	
	<p class="announce-strong">Thank you! We did it!</p>
	<p class="announce-text">WGXC made its $15,000 goal.</p>
	
	<div class="announce-buttons"><a href="/wgxc/donate"><img src="/images/announce/pledge_donate_now.png" alt="Donate Now" /></a></div>
	
</div> -->
