<div class="announce-handle">· PLEDGE DRIVE! · (518) 697-7400 ·</div>
<div class="announce-container">
<a href="/wgxc/donate">	<img src="https://data.wavefarm.org/20181009130556/PullOverSliderTop_201810.png" alt="PULL OVER PLEDGE DRIVE"/>
	<p class="announce-strong">Will you join us?<br>
		October 10 - 23. 
	</p>
	<p class="announce-strong">3 out of 250 <br>Sustaining Supporters!</p>
	<p class="announce-text">WGXC seeks to welcome 250 new monthly sustaining supporters to ensure the station's longevity.<br><br>
To pledge, call<br> (518)697-7400 or click</p></a>
	<div class="announce-buttons" ><a href="/wgxc/donate"><img src="https://data.wavefarm.org/20161019120317/DonateNowButton.png" alt="Donate Now" />
	</a>
</div>

<!--
<div class="announce-handle">· WAVE FARM RADIO APP IS HERE ·</div>
<div style="padding: 0px;background-color:black;"  class="announce-container">
	<a href="https://wavefarm.org/appcredits" target="_new">
		<img src="https://data.wavefarm.org/20180129200044/WFRApp_Slider.png" alt="WAVE FARM RADIO APP"/>
	</a>
</div> 
	
	

FOR REFERENCE ONLY
TYPE 1 = the sort that does not need any text updates. 
GRAPHICS NEEDED for this are:
PNG file with text included
72 dpi
280 pixels wide (NOTE left margin of 35 px necessary)
280 pixels tall (or more)
CODE FOR TYPE 1 =
<div class="announce-handle">· WAVE FARM RADIO APP IS HERE ·</div>
<div style="padding: 0px;background-color:black;"  class="announce-container">
	<a href="https://wavefarm.org/appcredits" target="_new">
		<img src="https://data.wavefarm.org/20180129200044/WFRApp_Slider.png" alt="WAVE FARM RADIO APP"/>
	</a>
</div> 
TYPE 2 = the sort that DOES need text updates i.e. pledge drives.
GRAPHICS NEEDED for this are:
PNG file HEADER with Transparent Background
72 dpi
280 pixels wide
80 pixels tall 
Plus: six-digit color for background.  
CODE FOR TYPE 2 =
<div class="announce-handle">· PLEDGE DRIVE!  (518) 697-7400 ·</div>
<div class="announce-container">
<a href="/wgxc/donate">	<img src="https://data.wavefarm.org/20160601135142/ATN_SliderHeader.png" alt="ALL TOGETHER NOW! PLEDGE DRIVE"/>
	<p class="announce-strong">THANK YOU !!!!</p>
	<p></p></a>
	<p class="announce-text">WGXC has raised $20,000 of our $20,000 goal.<br><br>
To pledge, call<br> (518)697-7400 or click</p>
	<div class="announce-buttons" ><a href="/wgxc/donate"><img src="https://data.wavefarm.org/20161019120317/DonateNowButton.png" alt="Donate Now" />
	</a>
</div>
**USE CAUTION WITH THIS PART. GALEN SHOULD HANDLE IF AT ALL POSSIBLE
BACKGROUND COLOR AND TEXT COLOR CONTROLLED at https://github.com/wavefarm/site/edit/master/static/style.css
.announce-container {
  background: #31a9f6;
  color: #ffffff;
  margin: 10px 0;
  padding: 10px 5px 10px 35px;
}
.announce-strong {
	color: #ffffff;
	font-size: 120%;
	line-height: 120%;
	font-weight: 800;
	margin:20px 0 10px 0;
}

-->
