
<div class="announce-handle">· · HIGH FIVE PLEDGE DRIVE · · </div>
<div class="announce-container">
	<img src="https://data.wavefarm.org/20160210124220/HighFiveHeader.png" alt="HIGH-FIVE PLEDGE DRIVE"/>

	<p class="announce-strong">WGXC has raised <br>$165 of our $15,000 goal.</p>
	
	<div class="announce-buttons" ><a href="/wgxc/donate"><img src="https://data.wavefarm.org/20160210131735/DonateNow_NoShadow.png" alt="Donate Now" /></a></div>
<br><br>
		<img src="https://data.wavefarm.org/20160210135706/Extravaganza2.png" alt="EXTRAVAGANZA"/>
	<p class="announce-strong">Feb. 26, 2016<br>365 Main St. Catskill</p>

		
		<div class="announce-buttons"><a href="http://wgxc5thanniversary.brownpapertickets.com/" target="_new"><img src="https://data.wavefarm.org/20160210131754/BuyTickets_NoShadow.png" alt="FIFTH ANNIVERSARY EXTRAVAGANZA" /></a></div>

</div> 



<!--Type 1 is the sort that does not need any text updates. 
Specs for this are:
PNG file with text included
72 dpi
280 pixels wide
280 pixels tall (or more)


<div class="announce-handle">· · DEAD AIR PLEDGE DRIVE · · </div>

<div style="padding: 0px;background-color:black;"  class="announce-container">
	<a href="https://donatenow.networkforgood.org/wgxc" target="_new">
		<img src="https://data.wavefarm.org/r/n4/yw/kk/PledgeDriveSlider_DeadAir_text.png" alt="DEAD AIR PLEDGE DRIVE"/>
	</a>

</div>  -->

<!--
Type 2 is for pledge drives or other situations that need constant text updates. 
Specs for this are:
PNG file HEADER with Transparent Background
72 dpi
280 pixels wide
80 pixels tall 
Plus: six-digit color for background.

<div class="announce-handle">· · DEAD AIR PLEDGE DRIVE · ·</div>
<div class="announce-container">
	<img src="https://data.wavefarm.org/r/d7/sz/cv/DeadAirHeaderSlider.png" alt="DEAD AIR PLEDGE DRIVE"/>
	
	<p class="announce-strong">Starts Oct. 15! <br>Help keep creative community radio alive and well!</p>

	<p class="announce-text">WGXC has raised $15,000 of our $15,000 goal.</p>
	
	<div class="announce-buttons"><a href="/wgxc/donate"><img src="https://data.wavefarm.org/r/sz/fr/7k/DonateNowButton.png" alt="Donate Now" /></a></div>
	
</div> 

 -->

