<div class="about page">
  <h1>WAVE FARM APP</h1> 

  <p>The Wave Farm App 1.0 was programmed by <a href="http://www.supercosm.com/" target="_blank">Supercosm</a>, designed by <a href="http://www.fusionlab.com/" target="_blank">FusionLab</a>, and made possible, in part, by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature.
  </p>
  </p><p>
    <p> <a href="http://www.nysca.org" target="_blank"><img src="https://data.wavefarm.org/r/15/wh/a9/NYSCA-Logo---Black.gif" height="75"></a> 	&nbsp;	&nbsp; 	</p>

</div>



