<div class="about page">
 <h1>WAVE FARM RADIO APP</h1>
  <p><a href="https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8" target="_new"><img src="https://data.wavefarm.org/20180129181149/WaveFarmRadioAppImage.png"></a>
  </p>
  <h2>Listen live; explore the archives; transmit your own audio.</h2>
  <p>
   <a href="https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8" target="_new">https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8</a>
  </p><p>
The Wave Farm Radio app allows users to listen to live audio from any of the Wave Farm webstreams including WGXC 90.7-FM, Standing Wave Radio (formerly known as Wave Farm Radio), Quintron's "Weather Warlock," Zach Poff's "Pond Station," and other partner streams. Users may also create custom playlists from thousands of archived audio files. Wave Farm transmit partners and WGXC broadcast partners may now stream their own audio feeds from their iPhones and iPads (iOS 10.3 or better). An Android version of the App will be developed as soon as funding allows.</p>

 <p>
 <h2>Intitutional Transmit Partners</h2>
 <ul>Basilica Hudson (Hudson, NY)</ul>
 <ul>Experimental Intermedia (New York, NY)</ul>
 <ul>Fridman Gallery (New York, NY)</ul>
 <ul>HiLo (Catskill, NY)</ul>
 <ul>Roulette Intermedia (Brooklyn, NY)</ul>
 <ul>Town of Catksill (Catskill, NY)</ul>
 </p>

  <p><i>The Wave Farm App 1.0 was programmed by <a href="http://www.supercosm.com/" target="_blank">Supercosm</a>, designed by <a href="http://www.fusionlab.com/" target="_blank">FusionLab</a>, and made possible, in part, by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature.</i>
  </p>
  <br>
    <p> <a href="http://www.nysca.org" target="_blank"><img src="https://data.wavefarm.org/r/15/wh/a9/NYSCA-Logo---Black.gif" height="75"></a> 	&nbsp;	&nbsp; 	</p>

</div>



