<div class="about page">
 <h1>WAVE FARM RADIO APP</h1>
  <p><a href="https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8" target="_new"><img src="https://data.wavefarm.org/20180129181149/WaveFarmRadioAppImage.png"></a>
  </p>
  <h2>Listen live; explore the archives; transmit your own audio.</h2>
  <p>
   <a href="https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8" target="_new">https://itunes.apple.com/us/app/wave-farm-radio/id1284966744?ls=1&mt=8</a>
  </p><p>
The Wave Farm Radio app allows users to listen to live audio from any of the Wave Farm webstreams including WGXC 90.7-FM, Standing Wave Radio (formerly known as Wave Farm Radio), Quintron's "Weather Warlock," Zach Poff's "Pond Station," and other partner streams. Users may also create custom playlists from thousands of archived audio files. Wave Farm transmit partners and WGXC broadcast partners may now stream their own audio feeds from their iPhones and iPads (iOS 10.3 or better). An Android version of the App will be developed as soon as funding allows.</p>

 <p>
 <h2>Wave Farm Transmit Partners</h2>
 This is a growing list of institutional Wave Farm Transmit Partners who use the Wave Farm Radio app to transmit their own programming. Individuals are partners as well, but not listed here by name. Contact <a href="mailto:info@wavefarm.org">info@wavefarm.org</a> to learn more.
 </p><p>
 
  <li><a href="http://artomi.org/" target="_new">Art Omi</a> (Ghent, NY)</li>
 <li><a href="https://acousticecology.us/" target="_new">American Society of Acoustic Ecology</a> (U.S.A)</li>
 <li><a href="http://basilicahudson.org/" target="_new">Basilica Hudson</a> (Hudson, NY)</li>
  <li><a href="http://www.experimentalintermedia.org/" target="_new">Experimental Intermedia</a> (New York, NY)</li>
  <li><a href="http://www.fenceportal.org/" target="_new">Fence</a> (Albany, NY)</li>
  <li><a href="https://www.fridmangallery.com/" target="_new">Fridman Gallery</a> (New York, NY)</li>
 <li><a href="https://www.hilocatskill.com/" target="_new">HiLo</a> (Catskill, NY)</li>
   <li><a href="https://www.johncage.org/" target="_new">John Cage Trust</a> (Annandale-on-Hudson, NY)</li>
 <li><a href="https://www.olanna.org/" target="_new">Olana State Historic Site</a> (Hudson, NY)</li>
 <li><a href="http://www.prattsvilleart.org/" target="_new">Prattsville Art Center</a> (Prattsville, NY)</li>
 <li><a href="http://theradius.us/" target="_new">Radius</a> (Chicago, IL)</li>
 <li><a href="http://roulette.org/" target="_new">Roulette Intermedium</a> (Brooklyn, NY)</li>
   <li><a href="http://www.shortwaveology.net/" target="_new">Shortwaveology</a> (Brooklyn, NY)</li>
 <li><a href="http://www.townofcatskillny.gov/Public_Documents/index" target="_new">Town of Catksill</a> (Catskill, NY)</li>
   <li><a href="https://www.linkedin.com/in/dan-udell-30b96628" target="_new">Udell Communications</a> (Hudson, NY)</li>

 </p>

  <p><i>The Wave Farm App 1.0 was programmed by <a href="http://www.supercosm.com/" target="_blank">Supercosm</a>, designed by <a href="http://www.fusionlab.com/" target="_blank">FusionLab</a>, and made possible, in part, by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature.</i>
  </p>
  <br>
    <p> <a href="http://www.nysca.org" target="_blank"><img src="https://data.wavefarm.org/r/15/wh/a9/NYSCA-Logo---Black.gif" height="75"></a> 	&nbsp;	&nbsp; 	</p>

</div>



