<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page calendar-page">
	
	<div class="datepicker-container">{{> datepicker}}</div>
		
	<div class="calendar-container">
		
		<div class="add-event-div">		
			<h2>Add a WGXC/Transmission Arts Calendar Event</h2>		
			<div class="add-event-form-div">{{> addEventForm}}</div>
		</div>
		<!--  success/error messages only shown after form submission -->			
		<div id="add-event-success" style="display:none;">
			<h2>Thank you for your submission</h2>
			<p>Wave Farm staff will review and and post your event soon.</p>
		</div>
		
						
		<h1>Wave Farm Event Calendar</h1>
		<p>The Wave Farm Community Events Calendar features events taking place in and around the Wave Farm Radio listening area. Add your own event by clicking on the "Add an Event" button above and share your event details online and on-air. </p>
		<h2>CLICK ON AN EVENT BELOW FOR MORE INFO</h2>
					  
		<!-- Calendar HTML will be filled in server-side -->
		<!-- Calendar data will be filled in client-side -->
		<div class="calendar-div">{{> calendar}}</div>
		  
	</div>
</div>
