<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us2.list-manage.com","uuid":"9d607a40fa0db412d064dbd33","lid":"ebb37c6e9b"}) })</script>

<div class="contact page">
  <h1>CONTACT</h1>
  
      <p>Please reference the <a href="about">About Page</a> for individual staff member email addresses.</p>

  <h2>WAVE FARM + WGXC ACRA STUDIO</h2>
  <p>5662 Route 23 Acra, NY 12405<br />
    (518) 622-2598<br />
    Public Hours: year-round by appointment.<br />
    Skype: WaveFarm<br />
     <a href="mailto:info@wavefarm.org">info@wavefarm.org</a>
    </p>
   <h2>WGXC FEEDBACK LINE</h2>
  <p>WGXC welcomes audio responses from listeners. <br />
    Call (518) 291-WGXC (9492) and leave up to a 3-minute message for airplay.
</p>
  <h2>WGXC HUDSON STUDIO</h2>
  <p>369 Warren St. (Enter on 4th St.) Hudson, NY 12534<br />
    (518) 697-7400 Office line<br />
    (518) 828-0290 On-air line<br />
    Public Hours: 10 a.m. - 6 p.m., Mon.-Fri.<br />
    Skype: WGXC90.7<br />
    <a href="mailto:info@wgxc.org">info@wgxc.org</a></p>
    
    <h2>MORE WGXC 90.7-FM CONTACTS</h2>
    <p><a href="mailto:feedback@wgxc.org">feedback@wgxc.org</a><br />
   <a href="mailto:news@wgxc.org">news@wgxc.org</a><br />
    <a href="mailto:apply@wgxc.org">apply@wgxc.org</a><br />
    <a href="/wgxc/calendar">Add an event to the WGXC Community Calendar.</a></p>

</div>
