<div class="contact page">
  <h1>CONTACT</h1>
  
      <p>Please reference the <a href="about">About Page</a> for individual staff member email addresses.</p>

  <h2>WAVE FARM + WGXC ACRA STUDIO</h2>
  <p>5662 Route 23 Acra, NY 12405<br />
    (518) 622-2598<br />
    Public Hours: year-round by appointment.<br />
    Skype: WaveFarm<br />
     <a href="mailto:info@wavefarm.org">info@wavefarm.org</a>
    </p>
  <h2>WGXC HUDSON STUDIO</h2>
  <p>704 Columbia St. 2nd Fl. Hudson, NY 12534<br />
    (518) 697-7400 Office line<br />
    (518) 828-0290 On-air line<br />
    Public Hours: 10 a.m. - 6 p.m., Mon.-Fri.<br />
    Skype: WGXC90.7<br />
    <a href="mailto:info@wgxc.org">info@wgxc.org</a></p>
    
    <h2>WGXC 90.7-FM FEEDBACK / NEWS TIPS / PROGRAM APPLICATION </h2>
    <p><a href="mailto:feedback@wgxc.org">feedback@wgxc.org</a><br />
   <a href="mailto:news@wgxc.org">news@wgxc.org</a><br />
    <a href="mailto:apply@wgxc.org">apply@wgxc.org</a></p>

</div>
