<div class="contact page">
  <h1>CONTACT</h1>
  
      <p>Please reference the <a href="about">About Page</a> for individual staff member email addresses.</p>

  <h2>WAVE FARM + WGXC ACRA STUDIO</h2>
  <p>5662 Route 23 Acra, NY 12405<br>
    (518) 622-2598<br>
     <a href="mailto:info@wavefarm.org">info@wavefarm.org</a><br />
    Skype: WaveFarm</p>
  <h2>WGXC HUDSON STUDIO</h2>
  <p>704 Columbia St. 2nd Fl. Hudson, NY 12534<br>
    (518) 697-7400 Office line<br>
    (518) 828-0290 On-air line<br>
    Office Hours: 10 a.m. - 6 p.m., Mon.-Fri. <br>
    <a href="mailto:info@wgxc.org">info@wgxc.org</a><br />
    Skype: WGXC90.7</p>
  <h2>WGXC CATSKILL STUDIO</h2>
  <p>at the Catskill Community Center 344 Main St. Catskill, NY 12414<br>
    (518) 291-WGXC <br>
    Skype: WGXCFM</p>
    
</div>
