		<form>
		  <div class="add-event">
		    <input id="add-event-button" name="add-event" type="button" value="Add An Event">
		  </div>
		</form>
	
		<div class="datepicker-controls">
			<a class="datepicker-prev" href="javascript:$('.ui-datepicker-prev').click();">&lt;</a>
			<a class="datepicker-today" href="javascript:$('.ui-datepicker-current').click();javascript:$('.ui-datepicker-today a').click();">TODAY</a>
			<a class="datepicker-next" href="javascript:$('.ui-datepicker-next').click();">&gt;</a>
		</div>
		<div class="datepicker-controls-h">
			<div id="datepicker"></div>
		</div>
		<div class="datepicker-controls">
			<a class="datepicker-prev" href="javascript:$('.ui-datepicker-prev').click();">&lt;</a>
			<a class="datepicker-today" href="javascript:$('.ui-datepicker-current').click();javascript:$('.ui-datepicker-today a').click();">TODAY</a>
			<a class="datepicker-next" href="javascript:$('.ui-datepicker-next').click();">&gt;</a>
		</div>