<div class="events page">
  <h1>EVENTS</h1>
<p>Please stay tuned as we prepare for the full-launch of Wave Farm's new website, at which time this page will provide a comprehensive listing of organizational events across all programs. Until our new site fully launches, event information may be accessed via the following links:
</p>
<p>
<a href="http://transmissionarts.org/event">Transmission Arts Events</a><br />
<a href="http://wavefarm.org/wgxc/calendar">WGXC Events</a><br />
<a href="mag">Media Arts Grants Events</a>
</p>
</div>
