<link href="/sched-cal.css" rel="stylesheet" />



<div class="wgxc-event page">

	<h1 class="item-main">
		<span class="main">{{title}}</span>
		<span class="icons">{{#icons}}<img src="{{.}}" >{{/icons}}</span>
	</h1>
	<div class="event-dates"><strong>{{dates}}</strong></div>
	<div class="item-location">{{{locations}}}</div>
	<div class="url"><a href="{{url}}">{{url}}</a></div>
	<img class="item-main-image" />
	<div class="description">{{&description}}</div>
	
	
	<div class="related-items-container">{{>relatedItems}}</div>
	
</div>

