<a class="wf-logo" href="/"><span class="alt-text">Wave Farm</span></a>
<a class="ta sub" href="//transmissionarts.org">
  <div class="subtext"><img alt="TRANSMISSION ARTS" src="/static/images/ta-icon-text.png"></div>
  <div class="subicon"></div>
</a>
<a class="wgxc sub" href="//wgxc.org">
  <div class="subtext"><img alt="WGXC 90.7-FM" src="/static/images/wgxc-icon-text.png"></div>
  <div class="subicon"></div>
</a>
<a class="mag sub" href="/mag">
  <div class="subtext"><img alt="MEDIA ARTS GRANTS" src="/static/images/mag-icon-text.png"></div>
  <div class="subicon"></div>
</a>
