<a class="wf-logo" href="/"><span class="alt-text">Wave Farm</span></a>
<a class="ta sub" href="http://wavefarm.org/ta" target="_blank">
  <div class="subtext"><img alt="TRANSMISSION ARTS" src="/images/ta-icon-text.png"></div>
  <div class="subicon"></div>
</a>
<a class="wgxc sub" href="http://wavefarm.org/wgxc" target="_blank">
  <div class="subtext"><img alt="WGXC 90.7-FM" src="/images/wgxc-icon-text.png"></div>
  <div class="subicon"></div>
</a>
<a class="mag sub" href="/mag">
  <div class="subtext"><img alt="MEDIA ARTS GRANTS" src="/images/mag-icon-text.png"></div>
  <div class="subicon"></div>
</a>
