<div class="pointer" id="pointer"></div>
<div class="slideshow">

  <!-- Transmission Arts slide -->
  <a class="ta slide" href="//transmissionarts.org/event/axs9rc" style="background: url('/images/ta-slide.jpg') no-repeat; background-size: 760px 428px">
    <div class="slide-credit">© TIMOTHY POTTRICK 1992</div>
    <div class="slide-title">BITCHES BREW Aug 19, 2013 8pm - 11pm Club Helsinki, Hudson WGXC 90.7FM</div>
  </a>

  <!-- WGXC slide -->
  <a class="wgxc slide" href="//transmissionarts.org/event/axs9rc" style="background: url('/images/wgxc-slide.jpg') no-repeat; background-size: 760px 428px">
    <div class="slide-credit">© TIMOTHY POTTRICK 1992</div>
    <div class="slide-title">WGXC BREW Aug 19, 2013 8pm - 11pm Club Helsinki, Hudson WGXC 90.7FM</div>
  </a>

  <!-- Media Arts Grants slide -->
  <a class="mag slide" href="//transmissionarts.org/event/axs9rc" style="background: url('/images/mag-slide.jpg') no-repeat; background-size: 760px 428px">
    <div class="slide-credit">© TIMOTHY POTTRICK 1992</div>
    <div class="slide-title">MAG BREW Aug 19, 2013 8pm - 11pm Club Helsinki, Hudson WGXC 90.7FM</div>
  </a>

</div>
