<div class="pointer" id="pointer"></div>
<div class="slideshow">

  <!-- Transmission Arts slide -->
     <a class="ta slide" href="http://wavefarm.org/ta" style="background: url('https://data.wavefarm.org/r/p7/s0/p9/wavefarm_studycenter.jpg') no-repeat; background-size: 760px 428px">
     <div class="slide-credit"></div>
    <div class="slide-title">WAVE FARM STUDY CENTER (ACRA, NY)</div>
  </a>

 <!-- WGXC slide -->
    <a class="wgxc slide" href="http://www.wgxc.org" style="background: url('/images/wgxc-slide.jpg') no-repeat; background-size: 760px 428px">
    <div class="slide-credit">Designed by J. Puglisi, S. Sebren, M. Goldfarb, C. Turett.</div>
    <div class="slide-title">QSL 001 WGXC HANDS-ON CREATIVE COMMUNITY RADIO</div>
  </a>

  <!-- Media Arts Grants slide 
https://data.wavefarm.org/20161019113921/MAAFSlide_JAN.png
https://data.wavefarm.org/20161019114128/MAAFSlide_JULY.png
https://data.wavefarm.org/20161019114144/MAAFSlides_APR.png
https://data.wavefarm.org/20161019114155/MAAFSlides_OCT.png
-->
  
  <a class="mag slide" href="/mag" style="background: url('https://data.wavefarm.org/20161019113921/MAAFSlide_JAN.png') no-repeat; background-size: 760px 428px">
    <div class="slide-credit"></div>
    <div class="slide-title"></div>
  </a>

</div>
