<div class="pointer" id="pointer"></div>
<div class="slideshow">

  <!-- Transmission Arts slide -->
     <a class="ta slide" href="http://wavefarm.org/ta" style="background: url('https://data.wavefarm.org/r/p7/s0/p9/wavefarm_studycenter.jpg') no-repeat; background-size: 760px 428px">
     <div class="slide-credit"></div>
    <div class="slide-title">WAVE FARM STUDY CENTER (ACRA, NY)</div>
  </a>

  <!-- WGXC slide -- /images/wgxc-slide.jpg
   <a class="wgxc slide" href="http://www.wgxc.org" style="background: url('https://data.wavefarm.org/20160602072107/ATN_Banner.png') no-repeat; background-size: 760px 428px">
    <div class="slide-credit">Designed by J. Puglisi, S. Sebren, M. Goldfarb, C. Turett.</div>
    <div class="slide-title">QSL 001 WGXC HANDS-ON CREATIVE COMMUNITY RADIO</div> -->

    <a class="wgxc slide" href="http://www.wgxc.org" style="background: url('https://data.wavefarm.org/20160602072107/ATN_Banner.png') no-repeat; background-size: 760px 428px">
    <div class="slide-credit">Hands-on Creative Community Radio</div>
    <div class="slide-title">SUPPORT WGXC 90.7-FM DURING THE SPRING PLEDGE DRIVE</div>
  </a>

  <!-- Media Arts Grants slide -->
  <!-- https://data.wavefarm/r/ra/1r/zc/mag-slide-july.jpg -->
  <!-- https://data.wavefarm/r/1v/t4/wy/mag-slide-october.jpg -->
  <!-- https://data.wavefarm/r/13/65/b9/mag-slide-january.jpg -->
  <!-- https://data.wavefarm.org/r/7p/3q/bg/mag-slide-april.jpg -->
  
  <a class="mag slide" href="/mag" style="background: url('https://data.wavefarm.org/r/ra/1r/zc/mag-slide-july.jpg') no-repeat; background-size: 760px 428px">
    <div class="slide-credit"></div>
    <div class="slide-title"></div>
  </a>

</div>
