<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wave Farm</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46150668-1', 'wavefarm.org');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header-container">
        <div class="header-fill">
          <header>
            <div class="search">
              <form action="/archive">
                <input type="text" name="q" id="q" placeholder="SEARCH">
              </form>
            </div>
          </header>
        </div>
      </div>
      <div class="main-container">
        <div class="head"></div>
        <div class="nav"></div>
        <div class="main"></div>
      </div>
      <div class="tweets-container">
        <div class="tweets">
          <a class="twitter" target="_blank" href="//twitter.com/free103point9"><span>T</span></a>
        </div>
      </div>
      <div class="footer-container">
        <div class="footer-fill">
          <footer>
            <nav class="wf1">
              <a href="/about">ABOUT</a>
              <a href="/programs">PROGRAMS</a>
              <a href="/calendar">EVENTS</a>
              <a href="/newsroom">NEWSROOM</a>
            </nav>
            <nav class="wf2">
              <a href="/support">SUPPORT</a>
              <a href="/contact">CONTACT</a>
            </nav>
            <div class="studios">
              <div>· <span class="studio-name">Wave Farm/WGXC Acra</span> · <span class="studio-info">5662 Route 23 Acra, NY 12405 (518) 622-2598</span> ·</div>
              <div>· <span class="studio-name">WGXC Hudson</span> · <span class="studio-info">704 Columbia St Hudson, NY 12534 (518) 697-7400</span> ·</div>
              <div>· <span class="studio-name">WGXC Satellite</span> · <span class="studio-info">currently at the Catskill Public Library</span> ·</div>
            </div>
            <div class="fineprint">
              <a class="copyright" href="/about">© Wave Farm</a>
              <a class="legal" href="/legal">LEGAL</a>
              <a class="privacy" href="/privacy">PRIVACY</a>
            </div>
            <div class="social">
              <a class="twitter" target="_blank" href="//twitter.com/free103point9"><span>T</span></a>
              <a class="facebook" target="_blank" href="//facebook.com/wavefarm.org"><span>F</span></a>
              <!-- <a class="stumbleupon" target="_blank" href="stumble"><span>S</span></a> -->
              <a class="mailing" target="_blank" href="http://eepurl.com/yRqVP"><span>MAILING LIST</span></a>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <div class="listen"></div>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/jquery.scrollUp.min.js"></script>
    <script src="/bundle.js"></script>
  </body>
</html>
