<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KCBBHG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCBBHG');</script>
<!-- End Google Tag Manager -->
    <div class="container">
      <div class="header-container">
        <div class="header-fill">
          <header>
		      	<div class="listen-now-button"><a target="_blank" onclick="window.open('/listen','newwindow','width=370, height=5840, toolbar=no, menubar=no, location=no, directories=0, status=0,scrollbar=0,resize=0');return false;">
		      		<img src="/images/listen-now-button.png" /></a></div>      	
            <div class="search" >
              <form action="/archive" id="nav-search">
                <input type="text" name="q" id="q" placeholder="SEARCH">
                <input type="hidden" name="sites" id="sites" >
                <input type="hidden" name="types" id="types" >
              </form>
            </div>
          </header>
        </div>
      </div>
      <div class="main-container">
        <div class="head">{{>head}}</div>
        <div class="nav">{{>nav}}</div>
        <div class="main">{{>main}}</div>
      </div>
      <div class="tweets-container">
        <div class="tweets">
          <a class="twitter" target="_blank" href="//twitter.com/free103point9"><span>T</span></a>
        </div>
      </div>
      <div class="footer-container">
        <div class="footer-fill">
          <footer>
            <nav class="wf1">
              <a href="/about">ABOUT</a>
              <a href="/programs">PROGRAMS</a>
              <a href="/calendar">EVENTS</a>
              <a href="/newsroom">NEWSROOM</a>
              <a href="/archive?q=type%3Aaudio%20OR%20type%3Avideo%20OR%20type%3Aimage%20OR%20type%3Atext&date=&date2=today&sort=-date">ARCHIVE</a>
              <a href="/appcredits">APP</a>
		  </nav>
            <nav class="wf2">
              <a href="/support">SUPPORT</a>
              <a href="/contact">CONTACT</a>
            </nav>
            <div class="studios">
		                                <div>· <span class="studio-name">Mailing Address</span> · <span class="studio-info">PO Box 13 Acra, NY 12405</span> ·</div>

              <div>· <span class="studio-name">Wave Farm/WGXC Acra</span> · <span class="studio-info">5662 Route 23 Acra, NY 12405 (518) 622-2598</span> ·</div>

		    <div>· <span class="studio-name">WGXC Hudson Studio</span> · <span class="studio-info">369 Warren St. Hudson, NY 12534 (518) 697-7400</span> ·</div>
              <div>· <span class="studio-name">Hudson Call-in Line</span> · <span class="studio-info">(518) 828-0290</span> · <span class="studio-name">Feedback Line</span> · <span class="studio-info">(518) 291-WGXC(9492)</span> ·</div>
            </div>
            <div class="fineprint">
              <a class="copyright" href="/about">© Wave Farm</a>
              <a class="legal" href="/legal">LEGAL</a>
              <a class="privacy" href="/privacy">PRIVACY</a>
            </div>
            <div class="social">
              <a class="twitter" target="_blank" href="//twitter.com/free103point9"><span>T</span></a>
              <a class="facebook" target="_blank" href="//facebook.com/wavefarm.org"><span>F</span></a>              
              <a class="instagram" target="_blank" href="//instagram.com/wave_farm/"><span>I</span></a>
              <!-- <a class="stumbleupon" target="_blank" href="stumble"><span>S</span></a> -->
              <a class="mailing" target="_blank" href="http://eepurl.com/yRqVP"><span>MAILING LIST</span></a>
            </div>
          </footer>
        </div>
      </div>
   </div>
<!--<div class="outer-announce-container">
       <div class="announce">{{> announce}}</div>
    </div>-->
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/jquery.scrollUp.min.js"></script>
    <script src="/scripts/jquery-deparam.js"></script>
    <script src="/scripts/moment.js"></script>
    <script src="/scripts/mustache.js"></script>
    <script src="/scripts/cache.js"></script>
    <script src="/scripts/api.js"></script>
    <script src="/scripts/when.js"></script>
    <script src="/scripts/itemUrl.js"></script>
    <script src="/bundle.js"></script>
    {{>scripts}}
  </body>
</html>
