<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wave Farm</title>
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/styles/base.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header-container">
        <div class="header-fill">
          <header>
            <div class="search">
              <form action="/archive">
                <input type="text" name="q" id="q" placeholder="SEARCH">
              </form>
            </div>
          </header>
        </div>
      </div>
      <div class="main-container">
        <div class="head"></div>
        <div class="nav"></div>
        <div class="main"></div>
        <!-- Hide listen sidebar for alpha launch
        <div class="listen">
          <div class="listen-handle">· · · · · · · · LISTEN LIVE · · · · · · · ·</div>
          <div class="listen-wgxc">
            <h1>WGXC 90.7-FM</h1>
            <div>LISTEN NOW</div>
            <p>CATSKILL STUDIO: (518) 291-9294</p>
            <p>info@wgxc.org</p>
            <h2>NOW PLAYING: WGXC Afternoon Show</h2>
            <p>Hosted by Ellen Thurston, Victor Mendolla, and Tom DePietro.</p>
            <h2>UP NEXT: Al Jazeera English: Half Hour</h2>
            <p>Hosted by Albert Jazeera.</p>
            <p>TODAY'S LOCAL NEWS</p>
            <p>VIEW FULL SCHEDULE</p>
          </div>
          <div class="listen-wf">
            <h1>WAVE FARM RADIO</h1>
            <div>LISTEN NOW</div>
            <p>CATSKILL STUDIO: (518) 291-9294</p>
            <p>info@wgxc.org</p>
            <h2>NOW PLAYING: WGXC Afternoon Show</h2>
            <p>Hosted by Ellen Thurston, Victor Mendolla, and Tom DePietro.</p>
            <h2>UP NEXT: Al Jazeera English: Half Hour</h2>
            <p>Hosted by Albert Jazeera.</p>
            <p>TODAY'S RADIO NEWS</p>
          </div>
        </div>
        -->
      </div>
      <div class="footer-container">
        <div class="footer-fill">
          <footer>
            <nav class="wf1">
              <a href="/about">ABOUT</a>
              <a href="/programs">PROGRAMS</a>
              <a href="/events">EVENTS</a>
              <a href="/archive">ARCHIVE</a>
              <a href="/newsroom">NEWSROOM</a>
            </nav>
            <nav class="wf2">
              <a href="/support">SUPPORT</a>
              <a href="/contact">CONTACT</a>
            </nav>
            <div class="studios">
              <div>· <span class="studio-name">Wave Farm/WGXC Acra Studio</span> · <span class="studio-info">5662 Route 23 (518) 622-2598</span> ·</div>
              <div>· <span class="studio-name">WGXC Hudson Studio</span> · <span class="studio-info">704 Columbia St (518) 697-7400</span> ·</div>
              <div>· <span class="studio-name">WGXC Catskill Studio</span> · <span class="studio-info">341 Main Street (518) 291-9294</span> ·</div>
            </div>
            <div class="fineprint">
              <a class="copyright" href="/about">© Wave Farm</a>
              <a class="legal" href="/legal">LEGAL</a>
              <a class="privacy" href="/privacy">PRIVACY</a>
            </div>
            <div class="social">
              <a href="twitter">T</a>
              <a href="facebook">F</a>
              <a href="stumble">S</a>
              <a href="mailing">MAILING LIST</a>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
