          <div class="listen-handle">· · · · · · · · LISTEN LIVE · · · · · · · ·</div>
          <div class="listen-wgxc">
            <img src="/images/wgxc-icon.png" alt="wgxc"/>
            <h1>WGXC 90.7-FM</h1>
            <p class="listen-contact">Creative Community Hands-on Radio</p>
            <div class="listen-listennow">
							<audio controls="controls" preload="none">
								<source src="http://comm.free103point9.org:8000/wgxc.mp3" type="audio/mpeg" ></source>
								Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
							</audio>  
							<div>         
								<a class="listen-wgxc-window" href="">Pop-out Player</a><br /> 
								<a class="listen-download" href="http://comm.free103point9.org:8000/wgxc.mp3.m3u">Download the .m3u</a>
							</div> 
            </div>            
            
            <p class="listen-contact">HUDSON STUDIO: (518) 697-7400</p>
            <p class="listen-contact">ACRA STUDIO: (518) 622-2598  </p>           
            <p class="listen-email"><a href="mailto:info@wgxc.org">info@wgxc.org</a></p>
            <p class="listen-email"><a href="mailto:feedback@wgxc.org">feedback@wgxc.org</a></p>
            
           
            <h2 class="listen-nowplaying">NOW PLAYING: <a></a></h2>
            <h2 class="listen-upnext">UP NEXT: <a></a></h2>
            <p class="listen-news"><a href="/wgxc/schedule">VIEW FULL SCHEDULE</a></p>
                        
          </div>
        
        <!--  
         <div class="listen-wgxc">
            <img src="/images/wgxc-icon.png" alt="wgxc"/>
            <h1>SPECIAL STREAM</h1>
            <p class="listen-contact">Hudson Little League Playoffs:<br> Elks v. Powerboat</p>
            <div class="listen-listennow"><a>LISTEN JUNE 22 6 P.M.</a>
							<audio controls="controls" preload="none">
								<source src="http://comm.free103point9.org:8000/littleleague.mp3" type="audio/mpeg" ></source>
								Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
							</audio>  
							<div>         
								<a class="listen-wgxc-window" href="">Pop-out Player</a><br /> 
								<a class="listen-download" href="http://comm.free103point9.org:8000/littleleague.mp3.m3u">Download the .m3u</a>
							</div> 
            </div>            
        
                        
          </div>
-->
          <div class="listen-wf">
            <img src="/images/ta-icon.png" alt="Wave Farm Radio"/>
            <h1>WAVE FARM RADIO</h1>
            <p class="listen-contact">Transmission Art/Experimental Sound</p>
                   <div class="listen-listennow">
				<audio controls="controls"  preload="none">
					<source src="http://comm.free103point9.org:8000/transmissionarts.mp3" type="audio/mpeg" ></source>
					Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
				</audio>
				<div>         
					<a class="listen-wf-window" href="">Pop-out Player</a><br /> 
					<a class="listen-download" href="http://comm.free103point9.org:8000/transmissionarts.mp3.m3u">Download the .m3u</a>
				</div> 				            
            </div>
           
            <p class="listen-contact">WAVE FARM: (518) 622-2598</p>
            <p class="listen-email"><a href="mailto:info@wavefarm.org">info@wavefarm.org</a></p>
          </div>
          
             <div class="listen-wf">
            <img src="/images/ta-icon.png" alt="Wave Farm Radio"/>
            <h1>POND STATION Zach Poff</h1>
            <p class="listen-contact">Transmissions from inside a Wave Farm pond from dawn until sundown.</p>
                   <div class="listen-listennow">
				<audio controls="controls"  preload="none">
					<source src="http://locus.creacast.com:9001/wave_farm_pond_station_new_york.mp3" type="audio/mpeg" ></source>
					Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
				</audio>
				<div>         
					<a class="listen-wf-window" href="">Pop-out Player</a><br /> 
				</div> 				            
            </div>
         
          </div>
          
