<div class="listen-handle">· · · · · · · · LISTEN LIVE · · · · · · · ·</div>

<div class="listen-popout">
	<div class="listen-popout-button">
		<a class="listen-wf-window" href="">Pop-out Listen Live Player</a><br /> 
	</div>         
</div>                    

<div class="listen-wgxc">
	<img src="/images/wgxc-icon.png" alt="wgxc"/>
	<h1><a href="https://wavefarm.org/wgxc" target="_new">WGXC 90.7-FM<p class="listen-tag">Hands-on Community Radio</a>&nbsp;&nbsp;&nbsp; <a class="listen-download" href="http://audio.wavefarm.org:8000/wgxc.mp3.m3u">Download .m3u</a></p></h1>		    
	<div class="listen-listennow">
		<audio controls="controls" preload="none">
			<source src="http://audio.wavefarm.org:8000/wgxc.mp3" type="audio/mpeg" ></source>
			Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
		</audio>  					
	</div>            		     		   
	<!-- <dl class="listen-contact-list">
		<dt>HUDSON STUDIO:</dt><dd>(518) 697-7400</dd>
		<dt>ACRA STUDIO:</dt><dd>(518) 622-2598</dd>
		<dt>INFORMATION:</dt><dd><a href="mailto:info@wgxc.org">info@wgxc.org</a></dd>
		<dt>FEEDBACK:</dt><dd><a href="mailto:feedback@wgxc.org">feedback@wgxc.org</a></dd>
	</dl>	-->    
	<dl class="listen-nowplaying-list wgxc">
		<dt>NOW PLAYING:</dt><dd class="listen-nowplaying"><a target="_new">&nbsp;</a></dd>
		<dt>UP NEXT:</dt><dd class="listen-upnext"><a target="_new">&nbsp;</a></dd>
	</dl>		     
	<!--<div class="listen-download-container">
		<a class="listen-download" href="/wgxc/schedule" target="_new">FULL SCHEDULE</a> | <a class="listen-download" href="http://audio.wavefarm.org:8000/wgxc.mp3.m3u">.m3u</a> | <a class="listen-download" href="https://wavefarm.org/contact" target="_new">CONTACT</a> </p>  
	</div>	-->		                 
</div>
       
<div class="listen-wf">
	<img src="/images/ta-icon.png" alt="Wave Farm Radio"/>
	<h1><a href="https://wavefarm.org/ta" target="_new">STANDING WAVE RADIO</h1>
			<p class="listen-contact">(formerly Wave Farm Radio)</a></p>            
	<p class="listen-contact">Transmission Art/Experimental Sound</a></p>            
	<div class="listen-listennow">
		<audio controls="controls"  preload="none">
			<source src="http://audio.wavefarm.org:8000/transmissionarts.mp3" type="audio/mpeg" ></source>
			Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
		</audio>												
	</div>           
	<!--<dl class="listen-contact-list">
		<dt>WAVE FARM:</dt><dd>(518) 622-2598</dd>
		<dt>INFORMATION:</dt><dd><a href="mailto:info@wavefarm.org">info@wavefarm.org</a></dd>
	</dl>	-->			    
	<dl class="listen-nowplaying-list wf">
		<dt>NOW PLAYING:</dt><dd class="listen-nowplaying"><a target="_new">&nbsp;</a></dd>
			<dt>UP NEXT:</dt><dd class="listen-upnext"><a target="_new">&nbsp;</a></dd>
	</dl>				  				    
          <div class="listen-download-container">
    		  <a class="listen-download" href="/ta/schedule" target="_new">FULL SCHEDULE</a> | <a class="listen-download" href="http://audio.wavefarm.org:8000/transmissionarts.mp3.m3u">.m3u</a> | <a class="listen-download" href="https://wavefarm.org/contact" target="_new">CONTACT</a></p>  
    	</div> 
</div>

<div class="listen-wf">
	<img src="/images/ta-icon.png" alt="Wave Farm Radio"/>
	<h1><a href="https://wavefarm.org/ta/works/g7yqrm" target="_new">WEATHER WARLOCK QUINTRON</a></h1>
	<p class="listen-contact">Live stream of an analog drone synthesizer played by the weather. </p>
	<div class="listen-listennow">
		<audio controls="controls"  preload="none">
			<source src="http://audio.wavefarm.org:8000/weatherwarlock.mp3" type="audio/mpeg" ></source>
			Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
		</audio>													
	</div>   
</div>          

<div class="listen-wf">
	<img src="/images/ta-icon.png" alt="Wave Farm Radio"/>
	<h1><a href="https://wavefarm.org/ta/works/87eejz" target="_new">POND STATION ZACH POFF</a></h1>
     	<p class="listen-contact">Transmissions from inside a Wave Farm pond from dawn until sundown.</p>
	<div class="listen-listennow">
		<audio controls="controls"  preload="none">
			<source src="http://locus.creacast.com:9001/wave_farm_pond_station_new_york.mp3" type="audio/mpeg" ></source>
			Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
		</audio>
	</div>       
</div>
 			
<div class="listen-wf">
	<img src="/images/wgxc-icon.png" alt="All Together Now"/>
	<h1><a href="https://wavefarm.org/wgxc/schedule/be1egs" target="_new">ALL TOGETHER NOW!</a></h1>
	<p class="listen-contact">The All Together Now! 24-hour news feed features local, regional and national news, weather updates, special segments, and interviews, every hour on the hour.</p>
	<div class="listen-listennow">
		<audio controls="controls"  preload="none">
			<source src="http://audio.wavefarm.org:8000/alltogethernow.mp3" type="audio/mpeg" ></source>
			Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
		</audio>
	</div>         
 </div>
 			
 <!--		   
<div class="listen-wgxc">
	<img src="/images/wgxc-icon.png" alt="wgxc"/>
	<h1>SPECIAL STREAM<p class="listen-tag">LISTEN JULY 11 7:00 P.M.</a></p></h1>
	<p class="listen-contact">WGXC Radio Theatre Live from the Red Dot presents "Nothing But The Truth," a tale of spies, counter spies, and saboteurs.</p>
	<div class="listen-listennow">
		<audio controls="controls" preload="none">
			<source src="http://audio.wavefarm.org:8000/reddot.mp3" type="audio/mpeg" ></source>
			Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
		</audio>  
	</div>
	</div>  
 -->
  

<div class="partner-stream-list" style="display:none;">

	<div class="listen-wf listen-wf-partner listen-wf-partner-header">
		<h1>Live Partner Streams</h1>
	</div>	
	 				 			
	<div class="listen-wf listen-wf-partner listen-wf-partner-stream" id="partner-stream-template">
		<img src="/images/wf-logo.png" alt="Wave Farm Radio" class="listen-partner-icon-all"/>
		<h1></h1>
		<p class="listen-contact"></p>
		<div class="listen-listennow">
			<audio controls="controls"  preload="none">
				<source src="" type="audio/mpeg" ></source>
				Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
			</audio>
		</div>         
	</div>  			
  			
</div>          

