<div class="about page">

<h1>PROPERTY AND STUDY CENTER VIDEO TOURS</h1> 
<h2>For driving directions to Wave Farm visit: <a href="http://wavefarm.org/about#locations">wavefarm.org/about#locations</a>.</h2><br>
<iframe src="https://player.vimeo.com/video/204421326" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>A video tour of the Wave Farm grounds, in Acra, New York, created over three seasons, summer 2016 through winter 2017. This property tour features Music Omi residents participating in Meredith Kooi's Electromagnetic Spectrum as a Feminine Phenomenon workshop, as well as youth participants in Ralph Lewis's Radio Monster Party! workshop, and the WGXC Programmer Picnic. Video by <a href="http://fusionlab.com" target="_new">FusionLab</a>.</p>
	
<iframe src="https://player.vimeo.com/video/204541463" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>A video tour of the Wave Farm Study Center in Acra, New York. This tour features the sounds of Quintron's Weather Warlock. Video by <a href="http://fusionlab.com" target="_new">FusionLab</a>.</p>
	
	
  <h1>WAVE FARM MAP AND INSTALLATIONS</h1> 

<a href="https://wavefarm.org/archive/nmhtjz"><img src="https://data.wavefarm.org/20190321145735/WaveFarmMap_FusionLab2019.png"></a>
<p>1. Wave Farm Study Center + <a href="#quintron">Quintron's Weather Warlock</a><br>
2. Zach Poff's <a href="#poff">Pond Station</a><br>
3. Max Goldfarb's <a href="#goldfarb">Mobile 49</a><br>
4. Patrick Quinn's <a href="#quinn">Survant USB</a><br>
5. Japanther's <a href="#japanther">Remote Audio Outpost</a><br>
6. Heidi Neilson's <a href="#outernet">Outernet Library Branch Wave Farm</a></p>
<h2><a id="quintron"></a><a href="/ta/works/g7yqrm">1. Weather Warlock, by Quintron.</a></h2>
	<img src="https://data.wavefarm.org/20161107125543/weatherwarlock_upstate.png" width="600">
<p>Listen Live:<br><audio controls="controls"  preload="none">
								<source src="http://audio.wavefarm.org:8000/weatherwarlock.mp3" type="audio/mpeg" ></source>
								Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
							</audio></p>
<p>The Weather Warlock (Upstate edition) is one in a series of custom-built weather-controlled analog synthesizers. Outdoor sensors detect changes in sunlight, wind, precipitation, and temperature, with output becoming particularly dynamic during periods of rapid meteorological change, such as sunrise and sunset. At Wave Farm, Weather Warlock serves as a stand-alone installation and generative composition, an online stream, as well as an interactive instrument available to visiting artists and radio programmers.  
</p><p><i>
Weather Warlock at Wave Farm is made possible, in part, with support from the Andy Warhol Foundation for the Visual Arts; the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature; and the National Endowment for the Arts. Quintron developed Weather Warlock in 2014, while in residence at the Robert Rauschenberg Foundation. More information or live stream from an instrument in New Orleans at: <a href="http://www.weatherfortheblind.org" target="_new">weatherfortheblind.org</a>. </i></p>
<h2><a id="poff"></a><a href="/ta/works/87eejz">2. Pond Station, by Zach Poff.</a></h2>
	<img src="https://data.wavefarm.org/20170423070249/ZachPoff_PondStation.png" width="600">

<p>Listen Live:<br><audio controls="controls"  preload="none">
<source src="http://locus.creacast.com:9001/wave_farm_pond_station_new_york.mp3" type="audio/mpeg" > </source>
Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.</audio></p>
<p>
Pond Station reveals the activity within a spring-fed pond
from dawn until sundown. Hidden sounds are transmitted
to local listeners on Wave Farm Radio 1620-AM and Wave
Farm’s WGXC 90.7-FM, and streamed to international audiences
at <a href="https://wavefarm.org/listen" target="_new">wavefarm.org/listen</a>. More information about Pond Station is available at <a href="http://www.zachpoff.com/projects/pondstation/" target="_new">zachpoff.com/projects.</a>
</p>
<p>
</p>

<h2><a id="goldfarb"></a>3. <a href="/ta/works/scnxsy">Mobile 49, by Max Goldfarb.</a></h2>
<img src="https://data.wavefarm.org/20170423071326/MaxGoldfarb_M49.png" width="600">
<p>
Mobile 49 (2010/2015)<br />
Deep Cycle (2010)<br />
Regenerator (2015)<br />
</p>
<p>


Mobile 49 (M49) is a research/production facility, which serves as a central component in Max Goldfarb’s recent work. The Deep Cycle project, was an area-responsive mobile radio program, originating in Hudson, New York, proceeding through a set of designated locations for performative incidents, and arriving at Wave Farm. Regenerator describes M49 installed at Wave Farm. The vehicle houses Wave Farm Radio 1620-AM, and is open to public visitors, both as an performance artifact and as an active studio environment. 

</p>


<h2><a id="quinn"></a><a href="/ta/works//21dhmh">4. SURVANT USB Dead Drop, by Patrick Quinn.</a></h2>
<img src="https://data.wavefarm.org/20170423070353/PatrickQuinn_SURVANTUSBDeadDrop.png" width="600">
<p>The SURVANT USB Dead Drop is an open-source file
repository located off of the forested path. Inspired by
Aaron Swartz’s various hacktivistic dead drop projects,
SURVANT aims to function as both an archive and a remixological
tool. </p>

<h2><a id="japanther"></a><a href="/ta/works/0ypzb8">5. Remote Audio Outpost, by Japanther.</a></h2>
<img src="https://data.wavefarm.org/20170423071058/Japanther_RemoteAudioOutpost.png" width="600">
<p>Japanther’s Remote Audio Outpost is a solar-powered
recording booth, outfitted with a rotary phone wired by
Cablesmith (Jason Rutherford) for both recording and
transmission. Installed in one of the most remote corners
of the Wave Farm property, it is a place for introspection
and confession. </p>

<h2><a id="outernet"></a><a href="/ta/works/41qedd">6. Outernet Library Branch Wave Farm, by Heidi Neilson</a></h2>
<img src="https://data.wavefarm.org/20170423071202/OuternetImage_WaveFarm_HeidiNeilson.png" width="600">
<p>Outernet Library Branch–Wave Farm features a satellite dish antenna surrounded by Adirondack-chair-inspired seating, with a bench oriented toward each cardinal direction. The WiFi network access area is defined by a large mowed meadow. In addition to seating, the structure houses a box for electronics and a single physical library reference book located under the east bench. On entering the library area and perhaps taking a seat, a library branch visitor may read, view, listen to, and save library materials using a browser on their cell phone, tablet or computer. To browse these Outernet library files transmitted from the Inmarsat satellite, connect to the "Outernet" WiFi network and then use a browser to visit outernet.is.
</p>


</div>
