<div class="about page">
  <h1>WAVE FARM MAP AND INSTALLATIONS</h1> 

<p>The map below details the Wave Farm property, noting where works by <a href="#poff">Zach Poff (1)</a>, Max Goldfarb (2), Patrick Quinn (3), and Japanther (4) are located.</p>
<a href="https://wavefarm.org/archive/nmhtjz"><img src="https://data.wavefarm.org/r/zm/z4/vb/WaveFarmMap_small.png"></a>
<h2><a id="poff"></a>Pond Station, by Zach Poff.</h2>
<p>
Zach Poff's Pond Station transmits the hidden activity within this freshwater pond from dawn until sundown. The sound transmitted is broadcast to local listeners on Wave Farm Radio 1620-AM and Wave Farm's WGXC 90.7-FM, and streamed online to international audiences. In addition, Pond Station serves as a live, generative, natural instrument for Wave Farm resident artists who may remix and interpret these otherwise inaccessible environmental sounds in their own work.
</p>
<p>

				<audio controls="controls"  preload="none">
					<source src="http://locus.creacast.com:9001/wave_farm_pond_station_new_york.mp3" type="audio/mpeg" ></source>
					Please update your browser to the latest version. This player should work in all current versions of Chrome, Firefox, Safari and IE.                          
				</audio>
					<a class="listen-wf-window" href="">Pop-out Player</a><br /> 
</p>				            
<p>
Pond Station's autonomous stream is available <a href="http://locus.creacast.com:9001/wave_farm_pond_station_new_york.mp3">here.</a> More information about Pond Station is available at <a href="http://www.zachpoff.com/projects/pondstation/" target="_new">zachpoff.com/projects.</a></p>
<iframe src="https://player.vimeo.com/video/129315370" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</p>

</div>
