		<div class="news-calendar">

		    <div class="event">
		    
		      <div class="calendar-card">
		        <div class="calendar-card-topbar"></div>
		        <div class="tag"></div>
		        <div class="weekday"></div>
		        <div class="month"></div>
		        <div class="monthday"></div>
		        <div class="time"></div>
		      </div>  
	        <div class="event-info">
            <h3 class="event-name"><a></a></h3>
           	<div class="item-dates"><strong></strong></div>
           	<div class="event-location">
           		<strong></strong>
           		<p></p>
           	</div>
            <div class="event-description">
            	<div class="event-description-short">
              		<p></p>
            	</div>
            	<div class="event-description-long">
              		<p></p>
	              	<div class="url"><a></a></div>
              		<img >
									<audio controls="controls" preload="none"><source src="" type="audio/mpeg"></audio>
		            	<div class="actions"><a class="more" href="">more details</a></div>            		
               	</div>
            </div>
	         </div>
		    </div>		    
		</div>

	  <form>
	    <div class="more">
	      <input id="more" name="more" type="button" value="View Another Week">
	    </div>
	  </form>

		     
