<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page ta calendar-page news">

	<div class="datepicker-container">{{>datepicker}}</div>
		
	<div class="calendar-container">
										
	<h1>Wave Farm Newsroom
		<span class="newsroom-icons"> 
			<a href="/newsroom/rss"><img src="https://data.wavefarm.org/20151216132137/rss.png" height="25"></a>
			<a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fhttps%3A%2F%2Fwavefarm.org%2Fnewsroom%2Frss'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-square-volume_2x.png' alt='follow us in feedly' width='28' height='28'></a>
		</span>		
	</h1>

	<p>This page combines the posts from both the <a href="/ta/newsroom">Wave Farm Newsroom</a> (Transmission Art news, radio news, open calls, media news, radio theatre, and more) and the <a href="/wgxc/newsroom">WGXC Newsroom</a> (Scripts and sounds for WGXC radio hosts to play on the WGXC Morning Show or WGXC Afternoon Show. Breaking news, features, local audio, video, analysis, music, links to events in Greene and Columbia counties, NY.)</p>
	<h2>CLICK ON A NEWS TITLE BELOW FOR MORE INFO</h2>
				  
		<!-- Calendar HTML will be filled in server-side -->
		<!-- Calendar data will be filled in client-side -->
		<div class="calendar-div">{{>calendar}}</div>

	</div>
</div>
