<div class="newsroom page">
  <h1>NEWSROOM</h1>
<p>Please stay tuned as we prepare for the full-launch of Wave Farm's new website, at which time this page will provide a comprehensive listing of newsroom content across all programs. Until our new site fully launches, newsroom information may be accessed via the following links:
</p>
<h2>TRANSMISSION ARTS NEWS</h2>
<p>
<a href="http://twitter.com/free103point9">Twitter</a><br />
<a href="https://www.facebook.com/wavefarm.org">Facebook</a><br />
Email Newsletter Archive<br />
<style type="text/css">
<!--
.display_archive {font-family: arial,verdana; font-size: 12px;}
.campaign {line-height: 125%; margin: 5px;}
//-->
</style>
<script language="javascript" src="http://us2.campaign-archive2.com/generate-js/?u=9d607a40fa0db412d064dbd33&fid=1&show=10" type="text/javascript"></script>
<a href="http://newsroom.free103point9.org">Newsroom Blog</a>
</p>
<h2>WGXC NEWS</h2> 
<p>
<a href="http://newsroom.wgxc.org">Newsroom Blog</a><br />
<a href="http://twitter.com/wgxc">Twitter</a><br />
<a href="https://www.facebook.com/WGXCradio">Facebook</a>
</p>
</p>
<a href="/mag"><h2>MEDIA ARTS GRANT NEWS</h2></a> 


  
</div>
