<link href="/jquery-ui.css" rel="stylesheet" />
<link href="/sched-cal.css" rel="stylesheet" />

<div class="page ta calendar-page news">

	<div class="datepicker-container">{{>datepicker}}</div>
		
	<div class="calendar-container">
										
		<h1>Wave Farm Newsroom
			<span class="newsroom-icons"> 
				SUBSCRIBE:
				<a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttps%3A%2F%2Fwavefarm.org%2Fnewsroom%2Frss'  target='blank'><img id='feedlyFollow' src='/images/feedly.png' alt='follow us in feedly' width='30' height='26'></a>
				<a href="/newsroom/rss"><img src="/images/rss.png" width="23" height="26"></a>
			</span>		
		</h1>
		  <p>Transmission Art, WGXC and Wave Farm news, radio news, open calls, media news, radio theatre, and more, from Wave Farm.</p>
		<h2>CLICK ON A NEWS TITLE BELOW FOR MORE INFO</h2>
				  
		<!-- Calendar HTML will be filled in server-side -->
		<!-- Calendar data will be filled in client-side -->
		<div class="calendar-div">{{>calendar}}</div>

	</div>
</div>
