<div class="newsroom page">
  <h1>NEWSROOM</h1>
<p>Please stay tuned as we prepare for the full-launch of Wave Farm's new website, at which time this page will provide a comprehensive listing of newsroom content across all programs. Until our new site fully launches, newsroom information may be accessed via the following links. As always, sign-up for Wave Farm email announcements using the link at the very bottom of this page to receive current announcements.
</p>
<h2>TRANSMISSION ARTS NEWS</h2>
<p>
<a href="http://twitter.com/free103point9">Twitter</a><br />
<a href="https://www.facebook.com/wavefarm.org">Facebook</a><br />
<a href="http://newsroom.free103point9.org">Transmission Arts + Radio Newsroom Blog</a>
</p>
<h2>WGXC NEWS</h2> 
<p>
<a href="http://newsroom.wgxc.org">Newsroom Blog</a><br />
<a href="http://twitter.com/wgxc">Twitter</a><br />
<a href="https://www.facebook.com/WGXCradio">Facebook</a>
</p>
</p>
<h2>MEDIA ARTS GRANT NEWS</h2>
<p>
<a href="https://twitter.com/MediaArtsMap">Twitter</a><br />
<a href="http://wavefarm.org/mag/organizations">MAAF for Organizations</a><br />
<a href="http://wavefarm.org/mag/artists">MAAF for Artists</a><br />
</p>

  
</div>
