<div class="privacy page">
  <h1>Wave Farm Privacy Policy and Terms of Service</h1>

  <h2>Wave Farm Privacy Policy</h2>
<p>
We created this privacy policy statement in order to demonstrate our commitment to your privacy with respect to our website and services. This privacy policy explains our data collection and use practices as well as your choices regarding your personal information.
</p><p> 
This Policy does not apply to information that you may provide to us, or that we may obtain through non-electronic means, such as via phone, by mail, or in person.
</p><p> 
Wave Farm believes in transparency when it comes to the collection of user data. We’ve created this Policy to be simple, straightforward, and explicit about what information we collect and what we use it for. IF YOU DO NOT AGREE TO THIS PRIVACY POLICY YOU MAY NOT ACCESS OR OTHERWISE USE OUR WEBSITE.
</p><p>  
  <u>What information does Wave Farm collect about me?</u>
</p><p>  
In simple terms, there are two categories of information Wave Farm may collect about you: user-provided information and site usage information.
</p><p>  
User-provided information can be used to identify you as an individual. This includes names, physical/postal addresses, email addresses, telephone numbers, credit/debit card information, and social media profile information. This information is only collected when you have consented to share it, typically when you:
</p><p>  
  <li>---Donate or otherwise conduct a transaction online with us;</li>
        	<li>---Create an account with us;</li>
        	<li>---Subscribe to receive emails or newsletters from us;</li>
        	<li>---Complete surveys with us;</li>
        	<li>---Register to communicate on a forum with us; and</li>
        	<li>---Submit comments or questions to us.</li>
</p><p>  
If you wish to opt out of any of these services you are free to do so at any time, primarily by closing any accounts you have established with us. For newsletters or other promotional communication, simply send us an email with the subject line “Unsubscribe” to info@wavefarm.org. Please note that it may take us a few days to process your request, and that we may still contact you if you engage in non-promotional correspondence from us, such as making a donation or participating in a forum.
</p><p>   
Our servers automatically collect site usage information when you visit Wave Farm’s online platforms. This information includes your IP address (and the relevant domain name of which it is a part), the type of device you are using to connect to us, information about your browser and operating system settings, information about your usage behavior, such as how long you spend on our platforms, what you click on or download, search terms you use, and link-referral information.
</p><p>   
We or our service providers and partners may also utilize common tracking technologies when you visit or interact with us, including cookies, pixel tags, and browser fingerprinting. We use cookies and other tracking technologies to collect information in order to improve our services for you. If you choose to later opt out of using cookies, you may always use the settings of your browser; however, this may negatively impact your experience on our website or your access to certain functionality.
</p><p>   
Wave Farm also has a presence on many third-party social networking and publishing platforms, and we incorporate some of those features into our own online home. Through these features, we may receive some user-provided and site usage information about you. This Privacy Policy applies to that information which we collect and keep from these features, but keep in mind that third party platforms have their own privacy policies, which we encourage you to examine for more information on how they collect data and what your choices are in regards to data collected about you. .
 </p><p>  
Wave Farm may embed links, banners, widgets or other content from third parties into our own online home. If you click on a third-party link, you will be directed to that third party website.
We are not responsible for how these third parties may collect and utilize information about you if you interact with it. We strongly advise you to review the Privacy Policy of every site you visit and  encourage you to read their privacy policies as well[1] .
</p><p>   
As an organization based in the United States, Wave Farm is beholden to U.S. law with regard to informational privacy and integrity.
</p><p>   
  <u>How does Wave Farm use the information it collects about me?</u>
 </p><p>  
Wave Farm uses your information to conduct the operations outlined above. We will never sell your information to any other party or service, though in some cases we may share your information with third parties who need it in order to provide services to us or on our behalf.
 </p><p>  
In some cases, we may relate site usage information to user-provided information, primarily for the purposes of:
 
        	<li>---Processing and fulfilling transactions, such as donations or purchases;</li>
        	<li>---Customizing your online experience with us, including promotional information;</li>
        	<li>---Site administration, including maintaining any accounts you establish with us;</li>
        	<li>---Responding to questions and comments;</li>
        	<li>---Developing new features and content; and</li>
        	<li>---Protecting our own rights and property.</li>
 </p><p>  
We may also share your information when we believe that disclosure is necessary to protect our own rights and property, your safety or the safety of others, or as necessary to comply with the law.
  </p><p> 
Finally, we may share site usage information (including aggregate data) with third parties for analytics services. Analytics is used to improve the user experience and to provide feedback on the demographic groups that are using our Site and services.
 </p><p>  
<u>How secure is my information on Wave Farm’s platforms?<?u>
  </p><p> 
We strive to protect the security and integrity of all user-provided information collected on Wave Farm’s online platforms, but we cannot guarantee that your information will be absolutely safe during transmission or while stored on our system. If you correspond with us via email, you should be aware that your information is susceptible to interception by a third party while in transit. Wave Farm assumes no liability for the disclosure of your information due to errors or unauthorized acts by third parties during its transmission to us.
  </p><p> 
If you set up an account on our platforms to use community-communication features such as a bulletin board, chat room, blog or the Wave Farm Radio App, the information that you submit or post will be available to the general public. Therefore, we do not recommend that you submit or post any sensitive information, such as your home address, phone number, or financial information, as a part of setting up your account profile without understanding the inherent risks that entails.
  </p><p> 
When you stream audio on the Wave Farm Radio App, your transmission is public by default, including any metadata associated with your stream. You do not need an account to listen to audio, but you do need one to transmit.
  </p><p> 
You are responsible for maintaining the strict confidentiality of your account information, including passwords, and you are responsible for any activity that occurs on your account, even if you did not authorize it. If you believe that an account has been compromised, or you have any questions about our policy or security, please notify us immediately at info@wavefarm.org. In the event we become aware of a data breach where your personal information has been disclosed to unrelated third parties, we will notify you within 72 hours[2]  of becoming aware of a breach if we think there is a reasonable risk of harm to you or if otherwise required to do so by law.
  </p><p> 
Please note that we will never contact you asking for any sensitive personal information such as your username or password. If you ever receive such a communication, it is most likely a phishing attack[3]  : please forward any such communication to us at info@wavefarm.org.
  </p><p> 
<u>Miscellaneous</u>
  </p><p> 
<i>COPPA Compliance.</i> The Wave Farm Privacy Policy does not apply to and is not directed at children under the age of 13. Children under the age of 13 are not authorized to utilize Wave Farm online platforms. By using these platforms, you affirm that your age is 13 or older. If you believe that your child has submitted personal information to our website and you would like to request that such information be deleted, you may do so by emailing [info@wavefarm.org]. You can learn more about COPPA at the United States Federal Trade Commission Website: https://www.ftc.gov/tips-advice/business-center/privacy-and-security/children%27s-privacy
EU Residents (GDPR)[4] . We implement technical and organizational measures with respect to processing personal information from European Union individuals for purposes of the EU General Data Protection Regulation (“GDPR”). Upon request, we will provide you with information as to whether and what personal data we store in relation to you. Should your personal data be incorrect, you may request to have it rectified. We may collect and use your information on the basis of your consent. You may revoke your consent to use your personal data in the future, in whole or in part, or request deletion of your personal data. Please feel free to direct such requests, or other questions and comments regarding our GDPR compliance to [info@wavefarm.org].
 </p><p> 
<i>California Privacy Rights.<?i> Under the California “Shine the Light” law, California residents may opt-out of a company’s disclosure of personal information to third parties for its direct marketing purposes. As detailed above, you may choose to opt-out of our sharing of your personal information with third parties for marketing purposes at any time by submitting a request to info@wavefarm.org. It is important to note that this opt-out does not prohibit disclosures made for non-marketing purposes.
 </p><p> 
<u>What happens if this Privacy Policy is ever changed?<?u>
  </p><p> 
As new online technologies develop we may integrate them into our platforms and that may result in changes to the language of this Policy. When we do, we will post those changes on this page and update the effective date (found at the bottom) so that you have a way to always become aware of the information we collect, how we use it, and under what circumstances we disclose it. In some cases where material changes are made, we may proactively notify you of these changes, typically by sending you an email to the address we have on file for you. For all other changes, it is your responsibility to review this Privacy Policy frequently and remain informed about any changes to it, so we encourage you to visit this page often.
  </p><p> 
Please contact us if you have any questions or comments regarding our privacy practices:
  </p><p> 
Wave Farm<br>
PO Box 13<br>
5662 Route 23<br>
Acra, NY 12405<br>
Phone: 518-622-2598<br>
Email: info@wavefarm.org
 </p><p> 
YOU UNDERSTAND AND AGREE THAT OUR LIABILITY FROM ANY DISPUTE OVER PRIVACY OR THIS PRIVACY POLICY WILL BE LIMITED AS SET FORTH IN THE TERMS AND CONDITIONS OF OUR APPLICABLE WEBSITE TERMS OF SERVICE, WHICH ARE INCORPORATED BY THIS REFERENCE.
</p><p> 
EFFECTIVE DATE: [January 1, 2019]
</p>
<h2>Wave Farm Terms of Service</h2>
<p> 
These Terms of Service (“Terms”) govern your access to and use of Wave Farm online platforms, such as our website (wavefarm.org) and the Wave Farm Radio App, which are provided and maintained by Wave Farm, Inc. and its subsidiary programs (the “Services”). By using the Services you agree to be bound by these Terms.  <b>If you are not able to meet the following requirements, then you must discontinue use of the Services immediately.</b>
 </p><p> 
1. Who May Use the Services: You may use the Services unless you are barred from receiving them under applicable laws. You must be at least 13 years old to use the Services, and by establishing any relationship with the Services you certify that you are of legal age to do so. If you are accepting these Terms and using the Services on behalf of any other legal entity, you represent and certify that you are authorized to do so.  At a baseline level, you agree that you: (a) will comply with these Terms of Service, (b) are solely responsible for any information you provide, and (c) represent that you are the owner of all of the information you provide and/or will submit accurate information to the best of your knowledge, or you have the necessary permissions and/or consents to submit such information.
 </p><p> 
Subject to these Terms, Wave Farm grants you a limited, personal, worldwide, royalty-free, revocable and non-exclusive license to use the Services we provide, for the sole purpose of utilizing the Services as provided by Wave Farm, in the manner permitted by these Terms. This license is non-transferable and non-assignable, and you shall not grant to any third party any right, permission, license or sublicense with respect to any of the rights granted hereunder without our prior written permission, which we may withhold in our sole discretion. All right, title, and interest in the Services (excluding user-generated content) are and will remain the property of Wave Farm and its licensors, and the Services are protected by copyright, trademark, and other laws. Nothing in the Terms gives you a right to use the Wave Farm name or any of its trademarks, logos, domain names, and other distinctive brand features without our prior written permission.
 </p><p> 
2. Privacy: Our Privacy Policy describes what sort of information we collect from you, how it is stored and processed, and your rights regarding such information. By using the Services, you consent to the collection and use of this information, including its transfer to the United States and other countries for storage, processing, and other activities as outlined by our Privacy Policy and these Terms. 
 </p><p> 
3. Content on the Services: You are ultimately responsible for your use of the Services and for any content you provide, including compliance with applicable laws, rules, and regulations. Any use or reliance on any content posted via the Services or obtained by you through the Services is at your own risk. We do not endorse or guarantee the completeness, truthfulness, accuracy, or reliability of any content or communications posted via the Services.
 </p><p> 
You understand that by using the Services you may be exposed to content that might be offensive, harmful, inaccurate, or otherwise inappropriate or, in some cases, content that has been mislabeled or is otherwise deceptive. All content is the sole responsibility of the person who originated it; we do not actively or intensively monitor the content posted via the Services and as such, we cannot take responsibility for it.
 </p><p> 
4. Your Content Rights: You retain your ownership rights to any content submitted, posted, or displayed on or through the Services. However, by creating or sharing content through the Services, you grant Wave Farm a worldwide, non-exclusive, irrevocable, perpetual, royalty-free, transferable license (with the right to sublicense through multiple tiers) to use, copy, perform, display, distribute, prepare derivative works of, or incorporate into other works, your content, in any and all media distribution platforms, now known or later developed. This includes the right for Wave Farm to provide, promote, and improve the Services and to make content on Wave Farm platforms available to other entities or individuals for broadcast, distribution, syndication, or publication, subject to our terms and conditions. These additional uses by Wave Farm and other entities may be made with no compensation to you.
 </p><p> 
You understand that we may modify your content as it is broadcasted, distributed, syndicated, or published by us and our partners in order to adapt the content to different media. This includes any feedback, comments, or suggestions you may provide about Wave Farm and its Services. You represent and warrant that you have all the rights, power and authority necessary under relevant intellectual property laws and regulations to grant the rights herein for any content that you submit.
 </p><p> 
Wave Farm has an evolving set of rules for how others can interact with your content on the Services. These rules exist to promote an open informational ecosystem with your rights in mind. We respect the intellectual property rights of others and expect users of the Services to do the same. We reserve the right to remove content alleged to be infringing at our sole discretion and without prior notice, without liability to you. We will respond to notices of alleged copyright infringement that comply with applicable law(s) and are properly provided to us. If you believe that your content has been utilized in a way that constitutes copyright infringement, please report this to us at:
 </p><p> 
Wave Farm, Inc.<br>
Attn: Executive Director<br>
PO Box 13<br>
5662 Route 23<br>
Acra, NY 12405<br>
Email: info@wavefarm.org
  </p><p> 
5. Content Guidelines: In consideration for Wave Farm granting you access to and use of the Services, you agree not to misuse the Services. While there are a number of factors that we consider to determine whether or not we should remove content on the Services, there are some basic rules that everyone should follow.
  </p><p> 
First, do not post or share content that depicts pornography or sexual acts, unless it is intentionally artistic, educational, or associated with newsworthy events. We have zero tolerance for any form of child sexual exploitation, and such content is illegal under U.S. law.
  </p><p> 
Second, do not post or share content that promotes or depicts unnecessary violence or graphic imagery, unless it has a bona fide artistic or newsworthy value.
  </p><p> 
Third, Do not post or share content that encourages, promotes, or depicts self-harm or suicide. If we receive reports that a person is engaged in or threatening such behavior, we may take a number of steps to address the issue, including reaching out and providing resources such as content information for mental health services.
  </p><p> 
Fourth, do not post or share content that is spam: this includes disseminating information for the sole purpose of directing users to an external site or service, or posting or sharing deliberately misleading content for this purpose.
  </p><p> 
Fifth, do not post or share content that has an unlawful purpose or furthers illegal activity. You must comply with all laws, both in our jurisdiction and yours, regarding online conduct and acceptable content.
  </p><p> 
Finally, do not post or share content that infringes on another’s intellectual property rights.
  </p><p> 
Breaking the guidelines outlined here may result in the removal of your content from the Services and/or the temporary or permanent disabling of any accounts you have on the Services. We reserve the right to create limits on the use and storage of information on the Services at any time, and may also suspend or terminate users, including the reclamation of usernames, without liability to you.
  </p><p> 
6. Service Integrity: You agree not to misuse or interfere with the Services by using a method other than the interface and instructions that we provide. Misuse or interference may result in the suspension or permanent exclusion of you and your content from the Services. Misuse or interference includes the following:
  </p><p> 
Accessing, tampering with, or using non-public elements of the Services, Wave Farm’s computer systems, or the technical delivery systems of Wave Farm’s providers;
  </p><p> 
Probing, scanning, or testing the vulnerability of any Service, its network, or circumventing any security measures;
  </p><p> 
Accessing, searching, and scraping the Services by any means, automated or otherwise, other than through Wave Farm’s available and published interfaces (pursuant to these Terms), unless you have been specifically allowed to do so in a separate agreement with Wave Farm. Crawling the services is permissible if done in accordance with the provisions of the Services’ robots.txt file(s);
  </p><p> 
Forging TCP/IP packet information in any manner, or otherwise use the Services to send altered, deceptive, or false source-identifying information; and
  </p><p> 
Interfering with or disrupting the access of any user, host or network to the Services, including virus or malware injection, flooding or spamming the Services with the intent to overload them, or by automating the creation of content in such a manner as to create an undue burden on the Services.
  </p><p> 
We also reserve the right to access, read, preserve, and disclose any information that we reasonably believe is necessary to satisfy any reasonable legal or regulatory request, enforce these Terms, including potential violations of them; detect, prevent, or otherwise address fraud, security, or technical issues; respond to user support requests; or protect the rights, property and safety of Wave Farm, its users, and the public.
  </p><p> 
7. Your Account: While you have the ability to control most communications from the Services, we may need contact you in order to provide service announcements and administrative messages. These communications are integral to the Services and you may not be able to opt-out from receiving them. It is your responsibility to keep your account information up to date, particularly with regard to contact information that may change, such as phone numbers and email addresses. You may change your notification preferences at any time within your account settings or by clicking “unsubscribe” in an email communication from us. We may attempt to verify your identity through certain secured means. If we cannot verify your identity, we may suspend or cancel your access to our Services.
Upon creating an account with us, you are expressly agreeing to a) these Terms, b) that we may use and maintain your personal data in accordance with our Privacy Policy, and c) you understand and agree that your personal information may be used, without any personally identifying information, in the aggregate, to aid us in providing better service to you and our user community.
You are solely responsible for all uses of your account. You should treat all passwords, usernames, and the like as confidential and you should not disclose them to any other person or entity. You agree to notify us immediately of any unauthorized access to or use of your user name or password or any other breach of security. If you would like to report any such access or cancel your account, you may do so by sending an email to info@wavefarm.org.
 
8. Ending These Terms: You may end your legal agreement with Wave Farm at any time by deactivating your account(s) and discontinuing your use of the Services. In order to deactivate a partner account, email info@wavefarm.org.
  </p><p> 
We reserve the right to suspend or terminate your account(s) or cease providing you with our Services at any time for any or no reason, including but not limited to the following reasons:
  </p><p> 
We reasonably believe you have violated these Terms;
  </p><p> 
You create risk or possible legal exposure for us;
  </p><p> 
Your account is in a state of prolonged inactivity; or
  </p><p> 
Our provision of the Services to you is no longer viable.
  </p><p> 
If any of these circumstances arise, we will make reasonable efforts to notify you via the email address you have associated with your account. In all such cases, this shall terminate your license to use the Services, though rights and obligations as defined in the Privacy, Content on the Services, Disclaimers and Limitations of Liability, and Revisions and Jurisdiction sections of these Terms remain in effect.
  </p><p> 
9. Disclaimers and Limitations of Liability: YOUR ACCESS TO AND USE OF THE SERVICES OR ANY CONTENT ON THE SERVICES ARE AT YOUR OWN RISK. YOU UNDERSTAND AND AGREE THAT THE SERVICES ARE PROVIDED TO YOU ON AN “AS IS” AND “AS AVAILABLE” BASIS. WITHOUT LIMITATION, AND TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, WAVE FARM DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
  </p><p> 
WAVE FARM MAKES NO WARRANTY OR REPRESENTATION AND DISCLAIMS ALL RESPONSIBILITY AND LIABILITY FOR: THE COMPLETENESS, ACCURACY, AVAILABILITY, TIMELINESS, SECURITY OR RELIABILITY OF THE SERVICES OR ANY CONTENT; ANY HARM TO YOUR COMPUTER SYSTEM, LOSS OF DATA, OR OTHER HARM THAT RESULTS FROM YOUR ACCESS TO OR USE OF THE SERVICES; THE DELETION OF, OR THE FAILURE TO STORE OR TRANSMIT, ANY CONTENT OR OTHER COMMUNICATIONS MAINTAINED BY THE SERVICES; AND WHETHER THE SERVICES WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. NO ADVICE OR INFORMATION OBTAINED FROM WAVE FARM IN ANY FORMAT OR FASHION WILL CREATE ANY WARRANTY OR REPRESENTATION NOT EXPRESSLY MADE HEREIN.
  </p><p> 
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WAVE FARM SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: YOUR ACCESS TO OR USE OF, OR INABILITY TO ACCESS OR USE THE SERVICES; ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; ANY CONTENT OBTAINED FROM THE SERVICES; OR UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR CONTENT.  UNDER NO CIRCUMSTANCES WILL WE BE RESPONSIBLE FOR ANY DAMAGES, INCLUDING BUT NOT LIMITED TO CONSEQUENTIAL DAMAGES OR PUNITIVE DAMAGES. IF, FOR ANY REASON, WE ARE DETERMINED TO HAVE FINANCIAL LIABILITY TO YOU, THE TOTAL LIABILITY SHALL BE LIMITED TO THE AMOUNT THAT YOU HAVE PAID US TO USE THE SERVICES, IF ANY.
  </p><p> 
THE LIMITATIONS OF THIS SECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT WAVE FARM HAS BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
  </p><p> 
10. Indemnity: You agree to indemnify us, our officers, members, employees and agents, from any loss or damage, including, but without limitation to, reasonable attorneys’ fees, the expenses and costs which we may suffer from your activities on or use of the service, or as a result of the use of the information provided through the services, including without limitation any breach by you of this agreement or any charges or complaints made by other parties against you. You shall cooperate as fully as reasonably required in the defense of any claim. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you; provided, however, that you shall remain liable for any such claim.
  </p><p> 
11. Revisions and Jurisdiction: We may revise these Terms from time to time. The changes will not be retroactive; the most current version of these Terms will govern our relationship with you. We will try to notify you of material revisions, for example via a service notification or an email to the contact information you provide. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms. You should revisit this page from time to time so that you are aware of any changes. If you do not agree to any changes we make to these terms, please discontinue use of the Services immediately. Any modification by you will be void and shall have no effect. We may change or discontinue the Services at any time without prior notice, and we reserve the right to terminate these Terms of Service at our election and for any reason, without prior notice.
  </p><p> 
The laws of the State of New York, excluding its choice of law provisions, will govern these Terms and any dispute that arises between you and Wave Farm. All disputes related to these Terms or the Services will be brought solely in the federal or state courts located in Greene County, New York, United States, and you consent to personal jurisdiction and waive any objection as to inconvenient forum.
  </p><p> 
If you are a federal, state, or local government entity in the United States using the Services in your official capacity, and are thus legally unable to accept the controlling law, jurisdiction, or venue clauses above, then those clauses do not apply to you[2]  . For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of New York (excluding choice of law).
  </p><p> 
In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect. Wave Farm’s failure to enforce any right or provision of these Terms does not constitute a waiver of such right or provision. The section headings used herein are for convenience only and shall be of no legal force or effect. These Terms of Service, our Privacy Policy and any other related terms constitute the sole and entire agreement between you and Wave Farm with respect to the Services and supersede all prior and contemporaneous understandings, representations, and warranties, both written and oral with respect to the Services.
  </p><p> 
If you have any questions about these Terms, please contact us:
  </p><p> 
Wave Farm Inc.<br>
PO Box 13<br>
5662 Route 23<br>
Acra, NY 12405 U.S.A.<br>
info@wavefarm.org</p>



</div>
