<div class="programs page">
  <h1>PROGRAMS</h1>
  <a class= "ta programs-header" href="//transmissionarts.org">
    <div class="programs-icon"></div>
    <h2>TRANSMISSION ARTS</h2>
  </a>
  <p>Wave Farm Artist Residencies is an international visiting artist program focused on Transmission Art, and the Transmission Arts Archive presents a living genealogy of artists’ experiments with broadcast media and the airwaves, featuring a 24/7 Online Radio feed.</p>
<a href="http://transmissionarts.org/residencies">ARTISTS RESIDENCIES</a><br />
<a href="http://transmissionarts.org/research">STUDY CENTER</a>br />
<a href="http://transmissionarts.org/artist">TRANSMISSION ARTS ARCHIVE</a>br />
<a href="http://transmissionarts.org/listen">WAVE FARM RADIO</a>br />

  <a class="wgxc programs-header" href="//wgxc.org">
    <div class="programs-icon"></div>
    <h2>WGXC (90.7-FM)</h2>
  </a>
  <p>A creative community radio station based in New York’s Greene and Columbia counties. Hands-on access and participation activate WGXC as a public platform for information, experimentation, and engagement.</p>
  <ul>
    <li><a href="http://wgxc.org/schedule">90.7-FM SCHEDULE</a></li>
    <li><a href="http://newsroom.wgxc.org">NEWSROOM</a></li>
    <li><a href="http://wgxc.org/resources">PROGRAMMER RESOURCES</a></li>
    <li><a href="http://wgxc.org/events">COMMUNITY CALENDAR</a> </li>
  </ul>
  <a class="mag programs-header" href="http://mediaartsgrants.org">
    <div class="programs-icon"></div>
    <h2>MEDIA ARTS GRANTS</h2>
  </a>
  <p>A Regrant Partnership with NYSCA, Electronic Media and Film, The Media Arts Assistance Fund supports electronic media and film organizations, as well as individual artists, in all regions of New York State.</p>
  <ul>
    <li><a href="http://free103point9.org/grants">FOR ARTISTS</a></li>
    <li><a href="http://free103point9.org/grants/technical">FOR ORGANIZATIONS</a></li>
    <li><a href="http://nymediaartsmap.org">NYS MEDIA ARTS MAP</a>
  </ul>
</div>
