<link href="/sched-cal.css" rel="stylesheet" />

<div class="wf-item page">
  <h1 class="item-main">
    <strong>{{{show}}}</strong>
    <span class="main">{{{itemMain}}}</span>
    <span class="icons">{{{icons}}}</span>
    
    	{{#podcastURL}}
			<span class="podcast-icons">
				<div class="podcast-link"><a href="{{{podcastURL}}}"><img width="150" src="/images/PodcastURLButton.png" /></a></div>
				<div class="podcast-instructions-link"><a href="{{{podcastURL}}}"><img width="225" src="/images/HowToSubscribeButton.png" /></a></div>				
			</span>		
    	{{/podcastURL}}
    
    <span class="subtitle">{{{subtitle}}}</span>
  </h1>
		<div class="podcast-instructions">
			<h3>How to subscribe to this show</h3>
			<ol>
				<li>Copy the show's RSS URL {{{podcastURL}}}</li>
				<li>Open your favorite podcast player or app</li>
				<li>Look for the “Add a Podcast by URL” option. (On the iPhone Podcast App, click Library and then Edit. In iTunes, go to File and select “Subscribe to Podcast" )</li>
				<li>Paste the show’s RSS URL and you are subscribed!</li> 				
			</ol>
		</div>
  
  <div class="item-dates"><strong>{{dates}}</strong></div>
  <div class="item-location">{{{locations}}}</div>
  <div class="item-detail"><strong>{{detail}}</strong></div>
  <div class="item-detail2"><strong>{{detail2}}</strong></div>
  <img class="item-main-image" />
  <div class="item-credits"><p>{{{credits}}}</p></div>
  <div class="description">{{{description}}}</div>
  <div class="related-items-container">{{> relatedItems}}</div>
</div>

