<link href="/sched-cal.css" rel="stylesheet" />

<div class="wf-item page">
  <h1 class="item-main">
    <strong>{{{show}}}</strong>
    <span class="main">{{{itemMain}}}</span>
    <span class="icons">{{{icons}}}</span>
    
    	{{#podcastURL}}
			<span class="newsroom-icons">
				<span>Subscribe:</span><a href="{{{itunesPodcastURL}}}"><img src="/images/podcast_itunes.png" width="37" height="49"></a><a href="{{{podcastURL}}}"><img src="/images/podcast_other.png" width="37" height="40"></a>
			</span>		
    	{{/podcastURL}}
    
    <span class="subtitle">{{{subtitle}}}</span>
  </h1>
  <div class="item-dates"><strong>{{dates}}</strong></div>
  <div class="item-location">{{{locations}}}</div>
  <div class="item-detail"><strong>{{detail}}</strong></div>
  <div class="item-detail2"><strong>{{detail2}}</strong></div>
  <img class="item-main-image" />
  <div class="item-credits"><p>{{{credits}}}</p></div>
  <div class="description">{{{description}}}</div>
  <div class="related-items-container">{{> relatedItems}}</div>
</div>
