<div class="programs page">
  <h1>PROGRAMS</h1>
  
  
  <a class="wgxc programs-header" href="//wavefarm.org/wgxc">
    <div class="programs-icon"></div>
    <h2>Wave Farm Radio</h2>
  </a>
  <p>Wave Farm Radio encompasses many radio streams available at wavefarm.org/listen and the Wave Farm Radio App. WGXC 90.7-FM: Radio for Open Ears is a full-power, non-commercial, listener-supported station in New York’s Upper Hudson Valley operating out of studios in Hudson and the Wave Farm Study Center in Acra. Site-specific and interactive installations by artists sonify Wave Farm’s 29-acre property and feature live online audio streams. Wave Farm's Transmit Partners program is a growing network of like-minded organizations and individuals around the globe.  
</p>
   <a href="/listen" target="_new">Wave Farm Listen</a><br />
<a href="/appcredits"> Wave Farm Radio App</a><br />
  <a href="/wgxc/about">WGXC: Radio for Open Ears</a>
  <li><a href="/wgxc/schedule">90.7-FM Schedule</a></li>
<li><a href="http://newsroom.wgxc.org">Newsroom</a></li>
<li><a href="/wgxc/volunteer">Programmer Resources</a></li>
<li><a href="/wgxc/calendar">Community Calendar</a></li>
  <a href="/map">Property Installations and Streams</a><br />
  <a href="/appcredits">Transmit Partner Program</a><br />
 

  
  <a class= "ta programs-header" href="//transmissionarts.org">
    <div class="programs-icon"></div>
    <h2>Transmission Arts</h2>
  </a>
  <p>Wave Farm supports artistic projects that engage the electromagnetic spectrum, transmitted on the airwaves and through public presentation. The Wave Farm Artist Residency Program supports visiting artists from around the globe; the Study Center library features a specialized research collection; and, the Transmission Arts Archive presents a living genealogy of artists’ experiments with broadcast media and the airwaves. </p>
<a href="/ta/residencies">Artist Residency Program</a><br />
<a href="/ta/research">Study Center</a><br />
<a href="/ta/archive">Transmission Art Archive</a><br />


  
  
    <a class="mag programs-header" href="/mag">
  
    <div class="programs-icon"></div>
    <h2>Grants</h2>
  </a>
  <p>Wave Farm in partnership with NYSCA EMF supports electronic media and film organizations, as well as individual artists, in all regions of New York State. For individual artists, the Media Arts Assistance Fund (MAAF) provides support for the completion, as well as distribution and exhibition, of works in all genres of sound and moving image art, including emergent technology. For organizations, MAAF provides funds to hire outside consultants to support organizational and professional development, as well as supports peer-to-peer mentoring and convening and conference attendance. The NY Media Arts Map identifies art and technology networks, services, and opportunities throughout the State. 
</p>
<a href="/mag/artists">MAAF for Artists</a><br />
<a href="/mag/organizations">MAAF for Organizations</a><br />
<a href="/mag/map">New York Media Arts Map</a>
</div>
