
	<div class="social-icons-container">
		<div class="addthis_sharing_toolbox"></div>
	</div>
	
	<div class="related-item-section-list">
		<div class="related-item-section">
			<h2><span>click to expand</span></h2>
			<div class="related-item-list">
				<div class="related-item" >
					<p class="related-item-main"><a href=""></a><span></span></p>
					<p class="related-item-detail"></p>
				</div>
			</div>
		</div>		
	</div>	

	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578d36c358fbd87a"></script>
