<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wave Farm</title>
    <link href="/styles/base.css" rel="stylesheet" />
  </head>
  <body>
    <div class="tophead">
      <form class="search" action="/">
        <input type="text" name="q" id="q" placeholder="search">
      </form>
    </div>
    <header>
      <h1 class="logo"><a href="/">Wave Farm</a></h1>
      <div class="ta-logo"><a href="//transmissionarts.org">Transmission Arts</a></div>
      <div class="wgxc-logo"><a href="//wgxc.org">WGXC 90.7-FM</a></div>
      <div class="mag-logo"><a href="//mag.wavefarm.org">Media Arts Grants</a></div>
    </header>
    <div id="main"></div>
    <div class="footer-container">
      <footer>
        <nav class="primary1">
          <div><a href="/about">About</a></div>
          <div><a href="/programs">Programs</a></div>
          <div><a href="/events">Events</a></div>
          <div><a href="/archive">Archive</a></div>
          <div><a href="/newsroom">Newsroom</a></div>
        </nav>
        <nav class="primary2">
          <div><a href="/support">Support</a></div>
          <div><a href="/contact">Contact</a></div>
        </nav>
        <div class="studios">
          <div><span>Wave Farm/WGXC Acra Studio</span><span>5662 Route 23 (518) 622-2598</span></div>
          <div><span>WGXC Hudson Studio</span><span>704 Columbia St (518) 697-7400</span></div>
          <div><span>WGXC Catskill Studio</span><span>341 Main Street (518) 291-9294</span></div>
        </div>
        <div class="social">
          <a href="twitter">T</a>
          <a href="facebook">F</a>
          <a href="stumble">S</a>
          <a href="mailing">M</a>
        </div>
        <div class="fineprint">
          <span class="copyright">©free103point9</span>
          <a class="legal" href="/legal">Legal</a>
          <a class="privacy" href="/privacy">Privacy</a>
        </div>
      </footer>
    </div>
  </body>
</html>
