<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wave Farm</title>
    <link href="/styles/base.css" rel="stylesheet" />
  </head>
  <body>
    <div class="tophead">
      <form class="search" action="/">
        <input type="text" name="q" id="q" placeholder="search">
      </form>
    </div>
    <header>
      <h1 class="logo"><a href="/">Wave Farm</a></h1>
    </header>
    <div id="main"></div>
    <footer>
      <div>Footer content</div>
    </footer>
  </body>
</html>
