<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wave Farm</title>
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="/styles/base.css" rel="stylesheet">
  </head>
  <body>
    <div class="tophead-container">
      <div class="tophead-fill">
        <div class="tophead">
          <div class="search">
            <form action="/">
              <input type="text" name="q" id="q" placeholder="SEARCH">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <header>
        <h1 class="logo"><a href="/">Wave Farm</a></h1>
        <div class="ta-logo"><a href="//transmissionarts.org">Transmission Arts</a></div>
        <div class="wgxc-logo"><a href="//wgxc.org">WGXC 90.7-FM</a></div>
        <div class="mag-logo"><a href="//mediaartsgrants.org">Media Arts Grants</a></div>
      </header>
      <div class="main">
        <div class="slideshow">
          <!--<img src="//data.free103point9.org/r/fj/e6/yt/reversemouth__062609.jpg">-->
          <img src="//data.free103point9.org/r/je/dm/bd/peterson.jpg">
        </div>
      </div>
      <div class="edge round">
        <div class="edge-handle">· · · · · · · · LISTEN LIVE · · · · · · · ·</div>
        <div class="edge-wgxc round">
          <h1>WGXC 90.7-FM</h1>
          <div class="listen">LISTEN NOW</div>
        </div>
        <div class="edge-wf round">
          <h1>WAVE FARM RADIO</h1>
          <div class="listen">LISTEN NOW</div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="footer-fill">
        <footer>
          <nav class="primary1">
            <a href="/about">ABOUT</a>
            <a href="/programs">PROGRAMS</a>
            <a href="/events">EVENTS</a>
            <a href="/archive">ARCHIVE</a>
            <a href="/newsroom">NEWSROOM</a>
          </nav>
          <nav class="primary2">
            <a href="/support">SUPPORT</a>
            <a href="/contact">CONTACT</a>
          </nav>
          <div class="studios">
            <div>· <span class="studio-name">Wave Farm/WGXC Acra Studio</span> · <span class="studio-info">5662 Route 23 (518) 622-2598</span> ·</div>
            <div>· <span class="studio-name">WGXC Hudson Studio</span> · <span class="studio-info">704 Columbia St (518) 697-7400</span> ·</div>
            <div>· <span class="studio-name">WGXC Catskill Studio</span> · <span class="studio-info">341 Main Street (518) 291-9294</span> ·</div>
          </div>
          <div class="fineprint">
            <a class="copyright" href="/about">© Wave Farm</a>
            <a class="legal" href="/legal">LEGAL</a>
            <a class="privacy" href="/privacy">PRIVACY</a>
          </div>
          <div class="social">
            <a href="twitter">T</a>
            <a href="facebook">F</a>
            <a href="stumble">S</a>
            <a href="mailing">MAILING LIST</a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
