/* 
 * Some bits borrowed from
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
a {
  text-decoration: none;
}
body {
  line-height: 1;
}
img {
  max-width: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
footer {
  margin: 0 auto;
  max-width: 960px;
}
footer a {
  color: #ddd;
}
footer nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 20px 0;
}
footer nav a {
  padding: 0 5px;
}
header {
  margin: 0 auto;
  max-width: 960px;
}
header div {
  float: left;
  padding: 90px 0;
  width: 200px;
}
header h1 {
  float: left;
  padding: 90px 0;
  width: 360px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0;
}
.main-container {
  background: #eee;
  overflow: auto;
  padding: 20px 0;
}
.copyright {
  color: #aaa;
  font-size: 14px;
}
.edge {
  background: black;
  color: white;
  left: -20px;
  padding: 5px 30px 5px 0;
  position: absolute;
  top: 70px;
  width: 300px;
}
.edge h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 0 20px 0;
}
.edge-handle {
  background: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 0;
  left: -74px;
  z-index: 0;

  /* Rotate from http://css-tricks.com/snippets/css/text-rotation/ */
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: bottom right;
  -moz-transform-origin:    bottom right;
  -ms-transform-origin:     bottom right;
  -o-transform-origin:      bottom right;
}
.edge-wf, .edge-wgxc {
  background: white;
  color: black;
  height: 200px;
  margin: 10px 0;
  padding: 10px 5px 10px 25px;
}
.fineprint {
  float: left;
  padding: 30px 0 0 0;
}
.footer-container {
  background: black;
  color: white;
  padding: 3px 0 0 0;
}
.footer-fill {
  height: 140px;
  border-top: 1px solid #eee;
}
.listen {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.primary1 {
  float: left;
}
.primary2 {
  float: right;
}
.round {
  /* 
   * From http://css-tricks.com/almanac/properties/b/border-radius/
   * Safari 3-4, iOS 1-3.2, Android 1.6- 
   */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px;
}
.search {
  float: right;
}
.search form {
  position: relative;
  top: 40px;
}
.search input {
  border: 1px solid black;
  padding: 1px 2px;
  width: 250px;
}
.slideshow img {
  border: 1px solid black;
}
.social {
  float: left;
  padding: 30px 0 0 20px;
}
.studio-info {
  color: #aaa;
}
.studios {
  clear: both;
  float: right;
  text-align: right;
}
.tophead {
  margin: 0 auto;
  max-width: 960px;
}
.tophead-container {
  background: black;
  padding: 0 0 3px 0;
}
.tophead-fill {
  height: 50px;
  border-bottom: 1px solid #eee;
}
