/* 
 * Some bits borrowed from
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* General styles */
a {
  text-decoration: none;
}
body {
  background: black;
  color: white;
  line-height: 1;
}
img {
  border: 1px solid black;
  max-width: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alt-text {
  display: none;
}

/* Header */
header {
  margin: 0 auto;
  max-width: 960px;
}
.search {
  float: right;
}
.search form {
  position: relative;
  top: 22px;
}
.search input {
  border: 1px solid black;
  padding: 1px 2px;
  width: 250px;
}
.header-container {
  background: url('/images/header.png') 50% 0% no-repeat;
  padding: 0 0 3px 0;
}
.header-fill {
  height: 30px;
  border-bottom: 1px solid #fff;
}

/* Head */
.head {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  overflow: auto;
}
.head a {
  color: black;
}
.logo {
  background: url('/images/logo-set.png') no-repeat;
}
.mag .logo {
  background-position: -215px -305px;
  height: 67px;
  width: 68px;
}
.mag:hover .logo {
  background-position: -218px -385px;
}
.sub {
  float: left;
  margin: 100px 0 0 0;
  text-align: center;
  width: 210px;
}
.sub .logo {
  margin: 16px auto;
}
.ta .logo {
  background-position: 0px -303px;
  height: 67px;
  width: 76px;
}
.ta:hover .logo {
  background-position: 0px -385px;
}
.wf.logo {
  background-position: -2px 0px;
  float: left;
  height: 284px;
  width: 284px;
  margin: 0 38px 0 0;
}
.wgxc .logo {
  background-position: -110px -309px;
  height: 67px;
  width: 67px;
}
.wgxc:hover .logo {
  background-position: -110px -387px;
}

/* Primary nav */
nav.primary {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 30px 0 80px 0;
  min-width: 960px;
  padding: 5px 0;
  text-align: center;
}
nav.primary a {
  color: black;
}
nav.mag {
  background: #6dcff6;
}
nav.ta {
  background: #ffcd32;
}
nav.wgxc {
  background: #6fb43f;
}

/* Footer */
footer {
  margin: 0 auto;
  max-width: 960px;
}
footer a {
  color: #ddd;
}
footer nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 20px 0;
}
footer nav a {
  padding: 0 5px;
}
nav.wf1 {
  float: left;
}
nav.wf2 {
  float: right;
}
.copyright {
  color: #aaa;
  font-size: 14px;
}
.fineprint {
  float: left;
  padding: 30px 0 0 0;
}
.fineprint a {
  padding: 0 5px;
}
.footer-container {
  padding: 3px 0 0 0;
}
.footer-fill {
  height: 140px;
  border-top: 1px solid #eee;
}
.social {
  float: left;
  padding: 30px 0 0 20px;
}
.studio-info {
  color: #aaa;
}
.studios {
  clear: both;
  float: right;
  text-align: right;
}

/* Listen slider */
.listen {
  background: black;
  color: white;
  left: -20px;
  padding: 5px 30px 5px 0;
  position: absolute;
  top: 70px;
  width: 300px;
}
.listen h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 0 20px 0;
}
.listen-handle {
  background: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 0;
  left: -74px;
  z-index: 0;
  /* Rotate from http://css-tricks.com/snippets/css/text-rotation/ */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: bottom right;
  -moz-transform-origin:    bottom right;
  -ms-transform-origin:     bottom right;
  -o-transform-origin:      bottom right;
}
.listen, .listen-wgxc, .listen-wf {
  /* From http://css-tricks.com/almanac/properties/b/border-radius/ */
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 12px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px;
}
.listen-wf, .listen-wgxc {
  background: white;
  color: black;
  margin: 10px 0;
  padding: 10px 5px 10px 25px;
}
.listen-wf div, .listen-wgxc div {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/* Main content area */
.main {
  margin: 0 auto;
  max-width: 960px;
}
.main-container {
  background: #eee;
  color: #000;
  overflow: auto;
  padding: 20px 0;
}

/* Slideshow */
.pointer {
  border-top:0px solid transparent;
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-bottom:20px solid black;
  height:0;
  left: 412px;
  position: relative;
  width:0; 
}
.slideshow img {
  height: 540px;
  width: 960px;
}

/* Pages */
.page {
  padding: 40px 0;
}
.page h1 {
  border-bottom: 1px solid black;
}
