<div class="page">
  <h1>FOR NYS MEDIA ARTISTS</h1>
  <p><a href="http://data.free103point9.org/r/bw/wn/2s/PressRelease_MAAF_Artists_20140401.pdf" target="_new">LATEST NEWS: April 1, 2014 Press Release Announcing 2014 Grantees</a></p>
  <h2>NEXT APPLICATION DEADLINE: JANUARY 1</h2>
  <p>For individual artists, the The Media Arts Assistance Fund provides support for the distribution and exhibition of works in all genres of time-based and moving image media, including emergent technology. Grant awards assist artists in making recently completed works available to public audiences, and advance artistic exploration and public engagement in the media arts. Applications for support are due on January 1, annually.</p>
  <p>A regrant program for the New York State Council on the Arts, Electronic Media and Film, grant awards assist artists in meeting expenses such as: duplication of preview, screening, and exhibition copies; promotional materials including documentation and schematics of media-installation and new-media works. Project mentors provide grantees with expert guidance as they execute their distribution and exhibition plans. Artists may request funding support up to a maximum amount of $10,000.</p>
  <h2>APPLICATIONS MUST BE SUBMITTED ONLINE</h2>
  <p class="biglink"><a href="https://docs.google.com/forms/d/1JTnQh_sRiYarOPUiwTQ9csxrteZiB6G4egpei6vJiJU/viewform" target="_blank">ONLINE APPLICATION FORM >>></a></p>
  <p>IMPORTANT NOTE: The application form consists of six pages of questions organized in the following categories: Contact, Artist, Work, Plan, Budget, Supporting Materials. You are encouraged to preview the entire set of questions and prepare your full application offline before beginning the submission process. <a href="http://data.free103point9.org/r/2j/j0/nm/MAAF_artist_application_ref.docx">Download the application preview here.</a> Please note that Google Forms does not offer a "save your application" option, so archiving an offline version of your proposal is strongly recommended.</p>
  <h2>ELIGIBILITY NOTES</h2>
  <ul>
    <li>Artists must reside in New York State.</li>
    <li>Funding may not be used for travel expenses outside of New York State.</li>
    <li>The Work proposed for support must have been completed in the calendar year preceding the application deadline.</li>
    <li>The applicant must have all rights to distribute and exhibit the Work as proposed.</li>
    <li>A sponsoring organization is not required.</li>
    <li>Works-in-progress (including works in post-production) will not be considered.</li>
    <li>Students works are ineligible. Exceptions may be made on a case-by-case basis for career artists who may have returned to school for post-graduate work.</li>
  </ul>
  <h2>FUNDING CRITERIA</h2>
  <p>Selections will be based on artistic quality and the strength of the proposed distribution/exhibition plan. A strong distribution/exhibition plan is a focused, practical, and innovative (or creative) effort to reach an work-appropriate audience.</p>
  <h2>REVIEW PROCESS</h2>
  <ul>
    <li>Applications will be reviewed by Wave Farm staff for completeness and guideline compliance.</li>
    <li>All eligible applications will then be reviewed by a peer panel comprised of NYS media arts professionals.</li>
    <li>Review panelists collectively select and recommend the grant recipients to the Council.</li>
    <li>The review panel convenes in January, with grantees approved by the Council announced in February.</li>
    <li>The names of the panelists for each cycle remain confidential until after the grants are announced.</li>
    <li>All applications will be reviewed in a manner consistent with <a href="http://www.nysca.org/public/grants/review_process.htm" target="_blank">the policies and procedures of NYSCA.</a></li>
  </ul>
  <h2>FREQUENTLY ASKED QUESTIONS</h2>
  <dl class="qa">
    <dt>What is the application deadline?</dt>
    <dd>Applications are submitted electronically through an online Google Form and must be submitted on-line by 11:59 p.m. January 1.</dd>
  </dl>
  <dl class="qa">
    <dt>May I submit materials offline?</dt>
    <dd>Applications must be submitted online. Your Project Work Sample (an excerpt up to 5 min.) must be available online. Additional support materials (such as the complete copy of a linear work) may be sent by USPS, FedEx, UPS, etc, and must be postmarked by December 31, 2013 and mailed to:<br>
    Wave Farm<br>
    Attn: Media Arts Grants<br>
    5662 Route 23<br>
    Acra, NY 12405<br>
    *Please note that these items will not be returned.</dd>
  </dl>
  <dl class="qa">
    <dt>When will applicants be notified about funding?</dt>
    <dd>Award notification will be sent to all applicants February.</dd>
  </dl>
  <dl class="qa">
    <dt>May I submit more than one application?</dt>
    <dd>Yes, but no more than two applications will be accepted from a single applicant. However, remember that one strong application will be more competitive than multiple applications of lesser quality.</dd>
  </dl>
  <dl class="qa">
    <dt>Does this grant support expenses related to travel outside of New York State?</dt>
    <dd>No, it does not. Your distribution/exhibition plan at large can include out of state travel, but you must show other income in your budget that meets this expense.</dd>
  </dl>
  <dl class="qa">
    <dt>If I am incurring expenses related to my distribution plan prior to the notification date, and my project receives support, am I able to allocated funds towards those past expenses?</dt>
    <dd>No. Funding awarded through this Distribution Grant must be used to meet eligible expenses incurred during the Grant Period, which will follow notification of support.</dd>
  </dl>
  <dl class="qa">
    <dt>Is there information available about Past Grantees?</dt>
    <dd>Yes. Please click for information on grantees, projects, and panelists for any of the following years: <a href="http://newsroom.free103point9.org/2012/12/30/2013-distribution-grant-for-new-york-state-artists-recipients-announced/" target="_blank">2013</a>, <a href="http://newsroom.free103point9.org/?p=850" target="_blank">2012</a>, <a href="http://newsroom.free103point9.org/?p=756" target="_blank">2011</a>, <a href="http://newsroom.free103point9.org/?p=7" target="_blank">2010</a>, and <a href="http://newsroom.free103point9.org/?p=133" target="_blank">2009</a>.</dd>
  </dl>
  <h2>CONTACT INFORMATION FOR QUESTIONS</h2>
  <p>Questions regarding your application should be directed to <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a>. Please note that we will respond in as timely a fashion as possible prior to the deadline, however we recommend that you submit all questions well in advance of the application deadline.</p>

    <h1>FINAL REPORT FORMS FOR CURRENT GRANTEES:</h1>
  <p>Final Reports are due no later than February 1.<br /><br />
    <a href="https://docs.google.com/forms/d/17YS_rTitpzjdnkutSwNwZAwPYvx7_7d72Uvv4PtBkQI/viewform" target="_blank">Final Report Form >>> </a><br>

  
  
</div>
