<div class="page">
  <h1>ABOUT MEDIA ARTS GRANTS</h1> 
  <p>
Wave Farm's Media Arts Grants program includes fiscal sponsorship as well as the New York State Council on the Arts in Partnership with Wave Farm: Media Arts Assistance Fund (MAAF) and New York Media Arts Map, which support electronic media and film organizations, as well as individual artists, in all regions of New York State through a regrant from the NYSCA Electronic Media and Film program.</p>
  

  
  <h2>New York State Council on the Arts in Partnership with Wave Farm:</h2>
  <h4>MEDIA ARTS ASSISTANCE FUND (MAAF)</h4>
  <p>
  The New York State Council on the Arts in Partnership with Wave Farm: Media Arts Assistance Fund (MAAF) supports electronic media and film organizations, as well as individual artists, in all regions of New York State. The Fund provides unique and critical support with a focus on sustainability and public engagement. MAAF is made possible through a regrant from the NYSCA Electronic Media and Film program. Please direct all questions to mag@wavefarm.org.
</p>
 
  <h2><a href="/mag/artists">MAAF For Artists</a></h2>
  <p>Grants to media artists support the distribution and exhibition of works in all genres of time-based and moving image media, including emergent technology. <a href="https://wavefarm.org/mag/artists">Click here for more information.</a></p>
  
  <h2><a href="/mag/organizations">MAAF For Organizations</a></h2>
  <p>Grants to media arts organizations provide funds to hire outside consultants to support organizational and professional development, as well as convening and conference attendance. <a href="https://wavefarm.org/mag/organizations">Click here for more information.</a></p>
 <br />
  
 <h2><a href="https://wavefarm.submittable.com/submit/bfb08549-0ab4-4fae-a819-98fc5f4e5868/media-match-up-day-november-1-2017" target="_new">Media Match-Up Day : November 1</a><br>
   Application Deadline is Oct. 16, 2017</h2>
 
<p>As we know, technology is an ever-evolving event that challenges our capacity to meet the benefits of its creative potential. And often, there is no greater benefit than learning from our peers. Media Match-Up Day is launching Nov 1 as an annual event to highlight our media arts organizations around NYS State, and to encourage EMF/VAP organizations to travel, site visit, see what others are doing, and how they are talking about it. Can’t travel that day? No problem! Go another time! 
  </p><p>
Media Match-Up Travel Support. The Media Arts Assistance Fund (MAAF), a NYSCA EMF/Wave Farm Partnership will provide organizations with up to $500 in funding to support travel expenses related to a professional visit to a peer media arts organization anywhere in New York State. This opportunity is available to NYS Media Arts Organizations and does not impact eligibility for additional support from MAAF in the same fiscal year. <a href="https://wavefarm.submittable.com/submit/bfb08549-0ab4-4fae-a819-98fc5f4e5868/media-match-up-day-november-1-2017" target="_new">Click here to apply.</a></p>
   <p><a href="http://arts.ny.gov/" target="_blank"><img src="https://data.wavefarm.org/r/15/wh/a9/NYSCA-Logo---Black.gif" height="75"></a></p>
  
  <h2>New York State Council on the Arts in Partnership with Wave Farm:</h2>
  <h4>NEW YORK MEDIA ARTS MAP</h4> 
  <p><a href="http://nymediaartsmap.org/" target="_new">http://nymediaartsmap.org/</a></p>
  <p>
Designed for cultural organizations, artists, and the general public, the New York State Council on the Arts in Partnership with Wave Farm: New York Media Arts Map features organizations with a deep commitment to media art and to technology as an art form. The Map is a vital tool for identifying art and technology networks, services and opportunities throughout New York State, connecting us to each other and to essential information about Media Arts statewide. The Map features a variety of resources including a funding calendar, consultant directory and convening archive. The Map also identifies contemporary media art activities, events and initiatives on a local and regional scale, representing a broad spectrum of independent media practice.</p>

<p><i>Hosted by Wave Farm, the Map is a project of the <a href="http://arts.ny.gov/" target="_blank">NYSCA Electronic Media & Film Program</a>, funded by the New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature.</i></p>
  <br>
  <p><a href="http://www.nysca.org" target="_blank"><img src="https://data.wavefarm.org/r/15/wh/a9/NYSCA-Logo---Black.gif" height="75"></a></p>

   <h1>FISCAL SPONSORSHIP</h1> 
  <p>
In addition to the opportunities and resources above, Wave Farm provides fiscal sponsorship to artists on a case-by-case basis for projects that are aligned with Wave Farm's organizational mission. Inquiries should be directed to <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a> well in advance of any related grant deadline.</p>
 
  
</div>
