<div class="page">
  <h1>ABOUT MEDIA ARTS GRANTS</h1> 
  <p>
  The Media Arts Assistance Fund supports electronic media and film
  organizations, as well as individual artists, in all regions of New York
  State. The Fund provides unique and critical support with a focus on
  sustainability and public engagement. </p>
 
  <a href="/artists"><h2>FOR ARTISTS</h2></a>
 <p> Grants to media artists support the distribution and exhibition of works in all genres of time-based and moving image media, including emergent technology. Funding assists artists in making recently completed works available to public audiences.</p>
  
    <a href="/organizations"><h2>FOR ORGANIZATIONS</h2></a>
 <p>Grants to media arts organizataions address capacity and technology needs, providing funds to hire outside consultants in three areas critical for organizations, who face unique challenges in a field of rapid technology development.</p>
 
   <a href="/map"><h2>NYS MEDIA ARTS MAP</h2></a>
 <p> Hosted by Rhizome 2009-2013, this map identifies organizations, networks, and related links throughout NYS and beyond, that offer a variety of media arts services and information. Coming soon, in 2014, Wave Farm will manage a significant overhaul of The NYS Media Arts Map. A vital connecting point for cultural organizations and the general public interested in electronic art, media, and film statewide, the new Map will dynamically profile organizations and their public programs. Online discussion and networking opportunities will facilitate communication and collaboration, while virtual tours will provide the general public with new information and access.</p>
  <p></p><p></p>
 <p>Questions about the Media Arts Grants program should be directed to <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a>.
  </p>
  <p>
 Wave Farm's Media Arts Grant program is made possible by a Regrant Partnership with the <a href="http://www.nysca.org" target="_blank">New York State Council on the Arts</a>, <a href="http://www.nysca.org/public/guidelines/common/electronic_media_guidelines.pdf" target="_blank">Electronic Media and Film Program</a>.</p>
 <p></p>
 <a href="http://www.nysca.org" target="_blank"><img src="http://data.free103point9.org/r/th/ey/4p/nysca_200px.gif"></a>
</div>
