<div class="page">
  <h1>ABOUT MEDIA ARTS GRANTS</h1> 
  <p>
  The Media Arts Assistance Fund supports electronic media and film
  organizations, as well as individual artists, in all regions of New York
  State. The Fund provides unique and critical support with a focus on
  sustainability and public engagement.</p>
 
  <h2><a href="/mag/artists">FOR ARTISTS</a></h2>
  <p>Grants to media artists support the distribution and exhibition of works in all genres of time-based and moving image media, including emergent technology. Funding assists artists in making recently completed works available to public audiences.</p>
  
  <h2><a href="/mag/organizations">FOR ORGANIZATIONS</a></h2>
  <p>Grants to media arts organizations address capacity and technology needs, providing funds to hire outside consultants in three areas critical for organizations, who face unique challenges in a field of rapid technology development.</p>
 
  <h2><a href="/mag/map">NYS MEDIA ARTS MAP</a></h2>
  <p>In order to strengthen and promote the Media Arts throughout New York State, Wave Farm will execute a significant overhaul of <a href="http://nymediaartsmap.org/" target="_blank">nymediaartsmap.org</a> in 2014. The new Map will dynamically represent the field, and provide a platform for networking and resource sharing, without burdening the organizations it represents.</p>
  <br>
  <p>Questions about the Media Arts Grants program should be directed to <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a>.</p>
  <p>Wave Farm's Media Arts Grants program is made possible by a Regrant Partnership with the <a href="http://www.nysca.org" target="_blank">New York State Council on the Arts</a>, <a href="http://www.nysca.org/public/guidelines/common/electronic_media_guidelines.pdf" target="_blank">Electronic Media and Film Program</a>.</p>
  <br>
  <p><a href="http://www.nysca.org" target="_blank"><img src="http://data.free103point9.org/r/th/ey/4p/nysca_200px.gif" width="150"></a></p>
</div>
