<h1>NYS MEDIA ARTS MAP</h1>
<p>Hosted by Rhizome 2009-2013, this map identifies organizations, networks, and related links throughout NYS and beyond, that offer a variety of media arts services and information. Coming soon, in 2014, Wave Farm will manage a significant overhaul of <a href="http://nymediaartsmap.org" target="_blank">The NYS Media Arts Map</a>. A vital connecting point for cultural organizations and the general public interested in electronic art, media, and film statewide, the new Map will dynamically profile organizations and their public programs. Online discussion and networking opportunities will facilitate communication and collaboration, while virtual tours will provide the general public with new information and access.
</p>
<p>
<h2>CONTACT INFORMATION FOR QUESTIONS</h2>
Questions regarding your application should be directed to <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a>. Please note that we will respond in as timely a fashion as possible prior to the deadline, however we recommend that you submit all questions well in advance of the application deadline.
</p>
