<div class="page">

<h1>NYS MEDIA ARTS MAP</h1>
<p>In order to strengthen and promote the Media Arts throughout New York State, Wave Farm will execute a significant overhaul of <a href="http://nymediaartsmap.org/" target="_blank">nymediaartsmap.org</a> launching spring 2015. A vital connecting point for cultural organizations and the general public interested in electronic art, media, and film statewide, the new Map will dynamically profile New York Media Arts Organizations and also feature a funding calendar, consultant directory, convening archive, and discussion group. The New York Media Arts Map is made possible through a Regrant Partnership between Wave Farm and the New York State Council on the Arts, Electronic Media and Film Program. Please direct all questions to <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a>.
</p>
<p>Coming soon, made possible through a Regrant Partnership with the New York State Council on the Arts, Electronic Media and Film Program, Wave Farm will manage a significant overhaul of <a href="http://nymediaartsmap.org/" target="_blank">The New York Media Arts Map</a>. A vital connecting point for cultural organizations and the general public interested in electronic art, media, and film statewide, the new Map will dynamically profile New York Media Arts Organizations and also feature a funding calendar, consultant directory, convening archive, and discussion group. Hosted by Rhizome 2009-2013, this map identifies organizations, networks, and related links throughout NYS and beyond, that offer a variety of media arts services and information. 
</p>
<p>
<h2>CONTACT INFORMATION FOR QUESTIONS</h2>
Please contact <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a> with all Map inquiries. Thank you.
</p>

</div>
