<div class="page">
  <h1>FOR MEDIA ART ORGANIZATIONS</h1>
  <p><a href="http://data.free103point9.org/r/hh/kj/hn/PressRelease_MAAF_Orgs_20140501.pdf" target="_new">LATEST NEWS: May 1, 2014 Press Release Announcing 2014 Grantees</a></p>

  <h2>APPLICATION DEADLINES: JANUARY 1, APRIL 1, OCTOBER 1, JULY 1</h2>
  <p>The Media Arts Assistance Fund addresses capacity and technology needs in three areas critical for New York State media arts organizations, who face unique challenges in a field of rapid technology development. Organizations may request funding support up to a maximum amount of $4,000 for:</p>
  <h2>ORGANIZATIONAL DEVELOPMENT</h2>
  <p>Enables organizations to hire consultants to work with organizations in the evaluation and assessment of programs and operations, and planning for sustainability and growth. Proposals must be directed to consultant fees or other professional fees addressing: research, assessment, and evaluation of current programs; research and planning for new initiatives; strategic planning for new operations and partnerships; board development, staff retreats, succession planning; or preservation planning.</p>
  <h2>PROFESSIONAL DEVELOPMENT</h2>
  <p>builds knowledge and technical expertise of media arts organizational staff and Board members. Proposals must be directed to: staff training and education; Board training and education; seminars and workshops; or skill-share exchanges with other media arts facilities in New York State.</p>
  <h2>CONVENING</h2> 
  <p>supports open lines of communication, information, consortium building and resource sharing among media arts organizations, including staff and sponsored artist attendance at New York State conferences. Organizations may apply for conducting one or two-day local, regional or State-wide convening on issues and topics relating to the media arts, and to facilitate  targeted networking, focus groups and think tanks. Proposals may also be directed to attendance at festivals and conferences. Note that for conference attendance, $500 is the maximum award.</p>
    <h2>Eligibility</h2> 
  <p>Project-based or operational support for consultants such as grant writing, hands-on fundraising, website management, or other activities which may be considered staff positions are not eligible.</p>
  <p>Implementation, which may only comprise a part of your project and must be requested in conjunction with a thorough planning process, is not always eligible. Please contact mag@wavefarm.org to discuss any questions you may have about your proposal in this regard.</p>
<h2>APPLICATIONS MUST BE SUBMITTED ONLINE</h2>
  <p>IMPORTANT NOTE: Wave Farm is now using Submittable for the MAAF application submission process. Applicants are strongly encourage to carefully and comprehensively read the information below before submitting an application. Please contact mag@wavefarm.org with questions.</p>
  <!-- Link to the Wave Farm submission manager. --->
<a href="http://wavefarm.submittable.com/submit" target="_new"><img src="//manager.submittable.com/Public/Images/submittable-submit-button.png" alt="submit" border="0" /></a>
<!-- End link to submission manager -->
<h2>APPLICATION QUESTIONS</h2>
  <p>Once you have registered with Submittable, you will have access to the online submission form. Application questions include the following:<br />
<br />
Organization Name<br />
Sponsored Project?<br />
Contact Name <br />
Email Address<br />
Postal Address<br />
County<br />
URL<br />
Phone Number<br />
Organizational Discipline<br />
Type of Project<br />
Composition of Audience<br />
Number of Artists Participating<br />
Number of Youths Benefitting<br />
Number of Individuals Benefitting<br />
Application Category<br />
Request Amount<br />
Proposal Summary<br />
Proposal Narrative<br />
Staff and Attendees<br />
Consultants or Training Organization<br />
Timetable<br />
Budget<br />
Supporting Documents  <br />



  <h2>CONTACT INFORMATION FOR QUESTIONS</h2>
  <p>Questions regarding your application should be directed to <a href="mailto:mag@wavefarm.org">mag@wavefarm.org</a>. Please note that we will respond in as timely a fashion as possible prior to the deadline, however we recommend that you submit all questions well in advance of the application deadline.</p>
  <h2>FREQUENTLY ASKED QUESTIONS</h2>
  <dl class="qa">
    <dt>Are NYSCA grantees eligible?</dt>
    <dd>Yes. Organizations who receive direct NYSCA support (as well as those who do not) are eligible to apply to the Media Arts Assistance Fund.</dd>
  </dl>
    <dl class="qa">
    <dt>Are multi-disciplinary organizations eligible?</dt>
    <dd>  The Media Arts Assistance Fund supports organizations with a strong commitment to media arts programming. Priority is given to organizations whose primary activities are specific to media as an art form including time-based and moving image media, and emergent technology. Multi-disciplinary organizations are eligible to submit requests for support, but should do so only for organizational and professional development projects that specifically address their media arts programs.
</dd>
  </dl>


  <dl class="qa">
    <dt>Is there an operating budget component to eligibility?</dt>
    <dd>No. Organizations of all sizes are eligible.</dd>
  </dl>
  <dl class="qa">
    <dt>How many times a year can an organization apply for support?</dt>
    <dd>Organizations are eligible for support in the Development categories, once each fiscal year. Requests for New York State conference attendance are exempt from this restriction. Past grantees are not eligible to reapply until their most recently funded project is complete and their Final Report is submitted.</dd>
  </dl>
    <dl class="qa">
    <dt>If funded, what is the proper credit language I should use?</dt>
    <dd>"This project is made possible with funds from the Media Arts Assistance Fund, a regrant program of the New York State Council on the Arts, Electronic Media and Film, with the support of Governor Andrew Cuomo and the New York State Legislature; administered by Wave Farm."
 <br /><br />
Note: The NYSCA logo is NOT to be used by regrant recipients, in association with support from the Media Arts Assistance Fund.</dd>
  </dl>
  <h1>FINAL REPORT FORMS FOR CURRENT GRANTEES:</h1>
  <p>Final Reports are due no later than 60 days following the project end-date noted in your submitted application. Organizations who fail to submit their Final Report on time are ineligible
for further support.<br /><br />
    <p>IMPORTANT NOTE: Wave Farm is now using Submittable for the MAAF submission process, including Final Reporting.</p>
  <!-- Link to the Wave Farm submission manager. --->
<a href="http://wavefarm.submittable.com/submit" target="_new"><img src="//manager.submittable.com/Public/Images/submittable-submit-button.png" alt="submit" border="0" /></a>
<!-- End link to submission manager -->

  
  
</div>
