<div class="page">


   <h1>FISCAL SPONSORSHIP</h1> 
  <p>
Wave Farm provides fiscal sponsorship to artists and organizations on a case-by-case basis for projects that are aligned with Wave Farm's organizational mission. Inquiries should be directed to <a href="mailto:info@wavefarm.org">info@wavefarm.org</a> well in advance of any related grant deadline.</p>
 
   <p>Fiscal sponsorship is a formal arrangement in which a 501(c)(3) public charity sponsors a project that may lack exempt status. This alternative to starting your own nonprofit allows you to seek grants and solicit tax-deductible donations under your sponsor's exempt status.</p>
   
   <p>
   Other Artist opportunities at Wave Farm include:<br>
   <li><a href="https://wavefarm.org/ta/residencies">Wave Farm Transmission Art Artist Residency Program open to international artists</a></li>
    <li><a href="https://wavefarm.org/mag/artists#completion">Media Arts Assistance Fund: Completion Support for NYS Media Artists</a></li>
   <li><a href="https://wavefarm.org/mag/artists#distribution">Media Arts Assistance Fund: Distribution/Exhibition Support for NYS Media Artists</a></li>
   <li><a href="https://wavefarm.org/wgxc/volunteer#application">Broadcast opportunities on Wave Farm Radio including WGXC 90.7-FM</a></li></p>   
</div>
